*.pyc
*.DS_Store
entrak/settings.py
logs/*
pip_requirements.txt
Thumbs.db
companies/templates/companies/reports/popup_report - Copy.html
companies/templates/companies/reports/summary - Copy.html
site-static/*