*.pyc
*.DS_Store
entrak/settings.py
logs/*
companies/templates/companies/reports/popup_report - Copy.html
companies/templates/companies/reports/summary - Copy.html
companies/templates/companies/reports/share_report.html
site-static/*
Thumbs.db
*.log
*.pid
celerybeat-schedule
celerybeat
celeryd.conf
celeryd
