amqp==1.4.6
anyjson==0.3.3
apt-xapian-index==0.45
Babel==1.3
backports.ssl-match-hostname==3.4.0.2
billiard==3.3.0.19
celery==3.1.13
certifi==2015.4.28
chardet==2.0.1
Cheetah==2.4.4
cloud-init==0.7.5
colorama==0.2.5
configobj==4.7.2
Django==1.6.5
django-appconf==1.0.1
django-braces==1.8.0
django-compressor==1.5
django-cors-headers==1.1.0
django-debug-toolbar==1.3.0
django-extensions==1.5.3
django-filter==0.9.1
django-grappelli==2.5.3
django-oauth-toolkit==0.9.0
django-profiler==2.0.0
django-user-agents==0.3.0
django-wkhtmltopdf==2.0.2
djangorestframework==3.1.0
docutils==0.11
flake8==2.4.0
flower==0.8.2
futures==3.0.3
gyp==0.1
html5lib==0.999
httpagentparser==1.7.7
httplib2==0.8
ipython==2.1.0
Jinja2==2.7.2
jsonfield==0.9.22
jsonpatch==1.3
jsonpointer==1.0
keyring==3.5
kombu==3.0.24
Landscape-Client==14.12
launchpadlib==1.10.2
lazr.restfulclient==0.13.3
lazr.uri==1.0.3
lxml==3.3.5
Markdown==2.6
MarkupSafe==0.18
mccabe==0.3
mongoengine==0.8.7
oauth==1.0.1
oauthlib==1.0.1
PAM==0.4.2
pbr==0.10.7
pdfkit==0.4.1
pep8==1.5.7
Pillow==2.4.0
prettytable==0.7.2
psycopg2==2.5.3
pycrypto==2.6.1
pycurl==7.19.3
pyflakes==0.8.1
Pygments==1.6
pygobject==3.12.0
pymongo==2.7.1
pyOpenSSL==0.13
pyserial==2.6
python-apt===0.9.3.5ubuntu1
python-dateutil==2.4.1
python-debian===0.1.21-nmu2ubuntu2
pytz==2014.3
PyYAML==3.10
pyzmq==14.6.0
requests==2.3.0
roman==2.0.0
SecretStorage==2.0.0
simplejson==3.3.1
six==1.9.0
South==1.0
Sphinx==1.2.2
sqlparse==0.1.15
ssh-import-id==3.21
statprof==0.1.2
stevedore==1.2.0
tornado==4.2
Twisted-Core==13.2.0
Twisted-Names==13.2.0
Twisted-Web==13.2.0
ua-parser==0.3.6
urllib3==1.7.1
user-agents==0.3.2
uWSGI==2.0.9
virtualenv==1.11.4
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.2
wadllib==1.3.2
Werkzeug==0.10.4
wheel==0.24.0
zope.interface==4.0.5
