{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load entrak_extras %}

{% block ga_page_title %}login{% endblock %}

{% block extra_head %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/tmp/bootstrap_hack.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/kendoui/styles/kendo.common.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/kendoui/styles/kendo.default.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/kendoui/styles/kendo.common-bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/kendoui/styles/kendo.bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/kendoui/styles/kendo.dataviz.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/kendoui/styles/kendo.dataviz.default.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/kendoui/styles/kendo.dataviz.bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/custom_control.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/kendo.entrak.theme.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/activate_account.css' %}">
{% endblock %}

{% block extra_script %}
<script src="{% static 'assets/django/js/ajax.js' %}"></script>
<script src="{% static 'assets/jquery/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'assets/kendoui/js/angular.min.js' %}"></script>
<script src="{% static 'assets/kendoui/js/kendo.all.min.js' %}"></script>
{% endblock %}

{% block content %}
{% get_current_language as LANGUAGE_CODE %}
<div class="system-info-container">
    {% block system_info_container %}
    <div class="system-title">{{system|get_system_full_name:LANGUAGE_CODE}}</div>
    <div class="system-logo">
        <div class="logo-circle-bound" style="background-image: url('{{system.logo.url}}');"></div>
        <img src="{% static 'images/user-logo-bg.png' %}">
    </div>
    {% endblock %}

    <div class="change-lang-block">
        <a lang_code="zh-tw" class="{% ifequal LANGUAGE_CODE 'zh-tw' %}current-lang{% endifequal %}" href="#">繁體中文</a>
        <span> / </span>
        <a lang_code="en" class="{% ifequal LANGUAGE_CODE 'en' %}current-lang{% endifequal %}" href="#">ENGLISH</a>
    </div>

    <div style="display:none;">
        <form class="change-lang-form" action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="language" type="hidden" value="" />
        </form>
    </div>
</div>

<div class="bg-container">
    <img src="{% static 'images/login/bg.png' %}">
</div>

<div class="desc-header">{% trans "Welcome to En-trak<sup>TM</sup>" %}</div>
<div class="desc-content">{% trans "Turning Data into Actionable Intelligence" %}</div>
<div class="login-panel">
    <div>{% trans "To use the En-trak monitor platform, please sign in" %}</div>
    <form method="POST">{% csrf_token %}
        <div>
            <img src="{% static 'images/login/username-icon.png' %}">
            <input type="text" name="username" placeholder='{% trans "Username" %}'>
        </div>
        <div>
            <img src="{% static 'images/login/password-icon.png' %}">
            <input type="password" name="password" placeholder='{% trans "Password" %}'>
        </div>
        <div class="remember-me">
            <label for="remember_me" class="remember-me">
                <input type="checkbox" value="remember_me" name="remember_me" class="remember-me">
                Remember Me
            </label>
        </div>
        <input type="submit" value='{% trans "Sign In" %}'>
    </form>
    {% if warning_msg %}
    <div class="warning-msg">{{warning_msg}}</div>
    {% endif %}
</div>
<div ng-app="entrak">
    <div class="demo-section k-header" ng-controller="MyCtrl">
        <div kendo-window="wndw" id="registration" class="activate-acc" k-title="'Create your En-trak Account'" k-width="620" k-height="600" k-visible="false" k-modal="true" k-actions="[]" k-draggable="false" k-resizable="false">
            <div class="form-horizontal form-widgets">
                <form name="kForm" kendo-validator="validator" ng-submit="validate($event)" class="k-content" ng-model="isValid" k-options="validOptions">
                <div class="sub-header-container">
                    <span class="sub-header">Basic Information</span>
                    <span class="warn-text">All fields are required</span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="firstname">First Name:</label>
                    <input type="text" id="firstname" name="First Name" ng-model="user.first_name" class="k-textbox normal-tb" placeholder="First Name" required validationMessage="required field"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastname">Last Name:</label>
                    <input type="text" id="lastname" name="Last Name" ng-model="user.last_name" class="k-textbox normal-tb" placeholder="Last Name" required validationMessage="required field"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="department">Department:</label>
                    <select kendo-dropdownlist k-option-label="'--Department--'" name="department" ng-model="user.department" id="department" required data-required-msg="required field">
                        <option>Administration</option>
                        <option>Business Development</option>
                        <option>CEO Office / Management</option>
                        <option>Corporate Communcations</option>
                        <option>CSR</option>
                        <option>Customer Services</option>
                        <option>Facilities Management</option>
                        <option>Finance / Accounting</option>
                        <option>Human Resources</option>
                        <option>Information Technology</option>
                        <option>Legal / Compliance</option>
                        <option>Marketing</option>
                        <option>Others</option>
                        <option>Products</option>
                        <option>Purchasing</option>
                        <option>Sales</option>
                    </select>
                    <span class="k-invalid-msg" data-for="department"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="language">Language:</label>
                    <select kendo-dropdownlist k-option-label="'--Language--'" name="language" id="language" ng-model="user.language" required data-required-msg="required field">
                        <option value="en_US">English</option>
                        <option value="zh_TW">繁體中文</option>
                    </select>
                    <span class="k-invalid-msg" data-for="language"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" data-for="email">Email:</label>
                    <span ng-bind="email" name"email"></span>
                        <!--
                        <input type="email" id="email" name="Email" class="k-textbox" ng-value="email" ng-readonly="true" /> -->
                </div>
                <div class="form-note">
                    <span class="note-label">Please note: </span>
                    <span>You will be using this email to login the En-trak Platform.</span>
                </div>
                <div class="separator"></div>
                <div class="sub-header-container">
                    <span class="sub-header">Password</span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">Password:</label>
                    <input type="password" id="password" name="Password" ng-model="user.password" class="k-textbox normal-tb" placeholder="Set Your Password" required data-required-msg="required field" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirm_password">Confirm Password:</label>
                    <input type="password" id="confirm_password" name="Confirm Password" class="k-textbox normal-tb" placeholder="Retype Your Password" required data-required-msg="required field" />
                </div>
                <div class="separator"></div>
                <div class="buttons-wrap">
                    <button class="k-button normal-btn" type="submit" ng-disabled="!isValid">Create Account</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        angular.module("entrak", [ "kendo.directives" ])
            .config(['$httpProvider', function($httpProvider) {
                $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
                $httpProvider.defaults.xsrfCookieName = 'csrftoken';
                $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
            }])

            .controller("MyCtrl", function($scope, $http){

                $scope.user = {}
                $scope.user.uid = "{{uid}}";
                $scope.user.ucode = "{{ucode}}";
                $scope.email = "{{user.email}}";

                $scope.createUser = function() {
                    $http({
                        method : 'POST',
                        url : "{% url 'users.activate_account' user.id %}",
                        contentType: 'application/json; charset=utf-8',
                        data: $scope.user,
                    }).success(function(data, textStatus) {
                        if (data.redirect) {
                            // data.redirect contains the string URL to redirect to
                            window.location.href = data.redirect;
                        }
                        else {
                            // data.form contains the HTML for the replacement form
                            console.log(data);
                        }
                    })
                }

                $scope.validOptions = {
                    rules: {
                        matchpwd: function(input){
                            if ($(input).prop("id") == "confirm_password"){
                                return ($("#password").val() == $("#confirm_password").val());
                            } else {
                                return true;
                            }
                        }
                    },
                    messages: {
                        matchpwd: "Password do not match"
                    }
                }

                $scope.validate = function(event) {
                    event.preventDefault();

                    if ($scope.validator.validate()) {
                        $scope.validationClass = "valid";
                        $scope.createUser();
                    } else {
                        $scope.validationClass = "invalid";
                    }
                }

                setTimeout(function(){ $("#registration").data("kendoWindow").center().open(); }, 500);
            })
    </script>
</div>

<footer class="site-footer">
    <p style="clear: both;"></p>
    <p id="copyright">Copyright © En-trak Hong Kong Ltd 2015. All rights reserved.</p>
    <a href="#"><img id="entrak-logo" src="{% static 'images/powered-by-logo.png' %}"></a>
    <p class="footer-main"></p>
    <p style="clear: both;"></p>
</footer>

{% endblock %}