{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>En-Trak Product Key Management</title>

    <link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/kendoui/styles/kendo.common-bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/kendoui/styles/kendo.common.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/kendoui/styles/kendo.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/forms.css' %}" rel="stylesheet">

    <script src="{% static 'assets/kendoui/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/kendoui/js/angular.min.js' %}"></script>
    <script src="{% static 'assets/django/js/ajax.js' %}"></script>
    <script src="{% static 'assets/kendoui/js/kendo.all.min.js' %}"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>.logo-circle-bound {
      width: 170px;
      height: 170px;
      position: relative;
      top: 1px;
      left: 1px;
      background-size: 170px;
      -webkit-border-radius: 90px;
      -moz-border-radius: 90px;
      border-radius: 90px;
      }
      #user-logo{
      #width: 172px;
      height: 172px;
      margin-top: 15px;
      margin-right: auto;
      padding-bottom: 200px;
      position: relative;
      }
      #user-logo img{
      position: absolute;
      top: 0px;
      }
      #title-text{
      float: left;
      padding-left: 200px;
      padding-top: 55px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div id="user-logo">
        <h1 id="title-text">Product Keys </h1>
        <div class="logo-circle-bound" style="background-image: url('{{company_system.logo.url}}');">
        </div>
        <img src="{% static 'images/user-logo-bg.png' %}">
      </div>
      <div ng-app="Entrak">
        <div ng-controller="MyCtrl">
          <div class="bs-action">
            <form ng-submit="generateKey()" class="pull-left">
              <input type="text" ng-model="keyRemark" class="k-textbox normal-tb ng-pristine ng-touched" >
              &nbsp;<button class="k-button btn btn-default" ng-bind="genKeyButtonText" type="submit"></button>
            </form>
            <div class="clearfix"></div>
          </div>
          <div kendo-grid="grid" k-options="mainGridOptions">
          </div>
        </div>
      </div>
    </div>
    </div>
    <script>
      angular.module("Entrak", [ "kendo.directives" ])
          .config(['$httpProvider', function($httpProvider) {
              $httpProvider.defaults.xsrfCookieName = 'csrftoken';
              $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
          }])
          .controller("MyCtrl", function($scope){

              var keys = new kendo.data.DataSource({
                  transport: {
                      read: {
                          async: true,
                          url: "{% url 'keyserver.key-list' %}",
                          type: 'GET',
                          dataType: "json"
                      },
                      create: {
                          url: "{% url 'keyserver.generate-key' %}",
                          type: "POST",
                          contentType: "application/json"
                      },
                      parameterMap: function (options, operation) {
                          if (operation == "create") {
                              return kendo.stringify(options);
                          }
                      }
                  },
                  pageSize: 30,
                  serverPaging: true,
                  schema: {
                      data: "results",
                      total: "count",
                      model: {
                          id: "id"
                      }
                  }
              });

              $scope.mainGridOptions = {
                  dataSource: keys,
                  sortable: true,
                  scrollable: false,
                  pageable: true,
                  columns: [{
                      field: "key",
                      title: "Product Key",
                  },{
                      field: "remark",
                      title: "Remarks",
                  },{
                      field: "created_at",
                      title: "Generated At",
                  },{
                      field: "created_by.fullname",
                      title: "Generated By"
                  },{
                      field: "activated_at",
                      title: "Activated At",
                  },{
                      field: "activated_by",
                      title: "Activated By",
                      template: function(dataItem) {

                        if (dataItem && dataItem.activated_by && dataItem.activated_by.fullname) {
                          return dataItem.activated_by.fullname;
                        } else {
                          return "N/A";
                        }
                      }
                  }]
              };

              $scope.genKeyButtonText = "Generate New Key"
              $scope.keyIsGenerating = false;

              $scope.generateKey = function() {
                  if (!$scope.keyIsGenerating) {
                      $scope.keyIsGenerating = true;
                      $scope.genKeyButtonText = "Generating....";
                      console.log($scope.keyRemark);
                      keys.add({
                        remark: $scope.keyRemark,
                        created_by: {"fullname": "fullname"}
                      });

                      console.log(keys);
                      keys.sync()
                          .done(function() {
                              $scope.$apply(function(){
                                  $scope.keyIsGenerating = false;
                                  $scope.keyRemark = null;
                                  $scope.genKeyButtonText = "Generate New Key";

                              });
                          })
                          .fail(function(e) {
                              $scope.$apply(function(){
                                  $scope.keyIsGenerating = false;
                                  $scope.keyRemark = null;
                                  $scope.genKeyButtonText = "Generate New Key";
                                  keys.cancelChanges();
                                  console.log("failed");
                              });
                          });
                  };
                  return false;
              };
          })
    </script>
    </div>
  </body>
</html>