{% extends "page_base.html" %}

{% load i18n %}
{% load entrak_extras %}
{% load static %}
{% load humanize %}

{% block ga_page_title %}report{% endblock %}

{% block extra_head %}
{{block.super}}
{% get_current_language as LANGUAGE_CODE %}

<link rel="stylesheet" type="text/css" href="{% static 'css/drop-down-panel.css' %}">

<script src="{% static 'js/jquery-cookie-master/jquery.cookie.js' %}"></script>
<script src="{% static 'js/csrf_ajax.js' %}"></script>
<script src="{% static 'js/moment-with-locales.js' %}"></script>
<script src="{% static 'js/moment-timezone-with-data.min.js' %}"></script>
<script src="{% static 'js/entrak-system.js' %}"></script>
<script src="{% static 'js/entrak-utils.js' %}"></script>
<script src="{% static 'js/report-generator.js' %}"></script>

<link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/tmp/bootstrap_hack.css' %}" rel="stylesheet">
<link href="{% static 'css/companies/export.css' %}" rel="stylesheet">

<script src="{% static 'assets/etkendoui/js/et.datepicker.js' %}"></script>
<script src="{% static 'assets/etkendoui/js/cultures/kendo.culture.en-US.js' %}"></script>
<script src="{% static 'assets/etkendoui/js/cultures/kendo.culture.zh-TW.js' %}"></script>

{% endblock %}

{% block selected-menu-link-id %}menu-link-report{% endblock %}
{% block system_menu_target_view %}report{% endblock %}
{% block breadcrumb_target_view %}report{% endblock %}

{% block page_title %}{% trans "THE DOWNLOAD PAGE" %}{% endblock %}
{% block page_subtitle %}{% trans "Get all your information here at the" %}{% endblock %}

{% block extra_script %}
{{block.super}}
{% endblock %}

{% block page_content %}

{% verbatim %}
<div ng-app="Entrak">
    <div ng-controller="ReportController">
        <div class="row export-base">
            <div class="col-md-4 description">
                <p class="select-text">Simply select the start date, the end date, the interval and the units you'd like to see in your data file.</p>
                <div class="yellow-bottom"></div>
                <img src="/static/images/export/et-helper.png"></img>
            </div>
            <div class="col-md-8 steps">
                <div class="row">
                    <div class="col-md-6 left">
                        <div class="step-label">Step 1</div>
                        <div class="header">Select Time</div>
                        <div class="content bg-calendar">
                            <div class="table-row"></div>
                            <div class="table-row">
                                <h3 class="date-text">Start Date</h3>
                                <input kendo-et-date-picker="dp_date_start" k-ng-model="date_start">
                                <h3 class="date-text top-margin">End Date</h3>
                                <input kendo-et-date-picker="dp_date_end" k-ng-model="date_end">
                            </div>
                            <div class="table-row"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="step-label">Step 2</div>
                        <div class="header">Select Data Interval</div>
                        <div class="content bg-time">
                            <div class="table-row"></div>
                            <div class="table-row">
                                <button ng-click="interval='minute'" class="rect-radio" ng-class="{ 'active': interval=='minute'}">Minute</button><br>
                                <button ng-click="interval='hour'" class="rect-radio" ng-class="{ 'active': interval=='hour'}">Hour</button><br>
                                <button ng-click="interval='day'" class="rect-radio" ng-class="{ 'active': interval=='day'}">Day</button>
                            </div>
                            <div class="table-row"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 left">
                        <div class="step-label">Step 3</div>
                        <div class="header">Select Unit</div>
                        <div class="content bg-unit">
                            <div class="table-row"></div>
                            <div class="table-row">
                                <button ng-click="unit='kwh'" class="rect-radio" ng-class="{ 'active': unit=='kwh'}">kWh</button><br>
                                <button ng-click="unit='money'" class="rect-radio" ng-class="{ 'active': unit=='money'}">Dollar</button><br>
                                <button ng-click="unit='co2'" class="rect-radio" ng-class="{ 'active': unit=='co2'}">CO<sub>2</sub></button>
                            </div>
                            <div class="table-row"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="step-label">Step 4</div>
                        <div class="header">Confirm and Go!</div>
                        <div class="content">
                            <div class="table-row"></div>
                            <div class="table-row">
                                
                            </div>
                            <div class="table-row"></div>
                            <p>From {{ date_start }}</p>
                            <p>To {{ date_end }}</p>
                            <p>Interval {{ interval }}</p>
                            <p>Units {{ unit }}</p>
                            <button ng-disabled="!is_downloadable()" ng-click="download_csv()">Download</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}

<script>
    angular.module("Entrak", [ "kendo.directives" ])
        .controller("ReportController", function($scope){
            $scope.interval = null;
            $scope.unit = null;

            $scope.date_start = new Date();
            $scope.date_start.setHours(0,0,0,0)
            $scope.date_end = new Date($scope.date_start);
            $scope.date_end.setDate($scope.date_end.getDate()+1);

            $scope.is_downloadable = function() {
                return  $scope.interval && $scope.unit && $scope.date_start && $scope.date_end;
            }

            $scope.download_csv = function() {
                var url = "{% url 'companies.export.download' current_system.code %}";
                url += '?start=' + $scope.date_start.toISOString() + '&end=' + $scope.date_end.toISOString() + '&unit=' + $scope.unit + '&interval=' + $scope.interval;

                window.location.assign(url);
            }

    });
</script>
{% endblock %}
