{% extends "page_base.html" %}

{% load i18n %}
{% load entrak_extras %}
{% load static %}
{% load humanize %}

{% block ga_page_title %}report{% endblock %}

{% block extra_head %}
{{block.super}}
{% get_current_language as LANGUAGE_CODE %}

<link rel="stylesheet" type="text/css" href="{% static 'css/drop-down-panel.css' %}">

<script src="{% static 'js/jquery-cookie-master/jquery.cookie.js' %}"></script>
<script src="{% static 'assets/django/js/ajax.js' %}"></script>
<script src="{% static 'js/moment-with-locales.js' %}"></script>
<script src="{% static 'js/moment-timezone-with-data.min.js' %}"></script>
<script src="{% static 'js/entrak-system.js' %}"></script>
<script src="{% static 'js/entrak-utils.js' %}"></script>
<script src="{% static 'js/report-generator.js' %}"></script>

<link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/tmp/bootstrap_hack.css' %}" rel="stylesheet">
<link href="{% static 'css/companies/report_schedule.css' %}" rel="stylesheet">

<script src="{% static 'assets/etkendoui/js/et.datepicker.js' %}"></script>
<script src="{% static 'assets/etkendoui/js/cultures/kendo.culture.en-US.js' %}"></script>
<script src="{% static 'assets/etkendoui/js/cultures/kendo.culture.zh-TW.js' %}"></script>

{% endblock %}

{% block selected-menu-link-id %}menu-link-export{% endblock %}
{% block system_menu_target_view %}report{% endblock %}
{% block breadcrumb_target_view %}report{% endblock %}

{% block page_title %}{% trans "THE DOWNLOAD PAGE" %}{% endblock %}
{% block page_subtitle %}{% trans "Get all your information here at the" %}{% endblock %}

{% block extra_script %}
{{block.super}}
{% endblock %}

{% block page_content %}

{% verbatim %}
<div ng-app="Entrak">
    <div ng-cloak ng-controller="ReportScheduleController" class="auto-report-base" style="height: 420px">
        <div class="row steps">
            <div class="col-md-3 description">
                <p class="desc-text">{{description}}</p>
                <img src="/static/images/export/et-helper.png"></img>
            </div>
            <div class="col-md-3">
                <div class="step-label">{{step1}}</div>
                <div class="header">{{step1Title}}</div>
                <div class="content bg-step1">
                    <select kendo-drop-down-list="systemDropdown"
                            k-data-text-field="'fullname'"
                            k-data-value-field="'id'"
                            k-data-source="systemsDateSource"></select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="step-label">{{step2}}</div>
                <div class="header">{{step2Title}}</div>
                <div class="content bg-step2">
                    <select kendo-drop-down-list="frequencyDropdown">
                        <option value="1">{{freqWeekly}}</option>
                        <option value="2">{{freqMonthly}}</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <input ng-model="taskEmail">
                <button ng-click="confirmAdd()">{{btnConfirm}}</button>
            </div>
        </div>
        <div class="row records">
            <div class="col-md-12">
                <div kendo-grid k-options="taskGridOptions(dataItem)"></div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}

<script>
    angular.module("Entrak", [ "kendo.directives" ])
        .controller("ReportScheduleController", function($scope) {
            $scope.description = '{% trans "Set the system to email you an energy report each month or week, so you can stay informaed and up to date on your energy use." %}';
            $scope.freqWeekly = '{% trans "Weekly" %}';
            $scope.freqMonthly = '{% trans "Monthly" %}';
            $scope.btnConfirm = '{% trans "Confirm" %}';
            $scope.sendTo = '{% trans "Send to:" %}';
            $scope.step1 = '{% trans "Step 1" %}';
            $scope.step2 = '{% trans "Step 2" %}';
            $scope.step3 = '{% trans "Step 3" %}';
            $scope.step1Title = '{% trans "Select Scope" %}';
            $scope.step2Title = '{% trans "Select Frequency" %}';
            $scope.step3Title = '{% trans "Confirm and Go" %}';

            $scope.systemsDateSource = {
                transport: {
                    read: {
                        url: "{% url 'companies.systems.company-systems' current_system.code %}",
                        type: 'GET',
                        dataType: "json"
                    }
                }
            };

            var scheduleTaskDataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "{% url 'companies.report-schedule.tasks' current_system.code %}"
                    },
                    create: {
                        url: "{% url 'companies.report-schedule.create' current_system.code %}",
                        type: "POST",
                        contentType: "application/json"
                    },

                    parameterMap: function(data, type) {
                        if (type == "create") {
                            return kendo.stringify(data);
                        }
                    }
                },
                schema: {
                    model: { id: "id" } // identifier for map to kendo model, must be defined for create, update or delete
                }
            });

            $scope.confirmAdd = function() {
                scheduleTaskDataSource.add(
                    {
                        frequency: $scope.frequencyDropdown.value(),
                        system: $scope.systemDropdown.value(),
                        receivers: [{"email": $scope.taskEmail}]
                    });
                scheduleTaskDataSource.sync();
            };

            $scope.taskGridOptions = function(dataItem) {
                return {
                    dataSource: scheduleTaskDataSource,
                    columns: [
                        { field: "frequency_name", title:"frequency", width: "110px" },
                        { field: "system.fullname", title:"system", width: "110px" },
                        { title: "Receivers",
                          template: function(dataItem) {
                              var arr = $.map(dataItem.receivers, function(r) { return r.email; });
                              return arr.join(',');
                          }
                        }
                    ]
                };
            };

    });
</script>
{% endblock %}
