{% extends "page_base.html" %}

{% load i18n %}
{% load entrak_extras %}
{% load static %}
{% load humanize %}

{% block ga_page_title %}report{% endblock %}

{% block extra_head %}
{{block.super}}
{% get_current_language as LANGUAGE_CODE %}

<link rel="stylesheet" type="text/css" href="{% static 'css/drop-down-panel.css' %}">

<script src="{% static 'js/jquery-cookie-master/jquery.cookie.js' %}"></script>
<script src="{% static 'js/csrf_ajax.js' %}"></script>
<script src="{% static 'js/moment-with-locales.js' %}"></script>
<script src="{% static 'js/moment-timezone-with-data.min.js' %}"></script>
<script src="{% static 'js/entrak-system.js' %}"></script>
<script src="{% static 'js/entrak-utils.js' %}"></script>
<script src="{% static 'js/report-generator.js' %}"></script>

<link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/tmp/bootstrap_hack.css' %}" rel="stylesheet">

<script src="{% static 'assets/etkendoui/js/et.datepicker.js' %}"></script>
<script src="{% static 'assets/etkendoui/js/cultures/kendo.culture.en-US.js' %}"></script>
<script src="{% static 'assets/etkendoui/js/cultures/kendo.culture.zh-TW.js' %}"></script>

{% endblock %}

{% block selected-menu-link-id %}menu-link-export{% endblock %}
{% block system_menu_target_view %}report{% endblock %}
{% block breadcrumb_target_view %}report{% endblock %}

{% block page_title %}{% trans "THE DOWNLOAD PAGE" %}{% endblock %}
{% block page_subtitle %}{% trans "Get all your information here at the" %}{% endblock %}

{% block extra_script %}
{{block.super}}
{% endblock %}

{% block page_content %}

{% verbatim %}
<div ng-app="Entrak">
    <div ng-controller="ReportScheduleController">
        <div class="row">
            <div class="col-md-3">
                Description
            </div>
            <div class="col-md-3">
                <select kendo-drop-down-list
                        k-data-text-field="'fullname'"
                        k-data-value-field="'id'"
                        k-data-source="systemsDateSource"></select>
            </div>
            <div class="col-md-3">
                <select kendo-drop-down-list>
                    <option>Weekly</option>
                    <option>Montly</option>
                </select>
            </div>
            <div class="col-md-3">
                <input >
                <button>Confirm</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div kendo-grid k-options="taskGridOptions(dataItem)"></div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}

<script>
    angular.module("Entrak", [ "kendo.directives" ])
        .controller("ReportScheduleController", function($scope) {
            $scope.systemsDateSource = {
                transport: {
                    read: {
                        url: "{% url 'companies.systems.company-systems' current_system.code %}",
                        type: 'GET',
                        dataType: "json"
                    }
                }
            };

            $scope.taskGridOptions = function(dataItem) {
                return {
                    dataSource: {
                        transport: {
                            read: "{% url 'companies.report-schedule.tasks' current_system.code %}"
                        }
                    },
                    columns: [
                    { field: "id", title:"ID", width: "56px" },
                    { field: "frequency", title:"frequency", width: "110px" }
                    ]
                };
            };

    });
</script>
{% endblock %}
