<div class="widget-container" ng-controller="WidgetBiggestConsumers">
<div class="widget-header row">
    <div class="widget-title col-sm-7">Biggest Consumers</div>
    <div class="widget-toggle col-sm-5">
        <div class="pull-right">
            <button id="week_button_{{widget_id}}" ng-class="{'toggle-primary' : isWeek}" ng-click="toggle(true)" class="toggle-button button-left">Week</button><!--
            --><button id="month_button_{{widget_id}}" ng-class="{'toggle-primary' : !isWeek}" ng-click="toggle(false)" class="toggle-button button-right">Month</button>
        </div>
    </div>
</div>
<div class="widget-content row">
    <div class="widget-message">
        <div class="bc-right-box pull-right first-row">
            <h3>% Change from last month</h3>
        </div>
        <div class="bc-left-box auto-width first-row">
            <h3 class="description-1">Energy cost so far (HKD)</h3>
        </div>
    </div>
    <div class="bc-graph">
        {% verbatim %}
        <table class="horizontal-bars">
            <tr ng-repeat="c in consumers.data()"><td>
                <div class="bc-right-box pull-right">
                    <div class="name-row"></div>
                    <div class="bar-row">
                        <span class="bc-change-percent" ng-class="colorClass(c.percentage_change)" ng-bind="c.percentage_change  | abs | number:2"></span>
                        <span class="bc-percent-unit" ng-class="colorClass(c.percentage_change)">%</span>
                    </div>
                </div>
                <div class="bc-left-box auto-width">
                    <div class="name-row">
                        <div class="name" ng-bind="c.d_name"></div>
                    </div>
                    <div class="bar-row">
                        <img ng-src="/static/images/dashboard/consumer-{{$index+1}}.png"></img>
                        <div class="bar-container">
                            <div class="bar" style="width: {{100 * c.value / consumers.data()[0].value}}%">
                                <span class="bar-value" ng-bind="c.value | number:2"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </td></tr>
        </table>
        {% endverbatim %}
    </div>
</div>
</div>
