{% load i18n %}
{% load entrak_extras %}
{% load static %}
{% load humanize %}

{% verbatim %}
<div class="widget-container goal-widget" ng-controller="WidgetGoalTracking">
    <div class="widget-header row">
        <div class="widget-title col-xs-6">{{title}}</div>
        <div class="widget-toggle col-xs-6">
            <div class="pull-right">
                <select kendo-drop-down-list="goalDropdown" ng-model="selectedGoal" k-on-change="changeGoal()">
                    <option value="0">Goal 1</option>
                    <option value="1">Goal 2</option>
                </select>
                <!-- <div class="long-text-toggle" ng-click="toggle()">
                    <span class="button-left">{{ btnText }}</span><span class="button-right"></span>
                </div> -->
            </div>
        </div>
    </div>
    
    <div class="widget-content row">
        <div class="top-row">
            <span>{{descPart1Text}}</span><br>
            <span class="bold">{{fromDate | dateFmt:'y'}}</span><br>
            <span>{{descPart2Text}}</span><span class="bold">{{goalPercent}}%</span><span>{{descPart3Text}}</span><br>
            <span class="bold">{{compareDate | dateFmt:'y'}}</span>
        </div>
        <div class="second-row">
            <div class="arrow-icon" ng-class="{up : isIncrease}"></div>
            <div class="right-text">
                <span>{{secondRowPart1Text}}</span><span ng-class="{'red-text' : isIncrease, 'green-text' : !isIncrease}">{{reducedText}}</span><br>
                <span>{{secondRowPart2Text}}</span>
                <div class="percent" ng-class="{'red-text' : isIncrease, 'green-text' : !isIncrease}">
                    <span class="percentNum">{{soFarPercent}}</span><span class="percentSign">%</span>
                </div>
            </div>
        </div>
        <div class="third-row">
            <div class="goal-icon"></div>
            <div class="right-text">
                <span>{{thirdRowPart1Text}}</span>
                <div class="percent">
                    <span class="percentNum">{{todoPercent}}</span><span class="percentSign">{{thirdRowPart2Text}}</span>
                </div>
                <span>{{thirdRowPart3Text}}</span><span class="bold">{{fromDate | dateFmt:'D'}}</span><span>{{thirdRowPart4Text}}</span><span class="bold">{{toDate | dateFmt:'D'}}</span>
            </div>
        </div>

    </div>
</div>
{% endverbatim %}