{% load i18n %}
{% load entrak_extras %}
{% load static %}
{% load humanize %}

<div class="widget-container" ng-controller="WidgetLastWeekStats">
    <div class="widget-header row">
        <div class="widget-title col-sm-7">Last Week Stats</div>
        <div class="widget-toggle col-sm-5">
            <div class="pull-right">
                <button id="day_button_{{widget_id}}" class="toggle-primary toggle-button button-left">Day</button><!--
                --><button id="night_button_{{widget_id}}" class="toggle-button button-right">Night</button>
            </div>
        </div>
    </div>
    <div class="widget-content row">
        <div class="widget-message" id="weekday_messages_{{widget_id}}">
            <div class='col-sm-6 left-box'>
                <h3 class="pull-left ">${{ last_week_weekday_average|floatformat:"0"|intcomma }}</h3>
                <div class="clearfix"></div>
                <span class="description-1 ">average weekday</span>
            </div>
            <div class='col-sm-6 right-box'>
                {% if weekday_percentage_change > 0 %}
                    <h3 class="pull-left  red-text">{{weekday_percentage_change|floatformat:0}}</h3>
                    <h4 class="pull-left  red-text">% more</h4>
                {% else %}
                    <h3 class="pull-left  green-text">{{weekday_percentage_change|floatformat:1|slice:"1:"}}</h3>
                    <h4 class="pull-left  green-text">% less</h4>
                {% endif %}
                <div class="clearfix"></div>
                <span class="description-2 ">than two weeks ago</span>
            </div>
        </div>
        <div class="widget-message" id="overnight_messages_{{widget_id}}" style="display: none;">
            <div class='col-sm-6 left-box'>
                <h3 class="pull-left ">${{ last_week_overnight_average|floatformat:"0"|intcomma }}</h3>
                <div class="clearfix"></div>
                <span class="description-1 ">average overnight</span>
            </div>
            <div class='col-sm-6 right-box'>
                {% if overnight_percentage_change > 0 %}
                    <h3 class="pull-left  red-text">{{overnight_percentage_change|floatformat:0}}</h3>
                    <h4 class="pull-left  red-text">% more</h4>
                {% else %}
                    <h3 class="pull-left  green-text">{{overnight_percentage_change|floatformat:1|slice:"1:"}}</h3>
                    <h4 class="pull-left  green-text">% less</h4>
                {% endif %}
                <div class="clearfix"></div>
                <span class="description-2 ">than two weeks ago</span>
            </div>
        </div>
        <div class="yaxis-legend">
            <span class=" legend-label">HKD</span>
        </div>
        <div class="widget-graph">
            <div class="k-content">
                <div id="chart_{{widget_id}}"></div>
            </div>
        </div>
    </div>

    <script>
        var day_usage = {{last_week_weekday_stats|safe}};
        var night_usage = {{last_week_overnight_stats|safe}};
        var dayMax = day_usage[0].value;
        var nightMax = night_usage[0].value;;
        
        for (var i=0; i<day_usage.length; i++){
            dayMax = Math.max(dayMax, day_usage[i].value);
        }

        var dayDiff = dayMax;
        var dayPow = (dayDiff+".").indexOf(".") - 1;
        var dayMaxStep = Math.ceil(dayDiff/Math.pow(10, dayPow)) * Math.pow(10, dayPow);
        var dayStep = dayMaxStep / 4;

        for (var i=0; i<night_usage.length; i++){
            nightMax = Math.max(dayMax, night_usage[i].value);
        }
        var nightDiff = nightMax;
        var nightPow = (nightDiff+".").indexOf(".") - 1;
        var nightMaxStep = Math.ceil(nightDiff/Math.pow(10, nightPow)) * Math.pow(10, nightPow);
        var nightStep = nightMaxStep / 4;


        function createChart{{widget_id}}() {
            $("#chart_{{widget_id}}").kendoChart({
                dataSource: {
                    data: day_usage
                },
                chartArea: {
                    height: 200,
                    margin: 0,
                    background: "#FCFCFC"
                },
                seriesDefaults: {
                    type: "area",

                    opacity: 0.6
                },
                series: [{
                    markers: {visible: true},
                    field: "value",
                    color: "#354960",
                    line: {
                        width: 2
                    }
                }],
                valueAxis: {
                    labels: {
                        format: "{0}",
                        font: "0.857em ITCAvantGardeStd-Bk",
                        color: "#4B4B4B"
                    },
                    line: {
                        visible: false
                    },
                    majorGridLines: {
                        color: "#ECECEC",
                        visible: true
                    },
                    majorUnit: dayStep,
                    max: dayMaxStep,
                    min: 0
                },
                categoryAxis: {
                    field: "weekday",
                    majorGridLines: {
                        color: "#ECECEC",
                        visible: true
                    },
                    labels: {
                        font: "0.857em ITCAvantGardeStd-Bk",
                        color: "#4B4B4B"
                    },
                    line: {
                        color: "#ECECEC",
                        width: 2,
                        visible: true
                    },
                    majorTicks: {
                        size: 0

                    }
                },
                tooltip: {
                    visible: true,
                    //format: "{0}%",
                    template: "# if (value < 1) { # #=kendo.toString(value, 'n2')# # } else if (value < 10) { # #=kendo.toString(value, 'n1') # # } else { # #=kendo.toString(value, 'n0') # # } #",
                    background: "#EFEFEF",
                    border: {
                        color: "#333",
                        width: 2
                    },
                }
            });
        };

        function show_day_usage_{{widget_id}}(){
            $("#night_button_{{widget_id}}").removeClass("toggle-primary");
            $("#day_button_{{widget_id}}").addClass("toggle-primary");
            var chart = $("#chart_{{widget_id}}").data("kendoChart");
            chart.dataSource.data(day_usage);
            $("#overnight_messages_{{widget_id}}").hide();
            $("#weekday_messages_{{widget_id}}").show();
        }

        function show_night_usage_{{widget_id}}(){
            $("#day_button_{{widget_id}}").removeClass("toggle-primary");
            $("#night_button_{{widget_id}}").addClass("toggle-primary");
            var chart = $("#chart_{{widget_id}}").data("kendoChart");
            chart.dataSource.data(night_usage);
            $("#weekday_messages_{{widget_id}}").hide();
            $("#overnight_messages_{{widget_id}}").show();
        }

        $(document).ready(function(){
            createChart{{widget_id}}();
            $("#day_button_{{widget_id}}").click(show_day_usage_{{widget_id}});
            $("#night_button_{{widget_id}}").click(show_night_usage_{{widget_id}});
        });

    </script>
</div>