{% verbatim %}
<div class="widget-container" ng-controller="WidgetRealtime">
    <div class="widget-header row">
        <div class="widget-title col-sm-9">
        	<div class="main-title">Real-Time</div>
        	<div class="title-date">Real-Time</div>
        	<div class="title-time">Real-Time</div>
        </div>
        <div class="widget-toggle col-sm-3">
            <div class="pull-right">
                <div role="group" aria-label="...">
                    <button type="button" class="toggle-primary toggle-button button-left" ng-click="realTimeSelect = 'graph'">Graph</button><!--
                    --><button type="button" class="toggle-button button-right" ng-click="realTimeSelect = 'rates';updateRates();">Rates</button>
                </div>
            </div>
        </div>
    </div>
    <div class="widget-content row">
	    <div class="widget-message2 left-padding-15">
	    	<span class="description-1 message-text">So far today you have used: </span>
	    	<span class="description-4 message-text">${{ total_cost | number:0 }}</span>
	    </div>
	    <div ng-show="realTimeSelect=='graph'">
	        <div kendo-chart="realTimeChart" k-options="realTimeOptions" ></div>
	    </div>
	    <div ng-show="realTimeSelect=='rates'" class="row">
	        <div class="col-sm-6">${{ total_per_day.cost | number:0 }}<h4>per day</h4></div>
	        <div class="col-sm-6">{{ total_per_day.co2 | number:0 }} kg CO<sub>2</sub><h4>per day</h4></div>
	    </div>
    </div>
</div>
{% endverbatim %}
