<div class="widget-container" ng-controller="WidgetTips">
<div class="widget-header row">
    <div class="widget-title col-sm-7">Energy Saving Tips</div>
    <div class="widget-toggle col-sm-5">
        <div class="pull-right">
            <button id="day_button_{{widget_id}}" class="tips-button tips-button-left" ng-click="showNext(-1)"></button><!--
            --><button id="night_button_{{widget_id}}" class="tips-button tips-button-right" ng-click="showNext(1)"></button>
        </div>
    </div>
</div>
<div class="widget-content row">
    <div class="widget-message">
    	<h3 id="tips_short_desc" class="description-1 single-box" ng-bind="shortDesc"></h3>
    </div>
    {% verbatim %}<img ng-src="{{imgPath}}" class="full-width-img"></img>{% endverbatim %}
    <div class="long-desc-holder">
    	<p class="description-3" ng-bind="longDesc"></p>
    </div>
</div>
</div>
