<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>En-Trak Corp</title>

        {% if ANALYTICS_TRACKING %}
        {% block ga_script %}
        <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-55827643-1', {
            'userId': '{{GA_USER_ID}}',
        });
        ga('send', 'pageview', {
            'title': '{% block ga_page_title %}{% endblock %}',
            'dimension2': '{{GA_USER_ID}}',
            {% if SYSTEM_CODE %}'dimension1': '{{SYSTEM_CODE}}',{% endif %}
        });
        </script>
        {% endblock %}
        {% endif %}

        {% block extra_head %}{% endblock %}
        {% block extra_script %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
