{% extends "page_base.html" %}

{% load i18n %}
{% load static %}

{% block extra_head %}
{{block.super}}

<link rel="stylesheet" type="text/css" href="{% static 'css/faq.css' %}">

{% endblock %}

{% block page_content %}

<div class="faq-container">

	<h1>{% trans "Frequently Asked Questions" %}</h1>

	<h2>{% trans "1. What is En-trak™?" %}</h2>
	<div class="faq-wording">{% trans "En-trak™ is a cloud-based energy management analytics software built to help organizations to reduce their energy use, through continuous monitoring, analytics, alarms, reports, awareness and control." %}</div>

	<h2>{% trans "2. What does En-trak™ measure?" %}</h2>
	<div class="faq-wording">{% trans "En-trak™ measures the electricity consumption of your building or office in real-time (every 60 seconds). In most cases, we will breakdown your total electricity consumption into different components by sources - e.g. Lighting, Aircon, Socket; or by areas - e.g. Block A, Block B. The actual circuits measured at your site depend on your requirements and the actual electrical layout of your building." %}</div>

	<h2>{% trans "3. Where is our En-trak™ system installed?" %}</h2>
	<div class="faq-wording">{% trans "The En-trak™ metering equipment is typically installed in a building’s or office main switch room where the power comes in from the utility’s power station and distributes to different parts of the building. In areas requiring more detailed data points, metering equipment may also be installed in other sub-metering locations throughout the building." %}</div>

	<h2>{% trans "4. Can we use En-trak™ offline?" %}</h2>
	<div class="faq-wording">{% trans "En-trak™ is a web-based software system and cannot be accessed offline. However, you can easily download and save your energy information into PDF or Excel for offline viewing and analysis." %}</div>

	<h2>{% trans "5. What browsers do En-trak™ supports?" %}</h2>
	<div class="faq-wording">{% trans "En-trak™ works with most common browsers including Google Chrome, Mozilla Firefox, Safari, and Internet Explorer (IE10+). Older versions of Internet Explorer may have limited functionality." %}</div>

	<h2>{% trans "6. How secure is our information?" %}</h2>
	<div class="faq-wording">{% trans "All information is password protected, so you have complete control over all data. An administrator maintains the ability to change usernames and passwords to ensure privacy. All data is furthermore stored, backup and secured by Amazon Web Service." %}</div>

	<h2>{% trans "7. Why is the energy data from En-trak™ reports different from my monthly bills?" %}</h2>
	<div class="faq-wording">{% trans "To compare the energy data, we need to ensure we are looking at the same period and time of cut-off. By default, En-trak™ shows your monthly energy reports based on a full calendar month i.e. from 1 March to 31 March. However, your electricity bills may have different start/end dates e.g. March 24 – April 25. En-trak™ energy data for any specified time range are calculated from midnight (0000hrs) to midnight (0000hrs), whereas utility companies may check your meters during daytime. This may result in small discrepancies between the two." %}</div>

	<h2>{% trans "8. Where did you obtain the rate of electricity cost and carbon emission as shown in the En-trak™ system?" %}</h2>
	<div class="faq-wording">{% trans "The utility rates and the carbon emission factors used in the En-trak™ are public information obtained from your local electricity company." %}</div>

	<h2>{% trans "9. What is the basis for the food units (burgers, noodles, etc.)?" %}</h2>
	<div class="faq-wording">{% trans "Food energy is usually measured in calories. Electrical energy is usually measured in kilowatt-hours. Because both food and electricity are energy unit and by converting electrical energy use (kWh) into calories of different types of food, it allows occupants to imagine how many burgers their building, school, or office would have to eat to consume enough energy to power all of their appliances. This feature is designed to draw attention and create higher environmental awareness and engagement." %}</div>

	<h2>{% trans "10. Why can’t I view any data bars in our En-trak™ system’s graph?" %}</h2>
	<div class="faq-wording">{% trans "Please first check your network connection status. If you are using 3G/4G data communication plan, make sure the hotspot gateway is working (typically with a green light on). If you are accessing your system via wifi or LAN cable, please check your routers and switches to make sure they are turned on. Once you have confirmed the network status to be ok, please turn off the energy meter(s) - wait for five minutes and re-start the meter. Refresh your browser as necessary. If problem persists, please kindly contact support@en-trak.com for assistance." %}</div>

	<h2>{% trans "11. Someone accidently turned off the router in the switch room. Will we lose our data?" %}</h2>
	<div class="faq-wording">{% trans "No worries. Your energy data are carefully stored inside the En-trak™ meter for up to 3 years. Once the meter is back online, the system will auto-recapture any missing data." %}</div>

</div>

{% endblock %}
