{% extends "base.html" %}

{% load static %}
{% load staticfiles %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/graph.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{% static 'js/superfish-master/dist/css/superfish.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'js/superfish-master/dist/css/superfish-vertical.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'js/datetimepicker-master/jquery.datetimepicker.css' %}">
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="{% static 'js/arboreal.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.min.js' %}"></script>
<script src="{% static 'js/growraf/jquery.flot.growraf.js' %}"></script>
<script src="{% static 'js/tooltip/jquery.flot.tooltip.min.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.selection-customized.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/superfish-master/dist/js/superfish.min.js' %}"></script>
<script src="{% static 'js/morris.js-0.4.3/raphael-min.js' %}"></script>
<script src="{% static 'js/morris.js-0.4.3/morris-customized.js' %}"></script>
<script src="{% static 'js/datetimepicker-master/jquery.datetimepicker-customized.js' %}"></script>
<script src="{% static 'js/graph-chart.js' %}"></script>

<script type="text/javascript">

var graph = {};
graph.sourceChoiceContainerHeight = 0;

function updateDonutChart(data) {
	$("#selection-summary-chart").empty();
	var donutChart = Morris.Donut({
		element: 'selection-summary-chart',
		data: data,
		colors: ['#FFAE20', '#EF7C56', '#35BC99', '#C94CD7', '#587EFF'],
		labelColors: ['#FFAE20', '#EF7C56', '#35BC99', '#C94CD7', '#587EFF'],
		formatter: function (x) { return x + "%"}
	});
	donutChart.on('select', function(i, row){
		$("#selection-summary-value").text(row.orgValue.toFixed(0));
		$("#selection-summary-source").text(row.label);

		var currentUnitCategory = $.grep(graph.unitCategorys, function(unitCategory) {
			return (unitCategory.id === graph.graphChart.currentUnit);
		})[0];
		$("#selection-summary-unit").text(currentUnitCategory.name);
	});
	donutChart.fire("select", 0, data[0]);
}

function formatDtAtStr(dt, rangeType) {
	var formatStr = null;
	if (rangeType === graph.graphChart.RANGE_TYPE_HOUR
		|| rangeType === graph.graphChart.RANGE_TYPE_DAY
		|| rangeType === graph.graphChart.RANGE_TYPE_NIGHT) {
		formatStr = 'D MMM YYYY, ddd';
	} else if (rangeType === graph.graphChart.RANGE_TYPE_WEEK) {
		formatStr = 'D MMM YYYY';
	} else if (rangeType === graph.graphChart.RANGE_TYPE_MONTH) {
		formatStr = 'MMM YYYY';
	}

	return (formatStr !== null) ? dt.format(formatStr) : '';
}

function formatCurrentDtStr(dt, rangeType) {
	var formatStr = null;
	if (rangeType === graph.graphChart.RANGE_TYPE_HOUR
		|| rangeType === graph.graphChart.RANGE_TYPE_DAY
		|| rangeType === graph.graphChart.RANGE_TYPE_NIGHT
		|| rangeType === graph.graphChart.RANGE_TYPE_WEEK) {
		formatStr = 'D MMM YYYY, ddd';
	} else if (rangeType === graph.graphChart.RANGE_TYPE_MONTH) {
		formatStr = 'MMM YYYY';
	} else if (rangeType === graph.graphChart.RANGE_TYPE_YEAR) {
		formatStr = 'YYYY';
	}

	return dt.format(formatStr);
}

function formatDtFromToStr(dt, rangeType) {
	var formatStr = null;
	if (rangeType === graph.graphChart.RANGE_TYPE_HOUR
		|| rangeType === graph.graphChart.RANGE_TYPE_DAY
		|| rangeType === graph.graphChart.RANGE_TYPE_NIGHT) {
		formatStr = 'hh:mma';
	} else if (rangeType === graph.graphChart.RANGE_TYPE_WEEK) {
		formatStr = 'ddd';
	} else if (rangeType === graph.graphChart.RANGE_TYPE_MONTH) {
		formatStr = 'D';
	} else if (rangeType === graph.graphChart.RANGE_TYPE_YEAR) {
		formatStr = 'MMM';
	}

	return dt.format(formatStr);
}

function updateCurrentDtText() {
	$("#current-dt").text(' ' + formatCurrentDtStr(graph.graphChart.currentDt, graph.graphChart.currentRangeType) + ' ');
}

function resetGraphNPanel() {
	$("#source-choice-container input").prop("checked", false);
	graph.graphChart.currentSelectedSourceIdx = [];

	updateCurrentDtText();

	$("#x-axis-slider").slider("values", [0, 0]);

	var selectionSummary = $("#selection-summary");
	if (selectionSummary.css('display') !== 'none') {
		selectionSummary.fadeOut();
	}

	if (graph.graphChart.plot !== null) {
		graph.graphChart.plot.setSelection({
			xaxis: {
				from: 0,
				to: 0,
			}
		});
	}
}

function getNowMoment() {
	// TODO: hardcode now
	// return moment().startOf('hour');
	return moment().year(2014).month(5).date(3).startOf('hour');
}

function retrieveReadingFinished() {
	resetGraphNPanel();
}

function retrieveSummaryFinished() {
	$("#last-consumption-val").text(graph.graphChart.lastConsumption.toFixed(0));
	$("#this-consumption-val").text(graph.graphChart.realtimeConsumption.toFixed(0));

	var diffPercentage = ((Math.abs(graph.graphChart.realtimeConsumption - graph.graphChart.lastConsumption)/graph.graphChart.realtimeConsumption)*100).toFixed(1);
	$("#summary-percentage span").text(diffPercentage);

	var summaryBgImg = null;
	if (graph.graphChart.lastConsumption > graph.graphChart.realtimeConsumption) {
		summaryBgImg = "{% static 'images/summary-lower.png' %}";
	} else if (graph.graphChart.lastConsumption < graph.graphChart.realtimeConsumption) {
		summaryBgImg = "{% static 'images/summary-higher.png' %}";
	} else {
		summaryBgImg = "{% static 'images/summary-neutral.png' %}";
	}
	$("#summary-image").css("background-image", 'url(' + summaryBgImg + ')');

	setTimeout(function() {
		graph.graphChart.getSummary(retrieveSummaryFinished);
	}, 60000);
}

function setupSourceChoice() {
	var choiceContainer = $("#source-choice-container");
	choiceContainer.empty();

	var sourceNames = [];
	$.each(graph.graphChart.systemTree.children, function(idx, subSystem) {
		sourceNames.push(subSystem.data.name);
	});
	$.each(graph.graphChart.systemTree.data.sources, function(sourceIdx, source) {
		sourceNames.push(source.name);
	});

	graph.sourceChoiceContainerHeight = Math.ceil(sourceNames.length/4.0)*22 + 100;

	$.each(sourceNames, function(seriesIdx, sourceName) {
		var choiceHtml = "<div>";
		var checkboxId = "source-checkbox-" + seriesIdx;
		choiceHtml += "<div class='circle-checkbox'><input id='" + checkboxId + "'"
			+ "' type='checkbox' " + "series_idx='" + seriesIdx + "'"
			+ " name='" + sourceName + "'"
			+ " ></input>"
			+ "<label for='" + checkboxId + "'></label></div>"
			+ "<label class='source-label' for='" + checkboxId + "'>" + sourceName + "</label>"
			+ "</div>";
		choiceContainer.append(choiceHtml);
	});

	choiceContainer.find("input").click(function () {
		if (choiceContainer.find("input:checked").length >= 5) {
			choiceContainer.find("input:not(:checked)").prop('disabled', true);
			choiceContainer.find("input:not(:checked)").parent().parent().find(".source-label").addClass('source-label-disabled');
		} else {
			choiceContainer.find("input").prop('disabled', false);
			choiceContainer.find(".source-label").removeClass('source-label-disabled');
		}

		var selectedSeriesIdxs = [];

		choiceContainer.find("input:checked").each(function () {
			var seriesIdx = parseInt($(this).attr("series_idx"), 10);
			selectedSeriesIdxs.push(seriesIdx);
		});

		graph.graphChart.updateSourceChoice(selectedSeriesIdxs);
	});

	$("#source-choice-clear").click(function() {
		choiceContainer.find("input").prop('disabled', false).prop('checked', false);
		choiceContainer.find(".source-label").removeClass('source-label-disabled');
		graph.graphChart.updateSourceChoice([]);
	});
}

$(function() {

	{% for system in user_systems %}
		var system = {};
		system.code = '{{system.code}}';
		system.name = '{{system.name}}';
		system.path = '{{system.path}}';
		system.sources = {};

		{% if forloop.first %}
		graph.userSystemTree = new Arboreal(null, system);
		{% else %}
		parentCodes = $(system.path.split(',')).filter(function(){
			return this != "";
		});
		parentCode = parentCodes[parentCodes.length - 1];
		parentNode = graph.userSystemTree.find(function (node) {
			return node.data.code == parentCode;
		});
		parentNode.appendChild(system);
		{% endif %}
	{% endfor %}

	graph.graphChart = new GraphChart(
		"#chart",
		"#y-axis-slider",
		"#x-axis-slider",
		retrieveReadingFinished);
	graph.graphChart.currentRangeType = graph.graphChart.RANGE_TYPE_DAY;
	graph.graphChart.currentDt = getNowMoment();
	graph.graphChart.currentUnit = graph.graphChart.UNIT_KWH;

	{% for system in systems %}
		var system = {};
		system.code = '{{system.code}}';
		system.name = '{{system.name}}';
		system.path = '{{system.path}}';
		system.sources = {};

		{% if forloop.first %}
		graph.graphChart.systemTree = new Arboreal(null, system);
		{% else %}
		parentCodes = $(system.path.split(',')).filter(function(){
			return this != "";
		});
		parentCode = parentCodes[parentCodes.length - 1];
		parentNode = graph.graphChart.systemTree.find(function (node) {
			return node.data.code == parentCode;
		});
		parentNode.appendChild(system);
		{% endif %}
	{% endfor %}
	graph.graphChart.currentSelectedSystem = graph.graphChart.systemTree;

	{% for source in sources %}
		var source = {};
		source.name = '{{source.d_name}}';
		source.name_tc = '{{source.d_name_tc}}';
		source.order = '{{source.order}}';

		graph.graphChart.addSourceToSystem('{{source.system_code}}', '{{source.id}}', source);
	{% endfor %}

	graph.unitCategorys = [];
	{% for unit_category in unit_categorys %}
		var unitCategory = {};
		unitCategory.id = {{unit_category.id}};
		unitCategory.name = '{{unit_category.name}}';
		unitCategory.imgOff = '{{unit_category.img_off}}';
		unitCategory.imgOn = '{{unit_category.img_on}}';
		unitCategory.bgImg = '{{unit_category.bg_img}}';

		graph.unitCategorys.push(unitCategory);
	{% endfor %}

	$("#y-axis-slider").slider({
		orientation: "vertical",
		animate: "fast",
		create: function(event, ui) {
			var wrapDiv = $('<div>')
			wrapDiv.append($(this).find('a'));
			$(this).append(wrapDiv);
		}
	});

	$("#x-axis-slider").slider({
		range: true,
		min: 0,
		values: [0, 0],
		step: 1,
		animate: "fast",
	});
	graph.graphChart.xAxisSliderCallback = function (ranges, fromDt, toDt, data) {
		var selectionSummary = $("#selection-summary");
		if (fromDt.unix() === toDt.unix()) {
			if (selectionSummary.css('display') !== 'none') {
				selectionSummary.fadeOut();
			}
		} else {
			if (selectionSummary.css('display') === 'none') {
				selectionSummary.fadeIn();
			}
			$("#selection-summary-at span").text(formatDtAtStr(graph.graphChart.currentDt, graph.graphChart.currentRangeType));
			$("#selection-summary-from span").text(formatDtFromToStr(fromDt, graph.graphChart.currentRangeType));
			$("#selection-summary-to span").text(formatDtFromToStr(toDt, graph.graphChart.currentRangeType));

			var total = data.reduce(function (previousVal, current, index, array) {
				return previousVal + current.value;
			}, 0);
			var transformedData = data.map(function (seriesData) {
				var percentage = Math.round((seriesData.value/total)*1000)/10;
				return {label: seriesData.label, value: percentage, orgValue: seriesData.value};
			});
			transformedData.sort(function (a, b) {
				return b.orgValue - a.orgValue;
			});
			updateDonutChart(transformedData);
		}
	};

	setupSourceChoice();

	var subMenuPanel = $("#sub-menu-links ul");
	var subMenu = $("#sub-menu h3").each(function (eleIdx) {
		$(this).click({connectedPanel: subMenuPanel[eleIdx]}, function (event) {
			var connectedPanel = $(event.data.connectedPanel);
			if (!(connectedPanel.hasClass('selected-submenu'))) {
				subMenuPanel.filter(".selected-submenu").removeClass('selected-submenu').hide();
				connectedPanel.addClass('selected-submenu').fadeIn();
			}

			if ($(connectedPanel).attr('id') === "source-choice") {
				$("#sub-menu-links").height(graph.sourceChoiceContainerHeight + "px");
			} else if ($(connectedPanel).attr('id') === "day-choice") {
				$("#sub-menu-links").height("125px");
			} else {
				$("#sub-menu-links").height("95px");
			}

			var menuLinks = $('#sub-menu-links');
			if (menuLinks.css("display") === 'none') {
				menuLinks.slideToggle(700, "easeOutBounce", function() {});
			}
		});
	});
	$("#unit-choice").addClass('selected-submenu').show();

	$('#expand-menu-btn').click(function () {
		var menuLinks = $('#sub-menu-links');
		if (menuLinks.css('display') === 'none') {
			$(this).css({transform: 'rotate(180deg)'});
		} else {
			$(this).css({transform: 'rotate(0deg)'});
		}
		menuLinks.slideToggle(700, "easeOutBounce", function() {});
	});

	var unitChoice = $('#unit-choice');
	$.each(graph.unitCategorys, function(idx, unitCategory) {
		var unitLiDom = $("<li unit_category='" + unitCategory.id + "'>"
			+ "<img src='{% get_static_prefix %}images/unit/" + unitCategory.imgOff + "'>"
			+ "</li>");
		unitLiDom.find('img').hover(function() {
			$(this).attr("src", "{% get_static_prefix %}images/unit/" + unitCategory.imgOn);
		}, function() {
			$(this).attr("src", "{% get_static_prefix %}images/unit/" + unitCategory.imgOff);
		});
		unitChoice.append(unitLiDom);
	});
	unitChoice.find("li").click(function () {
		graph.graphChart.updateUnit(parseInt($(this).attr("unit_category"), 10));
	});

	var timeRangeTypes = [graph.graphChart.RANGE_TYPE_DAY, graph.graphChart.RANGE_TYPE_NIGHT,
		graph.graphChart.RANGE_TYPE_WEEK, graph.graphChart.RANGE_TYPE_MONTH,
		graph.graphChart.RANGE_TYPE_YEAR, graph.graphChart.RANGE_TYPE_HOUR];
	var timeChoice = $("#time-choice");
	$.each(timeRangeTypes, function(idx, rangeType) {
		var timeLiDom = $("<li id='time-choice-" + rangeType + "-icon' range_type='" + rangeType + "'></li>");
		timeLiDom.insertBefore("#select-dt-section");
	})
	timeChoice.find("li").click(function () {
		var newRangeType = $(this).attr("range_type");
		if (graph.graphChart.currentRangeType !== newRangeType) {
			graph.graphChart.currentDt = graph.graphChart.genStartEndDt(getNowMoment(), newRangeType).startDt;
			graph.graphChart.updateCurrentRangeType(newRangeType);
			resetGraphNPanel();
		}
	});

	graph.graphChart.getSourceReadings();

	var menuTreeDom = null;
	graph.userSystemTree.traverseDown(function (node) {
		var aDom = $('<a href="#" onclick="return false;">' + node.data.name +'</a>');
		aDom.click({node: node}, function(event) {
			if (graph.userSystemTree.data.node !== event.data.node) {
				window.location.href = "/" + event.data.node.data.code + "/graph/";
			}
		});
		var appendDom = $('<li system_code="' + node.data.code + '">');
		appendDom.append(aDom);

		var parentNode = node.parent;
		if (parentNode !== null) {
			var targetDom = null;
			var parentDom = menuTreeDom.find('*').andSelf().filter("li[system_code='" + parentNode.data.code + "']");
			var ulDoms = parentDom.find("> ul");
			if (ulDoms.length === 0) {
				targetDom = $("<ul></ul>");
				parentDom.append(targetDom);
			} else {
				targetDom = ulDoms;
			}

			targetDom.append(appendDom);
		} else {
			menuTreeDom = appendDom;
		}
	});
	$("#system-menu ul").append(menuTreeDom);

	$('#system-menu').superfish({
	});

	Date.parseDate = function( input, format ){
		return moment(input,format).toDate();
	};
	Date.prototype.dateFormat = function( format ){
		return moment(this).format(format);
	};
	var dtPickerFormat = "D MMM YYYY, dddd";
	$("#current-dt-picker").datetimepicker({
		format: dtPickerFormat,
		formatTime: "h:mm a",
		formatDate: "DD.MM.YYYY",
		scrollMonth: false,
		timepicker: false,
		onSelectDate: function(input) {
			graph.graphChart.updateCurrentDt(moment(input).startOf('hour'));
			resetGraphNPanel();
		}
	});

	$("#custom-calendar-icon").click(function () {
		$('#current-dt-picker').datetimepicker('show');
	})

	$("#dt-prev-icon").click(function () {
		graph.graphChart.goPrev();
		resetGraphNPanel();
	});
	$("#dt-next-icon").click(function () {
		graph.graphChart.goNext();
		resetGraphNPanel();
	});
	$("#dt-now-icon").click(function() {
		graph.graphChart.updateCurrentDt(getNowMoment());
		resetGraphNPanel();
	});

	$("#clear-graph").click(function () {
		resetGraphNPanel();
	});

	resetGraphNPanel();

	// graph.graphChart.getSummary(retrieveSummaryFinished);
});

</script>
{% endblock %}

{% block content %}

<div id="page-container">

	<!-- Left Sidebar Main -->
	<div id="menu">

		<!-- User's Company Logo -->			
		<div id="user-logo">
			<img src="{% static 'images/user-logo-bg.png' %}" usemap="#config">
			
			<map name="config">
				<area shape="circle" coords="164,22,25" href="#" alt="config">
			</map>
		</div>
				
		<!-- User's Company Name -->
		<h2 id="company">OTIS WORLD WIDE</h2>

		<!-- Main Sidebar Links -->
		<nav>
			<ul id="menu-links">
				<li>
					<a href="#"><img width="26" height="22" src="{% static 'images/home-icon.png' %}"><span>Home</span></a>
				</li>
				<li>
					<a href="#"><img width="26" height="22" src="{% static 'images/graph-icon.png' %}"><span>Graph</span></a>
				</li>
				<li>
					<a href="#"><img width="26" height="23" src="{% static 'images/ranking-icon.png' %}"><span>Ranking</span></a>
				</li>
				<li>
					<a href="#"><img width="26" height="23" src="{% static 'images/progress-icon.png' %}"><span>Progress</span></a>
				</li>
				<li>
					<a href="#"><img width="26" height="24" src="{% static 'images/reports-icon.png' %}"><span>Reports</span></a>
				</li>
				<li>
					<a href="#"><img width="26" height="22" src="{% static 'images/display-icon.png' %}"><span>Display</span></a>
				</li>
				<li>
					<a href="#"><img width="31" height="21" src="{% static 'images/prov-icon.png' %}"><span>Pro V</span></a>
				</li>
				<li>
					<a href="#"><img width="23" height="22" src="{% static 'images/settings-icon.png' %}"><span>Settings</span></a>
				</li>
				<li>
					<a href="#"><img width="23" height="24" src="{% static 'images/logout-icon.png' %}"><span>Logout</span></a>
				</li>
			</ul>
		</nav>

	</div>	
	<!-- Left Sidebar Main End -->
	
	<!-- Main Content -->
	<div class="right-content">
		
		<!-- Blue Bar top -->
		<div class="blue-bar"></div>

		<!-- Header -->
		<div id="header">

			<!-- Image Carousel - Illustrations -->
			<div id="image-carousel"></div>
			
			<!-- Header Wording -->
			<div id="heading"><h1> Graph - Days </h1></div>
			<div id="sub-heading"><h2> Check this out!</h2></div>

		</div>
		<!-- Header End -->
		
		<!-- Blue Bar bottom -->
		<div class="blue-bar"></div>

		<div id="sub-heading-facilities">

			<ul id="system-menu" class="sf-menu">
				<li>
					<a><img src="{% static 'images/menu-icon.png' %}"></a>
					<ul></ul>
				</li>
			</ul>

			<span><h3>You are viewing:</h3></span>
			<span id="breadcrumbs-path">
				{% for code in system_path_components %}
				<a href="{% url 'graph' system_code=code %}">{{code}}</a>
					{% if not forloop.last %}
					<span>-</span>
					{% endif %}
				{% endfor %}
			</span>
		</div>

		<div class="graph-component">
			<div id="graph-panel-header">
				<!-- Sub Menu Item -->
				<div id="sub-menu">
					<!-- write this way to remove space between inline-blocks -->
					<!-- http://css-tricks.com/fighting-the-space-between-inline-block-elements/ -->
					<h3 id="sub-menu-unit">
						Unit</h3><h3 id="sub-menu-time">
						Time</h3><h3 id="sub-menu-source">
						Source</h3><h3 id="sub-menu-days">Days</h3>
					<img id="expand-menu-btn" src="{% static 'images/expandable_button.png' %}">
				</div>

				<!-- Date -->
				<p id="dt-panel">
					<img id="dt-next-icon">
					<img id="dt-now-icon">
					<img id="dt-prev-icon">
					<span id="current-dt"></span>
					<span style='clear: both;'></span>				
				</p>
			</div>

			<!-- Sub Menu Item Links -->
			<div id="sub-menu-links">
				<ul id="unit-choice"></ul>
				<ul id="time-choice">
					<div id="select-dt-section">
						<div>CUSTOM SELECT</div>
						<img id="custom-calendar-icon">
						<input type="text" id="current-dt-picker">
					</div>
				</ul>
				<ul id="source-choice">
					<div class="choice-panel">
						<div class="choice-header">Compare between Sources 
							<span style="font-weight: lighter; font-size: 12px;">(Max 5)</span>
							<span id="source-choice-clear" class="choice-clear">Clear all</span>
						</div>
						<hr>
						<div id="source-choice-container"></div>
						<div style="clear: both;"></div>
					</div>
				</ul>
				<ul id="day-choice">
					<div class="choice-panel">
						<div class="choice-header">Compare between days
							<span id="day-choice-clear" class="choice-clear">Clear all</span>
						</div>
						<hr>
						<div class="day-choice-block">
							<div>
								<div class='circle-checkbox'>
									<input type='checkbox' id="compare-prev-checkbox"></input>
									<label for="compare-prev-checkbox"></label>
								</div>
								<label for="compare-prev-checkbox" style="color: #F7AF25;">Previous</label>
							</div>
							<div>
								<img src="{% static 'images/compare-previous.png' %}">
								<span id="compare-prev-date"></span>
							</div>
						</div>
						<div class="day-choice-block" style="left: 200px;">
							<div>
								<div class='circle-checkbox'>
									<input type='checkbox' id="compare-highest-checkbox"></input>
									<label for="compare-highest-checkbox"></label>
								</div>
								<label for="compare-highest-checkbox" style="color: #ED6D43;">Highest</label>
							</div>
							<div>
								<img src="{% static 'images/compare-highest.png' %}">
								<span id="compare-highest-date"></span>
							</div>
						</div>
						<div class="day-choice-block" style="left: 400px;">
							<div>
								<div class='circle-checkbox'>
									<input type='checkbox' id="compare-lowest-checkbox"></input>
									<label for="compare-lowest-checkbox"></label>
								</div>
								<label for="compare-lowest-checkbox" style="color: #35BC99;">Lowest</label>
							</div>
							<div>
								<img src="{% static 'images/compre-lowest.png' %}">
								<span id="compare-lowest-date"></span>
							</div>
						</div>
						<div class="day-choice-block" style="left: 600px;">
							<div>
								<div class='circle-checkbox'>
									<input type='checkbox' id="compare-custom-checkbox"></input>
									<label for="compare-custom-checkbox"></label>
								</div>
								<label for="compare-custom-checkbox" style="color: #587EFF;">Custom date selection</label>
							</div>
							<div>
								<img src="{% static 'images/compare-calendar.png' %}">
								<span id="compare-custom-date"></span>
							</div>
						</div>
					</div>
				</ul>
			</div>
			<div style="clear: both;"></div>

			<!-- Simple bar for decoration -->
			<div id="main-graph-bar"></div>
		</div>

		<!-- Main Graph -->
		<div id="graph-panel" class="graph-component">
			<div id="chart"></div>
			<div id="y-axis-slider"></div>
			<div id="x-axis-slider"></div>

			<div id="selection-summary">
				<div id="selection-summary-left">
					<p id="selection-summary-at">Amount of energy consumed on:<span></span></p>
					<p id="selection-summary-from">from:<span></span></p>
					<p id="selection-summary-to">to:<span></span></p>
					<p id="selection-summary-equal">which equates to:</p>
					<p id="selection-summary-value-container">
						<span id="selection-summary-value"></span>
						<span id="selection-summary-unit"></span>
					</p>
				</div>
				<div id="selection-summary-right">
					<div id="selection-summary-chart"></div>
					<p id="selection-summary-source"></p>
				</div>
				<p style="clear: both;"></p>
			</div>
		</div>
		<!-- Main Graph Ends -->

		<!-- Summary -->
		<div id="summary">
			<div id="summary-header"><img src="{% static 'images/summary.png' %}"></div>

			<div id="summary-image">
				<div id="last-summary">
					<p class="summary-text">This time last week you had used </p>
					<img class="electricity-icon" src="{% static 'images/red-electricity.png' %}">
					<span id="last-consumption-val" class="consumption-val"></span><span class="consumption-unit">kwh</span>
				</div>

				<div id="this-summary">
					<p class="summary-text">So far today you have used </p>
					<img class="electricity-icon" src="{% static 'images/green-electricity.png' %}">
					<span id="this-consumption-val" class="consumption-val"></span><span class="consumption-unit">kwh</span>
				</div>

				<div id="summary-percentage">
					<span></span>
				</div>
			</div>

			<a href="{% url 'progress' system_code=systems.0.code %}">See Details &#9654;</a>
		</div>
		<!-- Summary Ends -->

	</div>
	<!-- Main Content Ends -->
</div>
<!-- Page Container Ends -->

<!-- Footer  -->
<footer class="site-footer">
	<p style="clear: both;"></p>
	<p id="copyright">Copyright © En-trak Pte Ltd 2014. All rights reserved.</p>
	<a href="#"><img id="entrak-logo" src="{% static 'images/entrakLogo.png' %}"></a>
	<p id="disclaimer_main"><a class="disclaimer" href="#">Print </a>
	<a class="disclaimer" href="#"> |  Contact & Support</a>
	<a class="disclaimer" href="#"> |  Settings</a>
	<a href="#" class="disclaimer"> |  Legal </a>
	<a class="disclaimer" href="#"> |  Download</a></p>				
	<p style="clear: both;"></p>
</footer>

{% endblock %}
