{% extends "base.html" %}

{% load staticfiles %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/chart.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="{% static 'js/arboreal.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.min.js' %}"></script>
<script src="{% static 'js/growraf/jquery.flot.growraf.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/graph.js' %}"></script>

<script type="text/javascript">

var graph = null;

$(function() {

	graph = new Graph("#chart", "#source-choice", "#y-axis-slider");
	graph.currentRangeType = graph.RANGE_TYPE_DAY;
	// TODO: hardcode now
	// graph.currentDt = moment().startOf('hour');
	graph.currentDt = moment().year(2014).month(5).date(3).startOf('hour');
	graph.currentUnit = graph.UNIT_KWH;

	{% for system in systems %}
		var system = {};
		system.code = '{{system.code}}';
		system.name = '{{system.name}}';
		system.path = '{{system.path}}';
		system.sources = {};
		if (system.path == 'None') {
			graph.systemTree = new Arboreal(null, system);
		} else {
			parentCodes = $(system.path.split(',')).filter(function(){
				return this != "";
			});
			parentCode = parentCodes[parentCodes.length - 1];
			parentNode = graph.systemTree.find(function (node) {
				return node.data.code == parentCode;
			});
			parentNode.appendChild(system);
		}
	{% endfor %}
	graph.currentSelectedSystem = graph.systemTree;

	{% for source in sources %}
		var source = {};
		source.name = '{{source.d_name}}';
		source.name_tc = '{{source.d_name_tc}}';
		source.order = '{{source.order}}';
		source.units = {};

		{% for category, cat_id in source.units.items %}
			source.units['{{category}}'] = {{cat_id}};
		{% endfor %}

		graph.addSourceToSystem('{{source.system_code}}', '{{source.id}}', source);
	{% endfor %}

	var unitCategorys = [];
	{% for unit in units %}
		var unit = {};
		unit.category = '{{unit.category}}';
		unit.catName = '{{unit.cat_name}}';
		unit.catId = {{unit.cat_id}};
		unit.name = '{{unit.name}}';
		unit.rate = {{unit.rate}};
		unit.effectiveDate = moment.unix({{unit.effective_date|date:"U"}});
		unit.order = {{unit.order}};

		graph.units.push(unit);
	{% endfor %}

	$("#y-axis-slider").slider({
		orientation: "vertical",
		animate: "fast",
	});

	var distinctUnitCategorys = [];
	var unitChoice = $('#unit-choice');
	$.each(graph.units, function(idx, unit) {
		if ($.inArray(unit.category, distinctUnitCategorys) === -1) {
			distinctUnitCategorys.push(unit.category);
			var buttonHtml = "<button unit_category='" + unit.category + "'>"
				+ unit.category +  "</button>";
			unitChoice.append(buttonHtml);
		}
	});

	unitChoice.find("button").click(function () {
		graph.updateUnit($(this).attr("unit_category"));
	});

	graph.getSourceReadings();

});

</script>
{% endblock %}

{% block content %}

<div id="chart" class='chart'></div>
<div id="source-choice"></div>
<div id="y-axis-slider"></div>
<div id="unit-choice">
	<button unit_category='kwh'>kwh</button>
</div>

{% endblock %}
