{% extends "page_base.html" %}

{% load i18n %}
{% load entrak_extras %}
{% load static %}
{% load humanize %}

{% block ga_page_title %}report{% endblock %}

{% block extra_head %}
{{block.super}}
{% get_current_language as LANGUAGE_CODE %}

<link rel="stylesheet" type="text/css" href="{% static 'css/drop-down-panel.css' %}">

<script src="{% static 'js/jquery-cookie-master/jquery.cookie.js' %}"></script>
<script src="{% static 'assets/django/js/ajax.js' %}"></script>
<script src="{% static 'js/moment-with-locales.js' %}"></script>
<script src="{% static 'js/moment-timezone-with-data.min.js' %}"></script>
<script src="{% static 'js/entrak-system.js' %}"></script>
<script src="{% static 'js/entrak-utils.js' %}"></script>

<link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/tmp/bootstrap_hack.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/custom_control.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/manage_account.css' %}">

<script src="{% static 'assets/etkendoui/js/et.dropdown.js' %}"></script>
<script src="{% static 'assets/etkendoui/js/cultures/kendo.culture.en-US.js' %}"></script>
<script src="{% static 'assets/etkendoui/js/cultures/kendo.culture.zh-TW.js' %}"></script>


{% endblock %}

{% block page_title %}{% trans "THE SETTINGS PAGE" %}{% endblock %}
{% block page_subtitle %}{% trans "Find out what you can set here at" %}{% endblock %}

{% block extra_script %}
{{block.super}}
{% endblock %}

{% block page_content %}

{% verbatim %}

<div id="myApp" ng-app="Entrak">
    <div ng-controller="myCtrl" class="manage-acc">
        <div class="k-header">
            <div class="header-tab">My Profile</div><!--
            --><div class="header-tab selected-tab">Manage Accounts</div>
        </div>

        <button class='k-button normal-btn userAcc' ng-click="showCreateUserAccountWindow()">Create User Account</button>
        <img class="info-icon" src="/static/images/info-icon.png"></img>
        <kendo-grid options="priGridOptions">
        </kendo-grid>
        <div kendo-window="createUserAccountWindow" class="popup-window" id="createUserAccountWindow" k-title="'Create Individual Account'" k-options="createOpt" k-width="400" k-height="190" k-visible="false" k-modal="true" k-draggable="false" k-resizable="false" ng-cloak>
            <div class="form-horizontal form-widgets">
                <form name="kForm" class="k-content">
                    <div class="popup-text">Send an invitation link to:</div>
                    <div id="userEmail"></div>
                    <div class="submitted-text" ng-class="{'error-text' : !isCreated}" ng-bind="userAccountMessage"></div>
                    <div class="buttons-wrap">
                        <button class="k-button normal-btn" ng-disabled="!isCreated && !hasEmail || isCreating" ng-click="createUserAccount()">{{userAccountButtonText}}</button>
                    </div>
                </form>
            </div>
        </div>
        <div kendo-window="resendEmailWindow" id="resendEmailWindow" k-title="'Resend Invitation'" k-width="400"class="popup-window" k-options="resendOpt" k-height="155" k-visible="false" k-modal="true" k-draggable="false" k-resizable="false">
            <div class="form-horizontal form-widgets">
                <form name="kForm" class="k-content">
                    <div class="title-text">Send email invitation to</div>
                    <div ng-cloak class="content-text" ng-bind="resendEmailAddress"></div>
                    <div class="buttons-wrap">
                        <button ng-cloak ng-disabled="isResending" class="k-button normal-btn" ng-click="resendEmail()">{{resendEmailButtonText}}</button>
                    </div>
                    <div ng-cloak class="action-msg" ng-bind="resendEmailMessage"></div>
                </form>
            </div>
        </div>
        <div kendo-window="confirmDeleteWindow" class="popup-window" id="confirmDeleteWindow" k-title="'Delete Account'" k-width="400" k-height="226" k-visible="false" k-modal="true" k-draggable="false" k-resizable="false">
            <div class="form-horizontal form-widgets">
                <div class="title-text">Are you sure you want to delete</div>
                <div ng-cloak class="content-text" ng-bind="removeAccountEmail"></div>
                <div class="buttons-wrap">
                    <button class="k-button normal-btn cancel" ng-click="confirmDeleteWindow.close()">Cancel</button>
                    <button class="k-button normal-btn" ng-click="removeAccount()">Confirm</button>
                </div>
                <div ng-cloak class="action-msg" ng-bind="removeAccountMessage"></div>
            </div>
        </div>
        <div class="ng-cloak profile profile-popup" kendo-window="resetPasswordWindow" id="resetPasswordWindow" k-title="'Change Password'" k-width="368" k-height="360" k-visible="false" k-modal="true" k-draggable="false" k-resizable="false">
            <div class="form-horizontal form-widgets">
                <form name="kForm" kendo-validator="pwdValidator" k-options="validOptions" ng-submit="validate($event, true)" class="k-content down-err-txt" ng-model="isPwdValid">
                <div class="form-group">
                    <label class="control-label" for="current_password">Current Password</label>
                    <div class="col-sm-12">
                        <input type="password" id="current_password" name="Current Password" ng-model="resetPwdUser.current_password" class="k-textbox normal-tb popup-input" placeholder="Set Your Password" required data-required-msg="required field" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">New Password</label>
                    <div class="col-sm-12">
                        <input type="password" id="new_password" name="New Password" ng-model="resetPwdUser.password" class="k-textbox normal-tb popup-input" placeholder="Set Your Password" required data-required-msg="required field" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirm_password">Confirm Password</label>
                    <div class="col-sm-12">
                        <input type="password" id="confirm_password" name="Confirm Password" class="k-textbox normal-tb popup-input" placeholder="Retype Your Password" required data-required-msg="required field" ng-model="resetPwdUser.confirm_password"/>
                    </div>
                </div>
                <div class="buttons-wrap">
                    <button class="k-button normal-btn" type="submit" ng-disabled="!isPwdValid">Save</button>
                </div>
                </form>
            </div>
        </div>
        <button class='k-button normal-btn sharedAcc' ng-click="showCreateSharedAccountWindow()">Create Shared Account</button>
        <kendo-grid options="secGridOptions" class="sharedAcc">
        </kendo-grid>
        <div kendo-window="createSharedAccountWindow" id="createSharedAccountWindow" k-title="'Create Account'" k-width="380" k-height="380" k-visible="false" k-modal="true" k-draggable="false" k-resizable="false" ng-cloak class="popup-window">
            <div class="form-horizontal form-widgets">
                <form name="kForm" kendo-validator="sharedAccValidator" k-options="validOpt" ng-submit="validate($event)" class="k-content down-err-txt" ng-model="sharedAccValid">
                <div class="form-group">
                    <label class="control-label" for="username">Username:</label>
                    <input type="username" id="username" name="Username" ng-model="user.username" class="k-textbox normal-tb" placeholder="Username" required data-required-msg="required field" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="share_password">Password:</label>
                    <input type="password" id="share_password" name="Password" ng-model="user.password" class="k-textbox normal-tb" placeholder="Password" required data-required-msg="required field" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="share_confirm_password">Confirm Password:</label>
                    <input type="password" id="share_confirm_password" name="Confirm Password" class="k-textbox normal-tb" placeholder="Retype Password" required data-required-msg="required field" />
                </div>
                <div class="buttons-wrap">
                    <button ng-disabled="!sharedAccValid" class="k-button normal-btn">{{sharedAccountButtonText}}</button>
                    <button ng-show="true" class="k-button normal-btn cancel" ng-click="createSharedAccountWindow.close()">Cancel</button>
                </div>
                <div ng-bind="sharedAccountMessage"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<script id="rowTemplate" type="text/x-kendo-tmpl">
    # if (is_email_verified == true) { #
    <tr data-uid="#: uid #">
        <td class='empty-img'> ${fullname} </td>
        <td> ${email} </td>
        <td> ${language} </td>
        <td> ${department} </td>
        <td> <img class='delete-icon' src='/static/images/delete-icon.png' ng-click='confirmDeleteAccount(dataItem)'></img> </td>
    </tr>
    # } else { #
    <tr data-uid="#: uid #">
        <td> <img class='attention-icon' src='/static/images/attention-icon.png'></img><span>Account Not Activated</span></td>
        <td> ${email} </td>
        <td> </td>
        <td> <button class='k-button normal-btn' ng-click='showResendEmail(dataItem)'>Resend Invitation</button> </td>
        <td> <img class='delete-icon' src='/static/images/delete-icon.png' ng-click='confirmDeleteAccount(dataItem)'></img> </td>
    </tr>
    # } #
</script>
{% endverbatim %}

<script>
    angular.module("Entrak", [ "kendo.directives" ])
        .controller("myCtrl", function($scope, $http){

            var etDropDown = new EtDropDown($("#userEmail"));
            etDropDown.setOptions({onchange: function(){
                $scope.hasEmail = etDropDown.value().length > 0;
                if(!$scope.$$phase) {
                    $scope.$apply();
                }
            }});

            $scope.validOpt = {
                rules: {
                    matchpwd: function(input){
                        if ($(input).prop("id") == "share_confirm_password"){
                            return ($("#share_password").val() == $("#share_confirm_password").val());
                        } else {
                            return true;
                        }
                    }
                },
                messages: {
                    matchpwd: "Password do not match"
                }
            }

            $scope.validate = function(event) {
                event.preventDefault();
                if ($scope.sharedAccValidator.validate()) {
                    $scope.validationClass = "valid";
                    $scope.createSharedAccount();
                } else {
                    $scope.validationClass = "invalid";
                }
            }

            var individual_users = new kendo.data.DataSource({
                transport: {
                    read: {
                        async: true,
                        url: "{% url 'companies.users' system.code %}",
                        type: 'GET',
                        dataType: "json"
                    },
                    create: {
                        url: "{% url 'users.create_individual_users' %}",
                        type: "POST",
                        contentType: "application/json"
                    },
                    parameterMap: function (options, operation) {
                        if (operation == "create") {
                            return kendo.stringify(options);
                        }
                    }
                },
                schema: {
                    data: function (data) {
                        return data;
                    },
                    total: function (data) {
                        return data['odata.count'];
                    },
                    model: {
                        fields: {
                            id: { type: "number" },
                            fullname: { type: "string" },
                            department: { type: "string" },
                            language: { type: "string" },
                            email: { type: "string" },
                            is_email_verified: { type: "boolean" },
                            is_personal_account: { type: "boolean" }
                        }
                    }
                },
                filter: {field: "is_personal_account", operator: "eq", value: true }
            });

            var shared_users = new kendo.data.DataSource({
                transport: {
                    read: {
                        async: true,
                        url: "{% url 'companies.users' system.code %}",
                        type: 'GET',
                        dataType: "json"
                    },
                    create: {
                        url: "{% url 'users.create_shared_user' %}",
                        type: "POST",
                        contentType: "application/json"
                    },
                    parameterMap: function (options, operation) {
                        if (operation == "create") {
                            return kendo.stringify(options);
                        }
                    }
                },
                schema: {
                    data: function (data) {
                        return data;
                    },
                    total: function (data) {
                        return data['odata.count'];
                    },
                    model: {
                        id: "id",
                        fields: {
                            id: { type: "number" },
                            username: { type: "string" },
                            is_email_verified: { type: "boolean" },
                            is_personal_account: { type: "boolean" }
                        }
                    }
                },
                filter: {field: "is_personal_account", operator: "eq", value: false }
            });



            $scope.sharedAccountMessage = null;
            $scope.sharedAccountButtonText = "Create"

            $scope.priGridOptions = {
                dataSource: individual_users,
                sortable: true,
                columns: [
                    { field: "fullname", title: "Full Name" },
                    { field: "email", title: "Email" },
                    { field: "language", title: "Language", width: "150px" },
                    { field: "department", title: "Department", width: "190px" },
                    { title: "Delete", width: "63px" }
                ],
                rowTemplate: kendo.template($("#rowTemplate").html()),
            }

            $scope.secGridOptions = {
                dataSource: shared_users,
                sortable: true,
                columns: [
                    { field: "username", title: "User Name" },
                    { title: "Password", width: "190px", template: "<button class='k-button normal-btn' ng-click='showResetPasswordWindow()'>Change password</button>"},
                    { title: "Delete", width: "63px", template: '<img class="delete-icon" src="/static/images/delete-icon.png" ng-click="confirmDeleteAccount(dataItem)"></img>'}
                ],
            }

            $scope.resendEmailButtonText = "Send";
            $scope.isEmailResent = false;
            $scope.resendOpt = {
                close: function(e){
                        if ($scope.isResending){
                            e.preventDefault();
                            return false;
                        }
                        $scope.isEmailResent = false;
                        $scope.resendEmailMessage = "";
                      }
            }

            $scope.userAccountMessage = "";
            $scope.userAccountButtonText = "Send";
            $scope.createOpt = {
                close: function(e){
                        if ($scope.isCreating){
                            e.preventDefault();
                            return false;
                        }
                        $scope.isCreated = false;
                        $scope.userAccountMessage = "";
                      }
            }

            $scope.showCreateUserAccountWindow = function() {
                $scope.userAccountMessage = "";
                $scope.userAccountButtonText = "Send";
                $scope.isCreated = false;
                $scope.isCreating = false;
                etDropDown.value([]);
                $("#createUserAccountWindow").data("kendoWindow").center().open();
            }

            $scope.showCreateSharedAccountWindow = function() {
                $scope.sharedAccountMessage = "";
                $scope.sharedAccountButtonText = "Create";
                $("#createSharedAccountWindow").data("kendoWindow").center().open();
            }

            $scope.createUserAccount = function() {
                if (!$scope.isCreated) {
                    $scope.isCreating = true;
                    emails = etDropDown.value();
                    system_id = {{system.id}};
                    for (i = 0; i < emails.length; i++) {
                        individual_users.add(
                        {
                            email: emails[i],
                            system_id: system_id,
                            is_email_verified: false,
                            is_personal_account: true
                        });
                    }

                    individual_users.sync()
                        .done(function() {
                            console.log("done");
                            $scope.$apply(function(){
                                $scope.isCreating = false;
                                $scope.isCreated = true;
                                $scope.userAccountMessage = "Great, the invitation has been sent out.";
                                $scope.userAccountButtonText = "Go to Dashboard";
                            });
                        })
                        .fail(function(e) {
                            $scope.$apply(function(){
                                $scope.isCreating = false;
                                $scope.isCreated = false;
                                if (e.responseJSON){
                                    $scope.userAccountMessage = e.responseJSON.join("<br/>");
                                } else {
                                    $scope.userAccountMessage = e.responseText;
                                }
                                individual_users.cancelChanges();
                            });
                            console.log(e);
                        });
                } else if ($scope.isCreated) {
                    $scope.isCreating = false;
                    console.log("Redirecting to Dashboard");
                    window.location.href = "{% url 'companies.dashboard' system.code %}";
                }

                return false;
            }


            $scope.createSharedAccount = function() {
                if ($scope.sharedAccountButtonText == "Create") {
                    system_id = {{system.id}};
                    shared_users.add({
                        username: $('#username')[0].value,
                        system_id: system_id,
                        password: $('#share_password')[0].value,
                        confirm_password: $('#share_confirm_password')[0].value
                    });

                    shared_users.sync()
                        .done(function() {
                            $scope.$apply(function(){
                                $scope.sharedAccountMessage = "Great you just created a shared account";
                                $scope.sharedAccountButtonText = "Close";
                            });
                        })
                        .fail(function(e) {
                            $scope.$apply(function(){
                                $scope.sharedAccountMessage = e.responseJSON.join("<br/>");
                                shared_users.cancelChanges();
                            });
                            console.log(e);
                        });
                } else if ($scope.sharedAccountButtonText == "Close") {
                    $("#createSharedAccountWindow").data("kendoWindow").close();
                    $scope.sharedAccountButtonText = "Create";
                    $scope.sharedAccountMessage = "";
                }

                return false;
            }

            $scope.showResendEmail = function(dataItem) {
                $scope.isEmailResent = false;
                $scope.resendEmailId = dataItem.id;
                $scope.resendEmailAddress = dataItem.email;
                $scope.resendEmailButtonText = "Send";
                $scope.resendEmailMessage = "";
                $("#resendEmailWindow").data("kendoWindow").center().open();
            }

            $scope.resendEmail = function() {
                if (!$scope.isEmailResent) {
                    if ($scope.isResending)
                        return;

                    $scope.isResending = true;
                    url = "{% url 'users.send_invitation_email' 99999 %}";
                    console.log("Resending Activation Email");
                    $http({
                        method : 'GET',
                        url : url.replace('99999', $scope.resendEmailId),
                        contentType: 'application/html; charset=utf-8',
                        data: $scope.resendEmailAddress,
                    }).success(function(data) {
                        $scope.isEmailResent = true;
                        $scope.isResending = false;
                        $scope.resendEmailMessage = "The invitation has been sent out.";
                        $scope.resendEmailButtonText = "Close";
                        console.log("send success");
                    }).error(function(data) {
                        $scope.isEmailResent = false;
                        $scope.isResending = false;
                        $scope.resendEmailMessage = data.responseText;
                        console.log("send error");
                        console.log(data);
                    })
                } else {
                    $scope.isEmailResent = false;
                    $scope.resendEmailMessage = "";
                    $("#resendEmailWindow").data("kendoWindow").close();
                }

                return false;
            }


            $scope.confirmDeleteAccount = function(dataItem) {
                $scope.removeAccountId = dataItem.id;
                $scope.removeAccountEmail = dataItem.username;
                $scope.removeAccountMessage = "";
                $("#confirmDeleteWindow").data("kendoWindow").center().open();
            }

            $scope.removeAccount = function() {
                url = "{% url 'users.send_invitation_email' 99999 %}"
                    console.log("Resending Activation Email");
                    $http({
                        method : 'POST',
                        url : url.replace('99999', $scope.removeAccountId),
                        contentType: 'application/html; charset=utf-8',
                        data: $scope.resendEmailAddress,
                    }).success(function(data) {
                        $scope.resendEmailMessage = "The invitation has been sent out.";
                        $scope.resendEmailButtonText = "Close";
                    }).error(function(data) {
                        console.log(data);
                    })
                console.log("DELETED");
                return false;
            }

            $scope.showResetPasswordWindow = function() {
                $("#resetPasswordWindow").data("kendoWindow").center().open();
            }
        })
</script>
{% endblock %}
