{% extends "page_base.html" %}

{% load i18n %}
{% load entrak_extras %}
{% load static %}
{% load humanize %}

{% block ga_page_title %}report{% endblock %}

{% block extra_head %}
{{block.super}}
{% get_current_language as LANGUAGE_CODE %}

<link rel="stylesheet" type="text/css" href="{% static 'css/drop-down-panel.css' %}">

<script src="{% static 'js/jquery-cookie-master/jquery.cookie.js' %}"></script>
<script src="{% static 'assets/django/js/ajax.js' %}"></script>
<script src="{% static 'js/moment-with-locales.js' %}"></script>
<script src="{% static 'js/moment-timezone-with-data.min.js' %}"></script>
<script src="{% static 'js/entrak-system.js' %}"></script>
<script src="{% static 'js/entrak-utils.js' %}"></script>
<script src="{% static 'js/report-generator.js' %}"></script>

<link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/tmp/bootstrap_hack.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/custom_control.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/manage_account.css' %}">

<script src="{% static 'assets/etkendoui/js/et.dropdown.js' %}"></script>
<script src="{% static 'assets/etkendoui/js/cultures/kendo.culture.en-US.js' %}"></script>
<script src="{% static 'assets/etkendoui/js/cultures/kendo.culture.zh-TW.js' %}"></script>


{% endblock %}

{% block page_title %}{% trans "THE SETTINGS PAGE" %}{% endblock %}
{% block page_subtitle %}{% trans "Find out what you can set here at" %}{% endblock %}

{% block extra_script %}
{{block.super}}
{% endblock %}

{% block page_content %}

{% verbatim %}

<div id="myApp" ng-app="Entrak">
    <div ng-controller="myCtrl" class="manage-acc">
        <div class="k-header">
            <div class="header-tab">My Profile</div><!--
            --><div class="header-tab selected-tab">Manage Accounts</div>
        </div>

        <button class='k-button normal-btn userAcc' ng-click="clickCreateUserAccount()">Create User Account</button>
        <img class="info-icon" src="/static/images/info-icon.png"></img>
        <kendo-grid options="priGridOptions">
        </kendo-grid>
        <div kendo-window="createUserAccountWindow" id="createUserAccountWindow" k-title="'Create Account'" k-width="400" k-height="226" k-visible="false" k-modal="true" k-draggable="false" k-resizable="false" ng-cloak>
            <div class="form-horizontal form-widgets">
                <form name="kForm" class="k-content">
                <div id="rs-emailList"></div>
                <div ng-cloak ng-bind="userAccountMessage"></div>
                <div class="buttons-wrap">
                    <button class="k-button k-primary k-state-default" ng-click="sendAndGoDashboard()">{{userAccountButtonText}}</button>
                </div>
                </form>
            </div>
        </div>
        <div kendo-window="resendEmailWindow" id="resendEmailWindow" k-title="'Resend Activation Email'" k-width="400" k-height="226" k-visible="false" k-modal="true" k-draggable="false" k-resizable="false" ng-cloak>
            <div class="form-horizontal form-widgets">
                <form name="kForm" class="k-content">
                <div ng-cloak ng-bind="resendEmailAddress"></div>
                <div ng-cloak ng-bind="resendEmailMessage"></div>
                <div class="buttons-wrap">
                    <button class="k-button k-primary k-state-default" ng-click="resendAndClose()">{{resendEmailButtonText}}</button>
                </div>
                </form>
            </div>
        </div>
        <button class='k-button normal-btn sharedAcc' ng-click="clickCreateSharedAccount()">Create Shared Account</button>
        <kendo-grid options="secGridOptions" class="sharedAcc">
        </kendo-grid>
        <div kendo-window="createSharedAccountWindow" id="createSharedAccountWindow" k-title="'Create Account'" k-width="400" k-height="226" k-visible="false" k-modal="true" k-draggable="false" k-resizable="false" ng-cloak>
            <div class="form-horizontal form-widgets">
                <form name="kForm" kendo-validator="validator" ng-submit="validate($event)" class="k-content">
                <div class="form-group">
                    <label class="control-label" for="username">Username:</label>
                    <input type="username" id="username" name="Username" ng-model="user.username" class="k-textbox" placeholder="Username" required data-required-msg="required field" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">Password:</label>
                    <input type="password" id="password" name="Password" ng-model="user.password" class="k-textbox" placeholder="Password" required data-required-msg="required field" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirm_password">Confirm Password:</label>
                    <input type="password" id="confirm_password" name="Confirm Password" class="k-textbox" placeholder="Retype Password" required data-required-msg="required field" />
                </div>
                <div class="buttons-wrap">
                    <button class="k-button k-primary k-state-default" ng-click="createSharedAccountAndClose()">{{sharedAccountButtonText}}</button>
                </div>
                <div ng-bind="sharedAccountMessage"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<script id="rowTemplate" type="text/x-kendo-tmpl">
    # if (is_email_verified == true) { #
    <tr data-uid="#: uid #">
        <td class='empty-img'> ${fullname} </td>
        <td> ${email} </td>
        <td> ${language} </td>
        <td> ${department} </td>
        <td> <img class='delete-icon' src='/static/images/delete-icon.png' ng-click='removeAccount(dataItem)'></img> </td>
    </tr>
    # } else { #
    <tr data-uid="#: uid #">
        <td> <img class='attention-icon' src='/static/images/attention-icon.png'></img><span>Account Not Activated</span></td>
        <td> ${email} </td>
        <td> </td>
        <td> <button class='k-button normal-btn' ng-click='resendEmail(dataItem)'>Resend Activation Email</button> </td>
        <td> <img class='delete-icon' src='/static/images/delete-icon.png' ng-click='removeAccount(dataItem)'></img> </td>
    </tr>
    # } #
</script>
{% endverbatim %}

<script>
    angular.module("Entrak", [ "kendo.directives" ])
        .controller("myCtrl", function($scope, $http){

            var etDropDown = new EtDropDown($("#rs-emailList"), ['hotdogxz@gmail.com', 'hotdogxz@hotmail.com']);

            var individual_users = new kendo.data.DataSource({
                batch: true,
                transport: {
                    read: {
                        async: true,
                        url: "{% url 'companies.users' system.code %}",
                        type: 'GET',
                        dataType: "json"
                    },
                    create: {
                        url: "{% url 'users.create_individual_users' %}",
                        type: "POST",
                        contentType: "application/json"
                    },
                    parameterMap: function (options, operation) {
                        if (operation == "create") {
                            return kendo.stringify(options);
                        }
                    }
                },
                schema: {
                    data: function (data) {
                        return data;
                    },
                    total: function (data) {
                        return data['odata.count'];
                    },
                    model: {
                        fields: {
                            id: { type: "number" },
                            fullname: { type: "string" },
                            department: { type: "string" },
                            language: { type: "string" },
                            email: { type: "string" },
                            is_email_verified: { type: "boolean" },
                            is_personal_account: { type: "boolean" }
                        }
                    }
                },
                filter: {field: "is_personal_account", operator: "eq", value: true }
            });

            var shared_users = new kendo.data.DataSource({
                batch: true,
                transport: {
                    read: {
                        async: true,
                        url: "{% url 'companies.users' system.code %}",
                        type: 'GET',
                        dataType: "json"
                    },
                    create: {
                        url: "{% url 'users.create_shared_user' %}",
                        type: "POST",
                        contentType: "application/json"
                    },
                    parameterMap: function (options, operation) {
                        if (operation == "create") {
                            return kendo.stringify(options);
                        }
                    }
                },
                schema: {
                    data: function (data) {
                        return data;
                    },
                    total: function (data) {
                        return data['odata.count'];
                    },
                    model: {
                        id: "id",
                        fields: {
                            id: { type: "number" },
                            username: { type: "string" },
                            is_email_verified: { type: "boolean" },
                            is_personal_account: { type: "boolean" }
                        }
                    }
                },
                filter: {field: "is_personal_account", operator: "eq", value: false }
            });

            $scope.userAccountMessage = null;
            $scope.sharedAccountMessage = null;

            $scope.priGridOptions = {
                dataSource: individual_users,
                sortable: true,
                columns: [
                    { field: "fullname", title: "Full Name" },
                    { field: "email", title: "Email" },
                    { field: "language", title: "Language", width: "150px" },
                    { field: "department", title: "Department", width: "190px" },
                    { title: "Delete", width: "63px" }
                ],
                rowTemplate: kendo.template($("#rowTemplate").html()),
            }

            $scope.secGridOptions = {
                dataSource: shared_users,
                sortable: true,
                columns: [
                    { field: "username", title: "User Name" },
                    { title: "Password", width: "190px", template: "<button class='k-button normal-btn'>Change password</button>"},
                    { title: "Delete", width: "63px", template: '<img class="delete-icon" src="/static/images/delete-icon.png" ng-click="removeAccount(dataItem)"></img>'}
                ],
            }

            $scope.userAccountMessage = "";
            $scope.userAccountButtonText = "Send";
            $scope.isEmailSent = false;

            $scope.resendEmailButtonText = "Send";
            $scope.isEmailResent = false;

            $scope.sharedAccountButtonText = "Create"
            $scope.isAccountCreated = false;

            $scope.clickCreateUserAccount = function() {
                $scope.isEmailSent = false;
                $scope.userAccountMessage == "";
                $scope.userAccountButtonText = "Send";
                $("#createUserAccountWindow").data("kendoWindow").center().open();
            }

            $scope.clickCreateSharedAccount = function() {
                $scope.isAccountCreated = false;
                $scope.sharedAccountMessage == "";
                $scope.sharedAccountButtonText = "Create";
                $("#createSharedAccountWindow").data("kendoWindow").center().open();
            }

            $scope.sendAndGoDashboard = function() {
                if (!$scope.isEmailSent) {
                    emails = etDropDown.value();
                    system_id = {{system.id}};
                    for (i = 0; i < emails.length; i++) {
                        individual_users.add(
                        {
                            email: emails[i],
                            system_id: system_id,
                            is_email_verified: false,
                            is_personal_account: true
                        });
                    }

                    individual_users.sync()
                        .done(function() {
                            $scope.isEmailSent = true;
                            $scope.userAccountMessage = "Great, the invitation has been sent out.";
                            $scope.userAccountButtonText = "Go to Dashboard";
                        })
                        .fail(function(e) {
                            console.log(e)
                            $scope.userAccountMessage = e.responseText;
                        });
                    individual_users.read();

                    if ( $scope.userAccountMessage == "" ) {


                    }



                } else {
                    console.log("Redirecting to Dashboard");
                    window.location.href = "{% url 'companies.dashboard' system.code %}"
                }

                return false;
            }

            $scope.createSharedAccountAndClose = function() {
                if (!$scope.isAccountCreated) {
                    system_id = {{system.id}};
                    shared_users.add({
                        username: $('#username')[0].value,
                        system_id: system_id,
                        password: $('#password')[0].value
                    });

                    shared_users.sync()
                        .done(function() {
                            $scope.isAccountCreated = true;
                            $scope.sharedAccountMessage = "Great you just created a shared account";
                            $scope.sharedAccountButtonText = "Close";
                        })
                        .fail(function(e) {
                            console.log(e)
                            $scope.sharedAccountMessage = e.responseText;
                        });
                    shared_users.read();

                } else {
                    $scope.isAccountCreated = true;
                    console.log("Shared account created");

                }

                return false;
            }


            $scope.resendAndClose = function() {
                if (!$scope.isEmailResent) {
                    url = "{% url 'users.send_invitation_email' user.id %}"
                    console.log("Resending Activation Email");
                    $http({
                        method : 'GET',
                        url : url.replace('{{user.id}}', $scope.resendEmailId),
                        contentType: 'application/html; charset=utf-8',
                        data: $scope.resendEmailAddress,
                    }).success(function(data) {
                        $scope.isEmailResent = true;
                        $scope.resendEmailMessage = "The invitation has been sent out.";
                        $scope.resendEmailButtonText = "Close";
                    }).error(function(data) {
                        console.log(data);
                    })
                } else {
                    $scope.isEmailResent = false;
                    $scope.resendEmailMessage = "";
                    $("#resendEmailWindow").data("kendoWindow").close();
                }

                return false;
            }

            $scope.resendEmail = function(dataItem) {
                $scope.resendEmailId = dataItem.id;
                $scope.resendEmailAddress = dataItem.email;
                $scope.resendEmailButtonText = "Send";
                $scope.resendEmailMessage = "";
                $("#resendEmailWindow").data("kendoWindow").center().open();
            }

            $scope.removeAccount = function(dataItem) {
                console.log("DELETED");
                console.log(dataItem);
                return false;
            }
        })
</script>
{% endblock %}
