{% extends "base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load entrak_extras %}

{% block extra_head %}
{{block.super}}


<link rel="shortcut icon" href="{% static 'images/entrak-favicon.png' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/smoothness.jquery-ui.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'js/superfish-master/dist/css/superfish.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'js/superfish-master/dist/css/superfish-vertical.css' %}">
<link href="{% static 'assets/kendoui/styles/kendo.common.min.css' %}" rel="stylesheet">
<link href="{% static 'css/kendo.entrak.theme.css' %}" rel="stylesheet">

<script src="{% static 'assets/jquery/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'assets/jquery/jquery-ui.js' %}"></script>
<script src="{% static 'js/arboreal-customized.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/superfish-master/dist/js/superfish.min.js' %}"></script>

<script src="{% static 'js/jquery-cookie-master/jquery.cookie.js' %}"></script>
<script src="{% static 'js/csrf_ajax.js' %}"></script>

<script src="{% static 'assets/kendoui/js/angular.min.js' %}"></script>
<script src="{% static 'assets/kendoui/js/kendo.all.min.js' %}"></script>

<!-- copied from bootstrap -->
<style>
.text-center {
    text-align: center;
}
</style>
{% endblock %}

{% block extra_script %}

<script type="text/javascript">
{% get_current_language as LANGUAGE_CODE %}

var page = {};
var noti_datasource;

$(function() {
    setupAjaxForCsrf($.cookie('csrftoken'));
    {% for system in user_systems %}
        var system = {};
        system.code = '{{system.code}}';
        system.name = '{{system|get_system_name:LANGUAGE_CODE}}';
        system.path = '{{system.path}}';
        system.sources = {};

        {% if forloop.first %}
        page.userSystemTree = new Arboreal(null, system);
        {% else %}
        parentCodes = $(system.path.split(',')).filter(function(){
            return this != "";
        });
        parentCode = parentCodes[parentCodes.length - 1];
        parentNode = page.userSystemTree.find(function (node) {
            return node.data.code == parentCode;
        });
        parentNode.appendChild(system);
        {% endif %}
    {% endfor %}

    var menuTreeDom = null;
    page.userSystemTree.traverseDown(function (node) {
        var aDom = $('<a href="#" onclick="return false;">' + node.data.name +'</a>');
        aDom.click({node: node}, function(event) {
            if (page.userSystemTree.data.node !== event.data.node) {
                window.location.href = window.location.href.replace('/{{systems.0.code}}/', '/'+event.data.node.data.code+'/');
            }
        });
        var appendDom = $('<li system_code="' + node.data.code + '">');
        appendDom.append(aDom);

        var parentNode = node.parent;
        if (parentNode !== null) {
            var targetDom = null;
            var parentDom = menuTreeDom.find('*').andSelf().filter("li[system_code='" + parentNode.data.code + "']");
            var ulDoms = parentDom.find("> ul");
            if (ulDoms.length === 0) {
                targetDom = $("<ul></ul>");
                parentDom.append(targetDom);
            } else {
                targetDom = ulDoms;
            }

            targetDom.append(appendDom);
        } else {
            menuTreeDom = appendDom;
        }
    });
    $("#system-menu ul").append(menuTreeDom);

    $('#system-menu').superfish({
    });

    $("#{% block selected-menu-link-id %}menu-link-home{% endblock %}").addClass('menu-links-selected');

    $("#toChinese, #toEnglish").click(function(event) {
        event.preventDefault();
        $('.change-lang-form input[name=language]').val($(this).attr('lang_code'));
        $('.change-lang-form').submit();
    });

    // notifications
    $('#notifications').kendoWindow(
        {
            width: "600px",
            title: false,
            modal: true,
            visible: false
        }
    );
    $('#notifications').parent().addClass("notification-wrapper");

    var notiwin = $('#notifications').data('kendoWindow');

    // create datasource for notifications api
    noti_datasource = new kendo.data.DataSource({
        transport: {
            read: {
                url: "{% url 'companies.notifications.messages' system_code=systems.0.code %}",
                dataType: "json"
            }
        },
        change: function() {
            var data = this.view();
            if (this.total() != 0) {
                var tpl = kendo.template($('#notificationsTemplate').html());
                notiwin.content(tpl(data[0]));
                notiwin.open().center();
            }
        }
    });

    noti_datasource.read();

    // top right menu hide show
    $("#topRight-btn, #topRight-menu li").hover(
        function() {
            $("#topRight-menu").stop().slideDown(150);
        },
        function() {
            $("#topRight-menu").stop().slideUp(150);
        }
    );

});


function readMeesage(id) {
    $.ajax({
        url: "{% url 'notifications.read_message' 999999 %}".replace(999999, id),
        method: "PUT"
    }).done(function(data) {
        $('#notifications').data('kendoWindow').close();
        if (data["unread_messages"] >= 1) {
            setTimeout(function() {
                noti_datasource.read();
            }, 1000);
        }
    })
}
</script>

{% endblock %}

{% block content %}
{% get_current_language as LANGUAGE_CODE %}
<div class="grey_layer">
    <div class="loadingInfo">
        <div class="loadingIconBig"></div>
        <div class="loadingText"></div>
    </div>
</div>
<div id="page-container">

    <!-- Left Sidebar Main -->
    <div id="menu">

        <!-- User's Company Logo -->
        <div id="user-logo">
            <div class="logo-circle-bound" style="background-image: url('{{systems.0.logo.url}}');">
            </div>
            <img src="{% static 'images/user-logo-bg.png' %}">
        </div>

        <!-- User's Company Name -->
        <h2 id="company">{{systems.0|get_system_full_name:LANGUAGE_CODE|upper}}</h2>

        <!-- Main Sidebar Links -->
        <nav>
            <ul id="menu-links">
                <li id="menu-link-dashboard">
                    <a href="{% url 'companies.dashboard' system_code=systems.0.code %}"><img width="26" height="22" src="{% static 'images/home-icon.png' %}"><span>{% trans "Dashboard" %}</span></a>
                </li>
                <li id="menu-link-graph">
                    <a href="{% url 'graph' system_code=systems.0.code %}"><img width="26" height="22" src="{% static 'images/graph-icon.png' %}"><span>{% trans "Graph" %}</span></a>
                </li>
                <li id="menu-link-ranking">
                    <a href="{% url 'ranking' system_code=systems.0.code %}"><img width="26" height="23" src="{% static 'images/ranking-icon.png' %}"><span>{% trans "Ranking" %}</span></a>
                </li>
                {% if 'nea-nwro-3f' != systems.0.code and 'dbs-posb' != systems.0.code and 'belle' not in systems.0.code and 'bossini' != systems.0.code  %}
<!--                 <li id="menu-link-progress">
                    <a href="{% url 'progress' system_code=systems.0.code %}"><img width="26" height="23" src="{% static 'images/progress-icon.png' %}"><span>{% trans "Progress" %}</span></a>
                </li> -->
                {% endif %}
                {% if 'esf' == user_systems.0.code %}
                <li id="menu-link-report">
                    <a href="{% url 'companies.report_revamp' system_code=systems.0.code %}"><img width="26" height="24" src="{% static 'images/reports-icon.png' %}"><span>{% trans "Reports" %}</span></a>
                </li>
                {% else %}
                <li id="menu-link-report">
                    <a href="{% url 'companies.report' system_code=systems.0.code %}"><img width="26" height="24" src="{% static 'images/reports-icon.png' %}"><span>{% trans "Reports" %}</span></a>
                </li>
                {% endif %}
                {% if 'nea-nwro-3f' != systems.0.code and 'dbs-posb' != systems.0.code and 'belle' not in systems.0.code and 'bossini' != systems.0.code and 'searshk' not in systems.0.code %}
<!--                 <li id="menu-link-display">
                    <a href="{% url 'display' system_code=systems.0.code %}" target="_blank"><img width="26" height="22" src="{% static 'images/display-icon.png' %}"><span>{% trans "Display" %}</span></a>
                </li> -->
                {% endif %}

                <li id="menu-link-export">
                    <a href="{% url 'companies.export' system_code=systems.0.code %}"><img width="24" height="24" src="{% static 'images/dataDownload-icon.png' %}" style="margin-right:2px"><span>{% trans "Download" %}</span></a>
                </li>

                {% comment %}
                <li id="menu-link-pro-v">
                    <a href="#"><img width="31" height="21" src="{% static 'images/prov-icon.png' %}"><span>Pro V</span></a>
                </li>
                {% endcomment %}
                <li id="menu-link-alert">
                    <a href="{% url 'alert_settings' system_code=systems.0.code %}"><img width="23" height="22" src="{% static 'images/alert-icon.png' %}" style="margin-right:3px"><span>{% trans "Alert" %}</span></a>
                </li>
                {% if systems.0.printers.count > 0 %}
                <li id="menu-link-printer-graph">
                    <a href="{% url 'printers.graph' system_code=systems.0.code %}"><img width="19" height="25" src="{% static 'images/paper-icon.png' %}"><span>{% trans "Paper" %}</span></a>
                </li>
                {% endif %}
<!--                 <li id="menu-link-setting">
                    <a href="{% url 'profile' system_code=systems.0.code %}"><img width="24" height="24" src="{% static 'images/settings-icon.png' %}" style="margin-right:2px"><span>{% trans "Settings" %}</span></a>
                </li>
                <li id="menu-link-logout">
                    <a href="{% url 'logout' system_code=systems.0.code %}"><img width="23" height="24" src="{% static 'images/logout-icon.png' %}" style="margin-right:3px"><span>{% trans "Logout" %}</span></a>
                </li> -->
            </ul>
        </nav>

    </div>
    <!-- Left Sidebar Main End -->

    <!-- Main Content -->
    <div class="right-content">

        <!-- Blue Bar top -->
        <div class="blue-bar"></div>

        <!-- Header -->
        <div id="header">

          {% if 'fujixerox' in systems.0.code %}
            <img class="image-carousel" style="right: 0;" src="{% static 'images/banners/fujixerox_banner.jpeg' %}">
          {% elif 'belle' in systems.0.code %}
            <img class="image-carousel" style="right: 0;" src="{% static 'images/banners/belle.jpg' %}">
          {% else %}
            <!-- <img class="image-carousel" src="{% static 'images/banner-animation.gif' %}"> -->
          {% endif %}



            <!-- Header Wording -->
            <div id="heading"><h1>{% block page_title %}{% endblock %}</h1></div>
            <!-- <div id="sub-heading"><h2>{% block page_subtitle %}{% endblock %}</h2></div> -->

            <img id="topRight-btn" class="dropdownArrow" src="/static/images/settings-hover.png"/>
            <div class="change-lang-block">
<!--                 <a lang_code="zh-tw" class="{% ifequal LANGUAGE_CODE 'zh-tw' %}current-lang{% endifequal %}" href="#">繁體中文</a>
                <span> | </span>
                <a lang_code="en" class="{% ifequal LANGUAGE_CODE 'en' %}current-lang{% endifequal %}" href="#">ENGLISH</a>
                <span> | </span> -->
                
                <ul class="top-right-menu" id="topRight-menu">
                    {% ifequal LANGUAGE_CODE 'zh-tw' %}<a lang_code="en" id="toEnglish" href="#"><li>English</li></a>{% endifequal %}
                    {% ifequal LANGUAGE_CODE 'en' %}<a lang_code="zh-tw" id="toChinese" href="#"><li>繁體中文</li></a>{% endifequal %}
                    <a href="{% url 'profile' system_code=systems.0.code %}"><li>{% trans "Settings" %}</li></a>
                    <a href="{% url 'faq' system_code=systems.0.code %}"><li>{% trans "FAQ" %}</li></a>
                    <a href="{% url 'disclaimer' system_code=systems.0.code %}"><li>{% trans "Legal" %}</li></a>
                    <a href="{% url 'logout' system_code=systems.0.code %}"><li>{% trans "Logout" %}</li></a>
                </ul>

            </div>

            <div id="fullscreen-title" style="display: none;">Real Time Energy Monitoring System</div>
            <div id="exit-fullscreen-btn" style="display: none;"></div>

            <div style="display:none;">
                <form class="change-lang-form" action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="language" type="hidden" value="" />
                </form>
            </div>

        </div>
        <!-- Header End -->

        <!-- Blue Bar bottom -->
        <div class="blue-bar-thin"></div>

        <div id="sub-heading-facilities">
            <button id="fullscreen-btn" class="k-button" style="display:none;"></button>
            <ul id="system-menu" class="sf-menu">
                <li>
                    <a><img src="{% static 'images/menu-icon.png' %}"></a>
                    <ul></ul>
                </li>
            </ul>

            <span id="system-name-label"><h3>{% trans "You are viewing:" %}</h3></span>
            <span id="breadcrumbs-path">

                {% for info in system_path_components %}
                <a href="/{{info.code}}/{% block breadcrumb_target_view %}{% endblock %}/">{{info.nameInfo|get_value_with_key:LANGUAGE_CODE}}</a>
                    {% if not forloop.last %}
                    <span>-</span>
                    {% endif %}
                {% endfor %}
            </span>
        </div>

        {% block page_content %}{% endblock %}

    </div>
</div>

{% block footer %}
{% get_current_language as LANGUAGE_CODE %}
<footer class="site-footer">
    <p style="clear: both;"></p>
    <p id="copyright">Copyright © En-trak Hong Kong Ltd 2015. All rights reserved.</p>
    <a><img id="entrak-logo" src="{% static 'images/powered-by-logo.png' %}"></a>
    <!-- <p class="footer-main"><a class="footer-link" href="{% url 'faq' system_code=systems.0.code %}">FAQ </a>
    <a class="footer-link" href="{% url 'profile' system_code=systems.0.code %}"> |  Settings</a>
    <a class="footer-link" href="{% url 'disclaimer' system_code=systems.0.code %}"> |  Legal </a></p> -->
    <p style="clear: both;"></p>
</footer>
{% endblock %}

<style>
    .notification-wrapper p {
        margin-bottom: 0px !important;
        font-weight: lighter;
        width: 90%;
        font-size: 0.9em;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 0.03em;
        color: #354960;
        line-height: 1.32em;
    }

    .notification-wrapper {
        background: transparent !important;
        -webkit-box-shadow: none !important;
        bow-shadow: none !important;
        border: 0 !important;
    }

    #notifications {
        padding: 0;
        border-radius: 8px;
        background: transparent !important;
    }

    .notification-wrapper .body {
        background-color: #f4f4f4;
        color: #8c94a2 !important;
        padding: 20px;
        font-size: 2.2rem;
    }

    .notification-wrapper .body img {
        padding-bottom: 20px;
        width: 141px;
        height: 150px;
    }

    .notification-wrapper .title-bar {
        text-align: right;
    }

    .notification-wrapper .actions {
        background: url("{% static 'images/notifications/notification-arrow.png' %}") no-repeat scroll center top #4a8c9b;
    }

    .notification-wrapper .actions button {
        color: #ffffff;
        border: 0;
        background-color: #9bceda;
        padding: 8px 27px;
        box-shadow: 0px 2px 0px #6b9aa5 !important;
        border-radius: 5px;
        margin: 25px 0px 22px 0px;
    }

    .notification-wrapper .actions button:hover {
        color: #ffffff;
        border-color: rgba(0, 0, 0, 0);
        background-color: #74c62b;
    }

</style>

<script type="text/x-kendo-template" id="notificationsTemplate">
    <div class="text-center">
    <div class="body">
      <div class="title-bar">
          <!--<button onclick="$('\\#notifications').data('kendoWindow').close();">X</button>-->
      </div>
      <img alt="good news" src="{% static 'images/notifications/good_news.png' %}">
      <p>#:body#</p>
    </div>
    <div class="actions">
    <button class="xk-button" onclick="readMeesage(#:id#);">OK</button>
    </div>
</script>
<div id="notifications"></div>

{% endblock %}
