{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load entrak_extras %}

{% block extra_head %}
{{block.super}}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{% static 'js/superfish-master/dist/css/superfish.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'js/superfish-master/dist/css/superfish-vertical.css' %}">
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="{% static 'js/arboreal-customized.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/superfish-master/dist/js/superfish.min.js' %}"></script>
{% endblock %}

{% block extra_script %}

<script type="text/javascript">
{% get_current_language as LANGUAGE_CODE %}

var page = {};

$(function() {
	{% for system in user_systems %}
		var system = {};
		system.code = '{{system.code}}';
		system.name = '{{system|get_system_name:LANGUAGE_CODE}}';
		system.path = '{{system.path}}';
		system.sources = {};

		{% if forloop.first %}
		page.userSystemTree = new Arboreal(null, system);
		{% else %}
		parentCodes = $(system.path.split(',')).filter(function(){
			return this != "";
		});
		parentCode = parentCodes[parentCodes.length - 1];
		parentNode = page.userSystemTree.find(function (node) {
			return node.data.code == parentCode;
		});
		parentNode.appendChild(system);
		{% endif %}
	{% endfor %}

	var menuTreeDom = null;
	page.userSystemTree.traverseDown(function (node) {
		var aDom = $('<a href="#" onclick="return false;">' + node.data.name +'</a>');
		aDom.click({node: node}, function(event) {
			if (page.userSystemTree.data.node !== event.data.node) {
				window.location.href = "/" + event.data.node.data.code + "/{% block system_menu_target_view %}{% endblock %}/";
			}
		});
		var appendDom = $('<li system_code="' + node.data.code + '">');
		appendDom.append(aDom);

		var parentNode = node.parent;
		if (parentNode !== null) {
			var targetDom = null;
			var parentDom = menuTreeDom.find('*').andSelf().filter("li[system_code='" + parentNode.data.code + "']");
			var ulDoms = parentDom.find("> ul");
			if (ulDoms.length === 0) {
				targetDom = $("<ul></ul>");
				parentDom.append(targetDom);
			} else {
				targetDom = ulDoms;
			}

			targetDom.append(appendDom);
		} else {
			menuTreeDom = appendDom;
		}
	});
	$("#system-menu ul").append(menuTreeDom);

	$('#system-menu').superfish({
	});

	$("#{% block selected-menu-link-id %}menu-link-home{% endblock %}").addClass('menu-links-selected');

	$(".change-lang-link").click(function(event) {
		event.preventDefault();
		$('.change-lang-form').submit();
	});
});
</script>

{% endblock %}

{% block content %}
{% get_current_language as LANGUAGE_CODE %}
<div id="page-container">

	<!-- Left Sidebar Main -->
	<div id="menu">

		<!-- User's Company Logo -->			
		<div id="user-logo">
			<div class="logo-circle-bound" style="background-image: url('{{systems.0.logo.url}}');">
			</div>
			<img src="{% static 'images/user-logo-bg.png' %}">
		</div>
				
		<!-- User's Company Name -->
		<h2 id="company">{{systems.0|get_system_full_name:LANGUAGE_CODE|upper}}</h2>

		<!-- Main Sidebar Links -->
		<nav>
			<ul id="menu-links">
				<li id="menu-link-graph">
					<a href="{% url 'graph' system_code=systems.0.code %}"><img width="26" height="22" src="{% static 'images/graph-icon.png' %}"><span>{% trans "Graph" %}</span></a>
				</li>
				<li id="menu-link-ranking">
					<a href="{% url 'ranking' system_code=systems.0.code %}"><img width="26" height="23" src="{% static 'images/ranking-icon.png' %}"><span>{% trans "Ranking" %}</span></a>
				</li>
				<li id="menu-link-progress">
					<a href="{% url 'progress' system_code=systems.0.code %}"><img width="26" height="23" src="{% static 'images/progress-icon.png' %}"><span>{% trans "Progress" %}</span></a>
				</li>
				<li id="menu-link-report">
					<a href="{% url 'report' system_code=systems.0.code %}"><img width="26" height="24" src="{% static 'images/reports-icon.png' %}"><span>{% trans "Reports" %}</span></a>
				</li>
				<li id="menu-link-display">
					<a href="{% url 'display' system_code=systems.0.code %}" target="_blank"><img width="26" height="22" src="{% static 'images/display-icon.png' %}"><span>{% trans "Display" %}</span></a>
				</li>
				{% comment %}
				<li id="menu-link-pro-v">
					<a href="#"><img width="31" height="21" src="{% static 'images/prov-icon.png' %}"><span>Pro V</span></a>
				</li>
				{% endcomment %}
				<li id="menu-link-alert">
					<a href="{% url 'alert_settings' system_code=systems.0.code %}"><img width="23" height="22" src="{% static 'images/settings-icon.png' %}"><span>{% trans "Alert" %}</span></a>
				</li>
				<li id="menu-link-logout">
					<a href="{% url 'logout' system_code=systems.0.code %}"><img width="23" height="24" src="{% static 'images/logout-icon.png' %}"><span>{% trans "Logout" %}</span></a>
				</li>
			</ul>
		</nav>

	</div>	
	<!-- Left Sidebar Main End -->
	
	<!-- Main Content -->
	<div class="right-content">
		
		<!-- Blue Bar top -->
		<div class="blue-bar"></div>

		<!-- Header -->
		<div id="header">

			<img class="image-carousel" src="{% static 'images/banner-animation.gif' %}">
			
			<!-- Header Wording -->
			<div id="heading"><h1>{% block page_title %}{% endblock %}</h1></div>
			<div id="sub-heading"><h2>{% block page_subtitle %}{% endblock %}</h2></div>

		</div>
		<!-- Header End -->
		
		<!-- Blue Bar bottom -->
		<div class="blue-bar"></div>

		<div id="sub-heading-facilities">

			<ul id="system-menu" class="sf-menu">
				<li>
					<a><img src="{% static 'images/menu-icon.png' %}"></a>
					<ul></ul>
				</li>
			</ul>

			<span><h3>{% trans "You are viewing:" %}</h3></span>
			<span id="breadcrumbs-path">

				{% for info in system_path_components %}
				<a href="/{{info.code}}/{% block breadcrumb_target_view %}{% endblock %}/">{{info.nameInfo|get_value_with_key:LANGUAGE_CODE}}</a>
					{% if not forloop.last %}
					<span>-</span>
					{% endif %}
				{% endfor %}
			</span>
		</div>

		{% block page_content %}{% endblock %}

	</div>
</div>

{% block footer %}
{% get_current_language as LANGUAGE_CODE %}
<footer class="site-footer">
	<p style="clear: both;"></p>
	<p id="copyright">Copyright © En-trak Pte Ltd 2014. All rights reserved.</p>
	<a href="#"><img id="entrak-logo" src="{% static 'images/powered-by-logo.png' %}"></a>
	<p class="footer-main"><a class="footer-link" href="{% url 'faq' system_code=systems.0.code %}">FAQ </a>
	<a class="footer-link" href="{% url 'general_settings' system_code=systems.0.code %}"> |  Settings</a>
	<a class="footer-link" href="{% url 'disclaimer' system_code=systems.0.code %}"> |  Legal </a>
	<a class="footer-link change-lang-link" href="#"> | {% ifequal LANGUAGE_CODE 'zh-tw' %}ENG{% else %}繁體中文{% endifequal %} </a></p>
	<p style="clear: both;"></p>

	<div style="display:none;">
		<form class="change-lang-form" action="{% url 'set_language' %}" method="post">
			{% csrf_token %}
			<input name="language" type="hidden" value="{% ifequal LANGUAGE_CODE "zh-tw" %}en-us{% else %}zh-tw{% endifequal %}" />
		</form>
	</div>
</footer>
{% endblock %}

{% endblock %}
