{% extends "page_base.html" %}

{% load entrak_extras %}
{% load static %}
{% load humanize %}

{% block extra_head %}
{{block.super}}

<link rel="stylesheet" type="text/css" href="{% static 'css/progress.css' %}">
{% endblock %}

{% block selected-menu-link-id %}menu-link-progress{% endblock %}
{% block system_menu_target_view %}progress{% endblock %}
{% block breadcrumb_target_view %}progress{% endblock %}

{% block page_title %}THE PROGRESS PAGE{% endblock %}
{% block page_subtitle %}Find out how you're doing here at the{% endblock %}

{% block page_content %}

<div class="main-saving-container">
	<div class="saving-header">
		<div class="saving-consumption">
			<h2>Over the past 12 months</h2>
			<div class="{% if percengate_change >= 0 %}positive-saving{% else %}negative-saving{% endif %}"> {{percengate_change|abs_float|round_if_larger_than_10}}<span class="saving-percent-symbol">%</span> {% if percengate_change >= 0 %}Energy Reduction{% else %}More Energy{% endif %}</div>
		</div>

		<div id="target-block">
			{% ifequal archived_level 0 %}
			<div class="medal-block work-harder-medal">
				<img src="{% static 'images/progress/empty-medal.png' %}">
				<div id="archived_percentage">{{archived_level}}<span class="saving-percent-symbol">%</span></div>
				<div class="medal-text">Reduction<br>achieved</div>
			</div>
			{% else %}
			<div class="medal-block">
				<img src="{% static 'images/progress/medal.png' %}">
				<div id="archived_percentage">{{archived_level}}<span class="saving-percent-symbol">%</span></div>
				<div class="medal-text">Reduction<br>achieved</div>
			</div>
			{% endifequal %}
			<div class="target-text-container">
				<div class="next-target-text">Next target</div>
				<div class="next-target-percent">{{target_level}}<span class="saving-percent-symbol">%</span> REDUCTION</div>
			</div>
		</div>
	</div>

	<div>
		<img src="{% static 'images/progress/factory-bg-top.png' %}">
	</div>

	<div class="cumulative-saving-container {% if total_co2_saving >= 0 %}positive-saving{% else %}negative-saving{% endif %}">
		<div class="cumulative-saving-title">Cumulative savings</div>
		<div class="cumulative-saving-info">
			<div class="cumulative-saving-block">
				<img src="{% static 'images/progress/co2.png' %}">
				<div class="cumulative-text"><span class="cumulative-val">{{total_co2_saving|abs_int|intcomma}}</span> tons of CO<sub>2</sub></div>
			</div>
			<img class="equal-symbol" src="">
			<div class="cumulative-saving-block">
				<img src="{% static 'images/progress/elephant.png' %}">
				<div class="cumulative-text"><span class="cumulative-val">{{elephant_num|intcomma}}</span> elephants</div>
			</div>
			<div class="cumulative-separator"></div>
			<div class="cumulative-saving-block">
				<img src="{% static 'images/progress/money.png' %}">
				<div class="cumulative-text"><span class="cumulative-val">${{total_money_saving|abs_int|intcomma}}</span></div>
			</div>
			<img class="equal-symbol" src="">
			<div class="cumulative-saving-block">
				<img src="{% static 'images/progress/taxi.png' %}">
				<div class="cumulative-text"><span class="cumulative-val">{{taxi_trip.count|intcomma}}</span> taxi trips</div>
				<div class="taxi-desc">from {{taxi_trip.from}} to {{taxi_trip.to}}</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
