{% extends "page_base.html" %}

{% load entrak_extras %}
{% load static %}
{% load humanize %}

{% block extra_head %}
{{block.super}}

<link rel="stylesheet" type="text/css" href="{% static 'css/drop-down-panel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/report.css' %}">
<script src="{% static 'js/jquery-cookie-master/jquery.cookie.js' %}"></script>
<script src="{% static 'js/csrf_ajax.js' %}"></script>
<script src="{% static 'js/moment-timezone-with-data.min.js' %}"></script>
<script src="{% static 'js/mustache.js-master/mustache.js' %}"></script>
<script src="{% static 'js/jquery.tinysort.min.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.min.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.pie.min.js' %}"></script>
<script src="{% static 'js/entrak-system.js' %}"></script>
<script src="{% static 'js/entrak-utils.js' %}"></script>
<script src="{% static 'js/report-generator.js' %}"></script>
{% endblock %}

{% block selected-menu-link-id %}menu-link-report{% endblock %}
{% block system_menu_target_view %}report{% endblock %}
{% block breadcrumb_target_view %}report{% endblock %}

{% block page_title %}THE REPORTS PAGE{% endblock %}
{% block page_subtitle %}Get all your information here at the{% endblock %}

{% block extra_script %}
{{block.super}}

<script id="key-statistics-row-template" type="x-tmpl-mustache">
<div class="key-statistics-row">
	<span class="usage-type-name" style="background-color: {% templatetag openvariable %}nameBackgroundColor{% templatetag closevariable %};" order="{% templatetag openvariable %}order{% templatetag closevariable %}">{% templatetag openvariable %}usageTypeName{% templatetag closevariable %}</span>
	<span>{% templatetag openvariable %}energyVal{% templatetag closevariable %}</span>
	<span>{% templatetag openvariable %}co2Val{% templatetag closevariable %}</span>
	<span>{% templatetag openvariable %}moneyVal{% templatetag closevariable %}</span>
</div>
</script>

<script id="key-percent-sub-info-template" type="x-tmpl-mustache">
<div class="key-percent-sub-info" style="color: {% templatetag openvariable %}color{% templatetag closevariable %};">
	<span>{% templatetag openvariable %}bullet{% templatetag closevariable %}</span><span class="sub-info-name">{% templatetag openvariable %}name{% templatetag closevariable %}</span><br>
	<span class="sub-info-percent">{% templatetag openvariable %}percentVal{% templatetag closevariable %}</span>
</div>
</script>

<script type="text/javascript">

var report = {};

function genReportName(targetDt) {
	var reportName = "";
	if (report.currentReportType === ReportGenerator.REPORT_TYPE_MONTH) {
		reportName = targetDt.format("MMM YYYY");
	}

	return reportName;
}

function updateReportName() {
	var reportName = genReportName(report.currentDt);
	$(".report-name").text(reportName + " - Monthly Energy Report");
}

$(function() {
	setupAjaxForCsrf($.cookie('csrftoken'));

	report.entrakSystem = new EntrakSystem();
	report.entrakSystem.assignSystemTree('{{systems|jsonifySystems}}');

	report.currentReportType = ReportGenerator.REPORT_TYPE_MONTH;
	report.timezone = '{{systems.0.timezone}}';
	{% if monthly_summary|length >= 1 %}
	report.currentDt =  moment.unix({{monthly_summary.0.timestamp}}).tz(report.timezone);
	{% endif %}

	updateReportName();

	report.reportGenerator = new ReportGenerator(report.entrakSystem.systemTree, report.timezone);
	if ("currentDt" in report) {
		report.reportGenerator.getReportData(report.currentDt, function(data) {
			report.reportGenerator.assignData(data);
			report.reportGenerator.generateKeyStatistics();
			report.reportGenerator.generateCalendarReport();
		});
	}
});
</script>
{% endblock %}

{% block page_content %}

<div class="panel-component">
	<div class="drop-down-panel-header">
		<div class="panel-header-left-menu">
			<h3>Monthly Report</h3><h3>Customize Report</h3><h3>Download Data</h3>
		</div>
	</div>

	<div id="panel-content">
		<div id="monthly-report">
			<div id="monthly-report-header">
				<span>Monthly Reports</span>
				<span>Energy Consumption (kWh)</span>
				<span>CO<sub>2</sub> Emissions (kg)</span>
				<span>Energy Cost ($)</span>
				<span>Download</span>
			</div>
			<div id="monthly-report-content">
				{% for summary in monthly_summary %}
				<div>
					<span class="summary-date-col">{{summary.dt|date:"M Y"}}</span>
					<span>{{summary.energy_usage|floatformat:"0"|intcomma}}</span>
					<span>{{summary.co2_usage|floatformat:"0"|intcomma}}</span>
					<span>{{summary.money_usage|floatformat:"0"|intcomma}}</span>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<div class="system-name">{{systems.0.name}}</div>
<hr class="title-separator">
<div class="report-name"></div>
<div>Save Report</div>
<hr class="head-separator">

<div class="report-component">
	<div class="report-component-header">WHAT ARE OUR KEY STATISTICS FOR THIS MONTH</div>
	<hr class="report-component-separator">
	<div class="basic-info-container">
		<div id="current-usage-col" class="basic-info-col">
			<div>HOW MUCH ENERGY<br>DID WE USE?</div>
			<div>
				<img src="">
				<span id="current-energy-usage"></span>
			</div>
			<div>
				<img src="">
				<span id="current-co2-usage"></span>
			</div>
			<div>
				<img src="">
				<span id="current-money-usage"></span>
			</div>
		</div>

		<div id="save-usage-col" class="basic-info-col">
			<div>HOW MUCH ENERGY<br>DID WE SAVE?</div>
			<div>
				<img src="">
				<span id="save-energy-usage"></span><br>
				<span id="save-energy-subtext"></span>
			</div>
			<div>
				<img src="">
				<span id="save-co2-usage"></span><br>
				<span id="save-co2-subtext"></span>
			</div>
			<div>
				<img src="">
				<span id="save-money-usage"></span><br>
				<span id="save-money-subtext"></span>
			</div>
		</div>

		<div id="impact-col" class="basic-info-col">
			<div>WHAT WAS OUR<br>ENVIRONMENTAL IMPACT?</div>
			<div>
				<img src="">
				<span id="car-impact"></span><br>
				<span id="car-impact-subtext"></span>
			</div>
			<div>
				<img src="">
				<span id="forest-impact"></span><br>
				<span id="forest-impact-subtext"></span>
			</div>
			<div>
				<img src="">
				<span id="elephant-impact-subtext"></span><br>
				<span id="elephant-impact"></span>
			</div>
		</div>
	</div>
	<div class="report-component-footer">
		<div>HIDE DETAILS</div>
	</div>

	<div class="detail-container">
		<div>
			<span>Usage Type</span>
			<span>Total Energy Consumed (kWh)</span>
			<span>Total CO<sub>2</sub> Emissions (kg)</span>
			<span>Total Money Spent ($)</span>
		</div>
		<div id="key-statistic-sub-data"></div>
		<div>HOW DOES THAT SPLIT BY PERCENTAGE?</div>
		<div class="key-statistics-percentage">
			<div id="energy-donut"></div>
			<div class="donut-center-text">kWh</div>
			<div id="energy-percent-sub-info"></div>
			<div style="clear: both;"></div>
			<div class="percent-other-info">
				<div>• Other:</div>
				<div id="energy-percent-other-info"></div>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="key-statistics-percentage">
			<div id="co2-donut"></div>
			<div class="donut-center-text">CO<sub>2</sub></div>
			<div id="co2-percent-sub-info"></div>
			<div style="clear: both;"></div>
			<div class="percent-other-info">
				<div>• Other:</div>
				<div id="co2-percent-other-info"></div>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="key-statistics-percentage">
			<div id="money-donut"></div>
			<div class="donut-center-text">Money</div>
			<div id="money-percent-sub-info"></div>
			<div style="clear: both;"></div>
			<div class="percent-other-info">
				<div>• Other:</div>
				<div id="money-percent-other-info"></div>
			</div>
			<div style="clear: both;"></div>
		</div>
	</div>
</div>

{% endblock %}
