{% extends "page_base.html" %}

{% load entrak_extras %}
{% load static %}
{% load humanize %}

{% block extra_head %}
{{block.super}}

<link rel="stylesheet" type="text/css" href="{% static 'css/drop-down-panel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/report.css' %}">
<script src="{% static 'js/jquery-cookie-master/jquery.cookie.js' %}"></script>
<script src="{% static 'js/csrf_ajax.js' %}"></script>
<script src="{% static 'js/moment-timezone-with-data.min.js' %}"></script>
<script src="{% static 'js/mustache.js-master/mustache.js' %}"></script>
<script src="{% static 'js/jquery.tinysort.min.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.min.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.pie.min.js' %}"></script>
<script src="{% static 'js/entrak-system.js' %}"></script>
<script src="{% static 'js/entrak-utils.js' %}"></script>
<script src="{% static 'js/report-generator.js' %}"></script>
{% endblock %}

{% block selected-menu-link-id %}menu-link-report{% endblock %}
{% block system_menu_target_view %}report{% endblock %}
{% block breadcrumb_target_view %}report{% endblock %}

{% block page_title %}THE REPORTS PAGE{% endblock %}
{% block page_subtitle %}Get all your information here at the{% endblock %}

{% block extra_script %}
{{block.super}}

{% include "report_inner_template.html" %}

<script type="text/javascript">

var report = {};

function updateReportName() {
	$(".report-name").text(report.reportGenerator.genReportName());
}

function updateBoundDt() {
	if (report.currentReportType === ReportGenerator.REPORT_TYPE_YEAR) {
		if (report.firstRecord.month() === 0 && report.firstRecord.date() === 1) {
			report.boundStartDt = moment(report.firstRecord).startOf('year');
		} else {
			report.boundStartDt = moment(report.firstRecord).add('y', 1).startOf('year');
		}

		report.boundEndDt = moment().tz(report.timezone).startOf('year');
	} else if (report.currentReportType === ReportGenerator.REPORT_TYPE_QUARTER) {
		if (report.firstRecord.date() === 1
			&& (report.firstRecord.month() === 0 || report.firstRecord.month() === 3
				|| report.firstRecord.month() === 6 || report.firstRecord.month() === 9)) {
			report.boundStartDt = moment(report.firstRecord).startOf('quarter');
		} else {
			report.boundStartDt = moment(report.firstRecord).add('M', 3).startOf('quarter');
		}

		report.boundEndDt = moment().tz(report.timezone).startOf('quarter');
	} else if (report.currentReportType === ReportGenerator.REPORT_TYPE_WEEK) {
		if (report.firstRecord.day() === 0) {
			report.boundStartDt = moment(report.firstRecord).startOf('week');
		} else {
			report.boundStartDt = moment(report.firstRecord).add('w', 1).startOf('week');
		}

		report.boundEndDt = moment().tz(report.timezone).startOf('week');
	}
}

function isTargetDtValid(targetDt) {
	return ( (targetDt.isAfter(report.boundStartDt) || targetDt.isSame(report.boundStartDt))
		&& targetDt.isBefore(report.boundEndDt));
}

function isCustomMonthDtValid(targetStartDt, targetEndDt) {
	if (targetStartDt === undefined || targetEndDt === undefined
		|| targetStartDt === null || targetEndDt === null) {
		return false;
	}

	var endBound = moment().tz(report.timezone).startOf('day');
	var dtDiff = targetEndDt.diff(targetStartDt, 'days');
	return ( (targetStartDt.isAfter(report.firstRecord) || targetStartDt.isSame(report.firstRecord))
		&& (targetStartDt.isBefore(endBound) || targetStartDt.isSame(endBound))
		&& (targetEndDt.isAfter(report.firstRecord) || targetEndDt.isSame(report.firstRecord))
		&& (targetEndDt.isBefore(endBound)|| targetEndDt.isSame(endBound))
		&& (dtDiff >= 25 && dtDiff <= 35) )
}

function canCreateCustomReport() {
	var canCreate = true;
	if (report.currentReportType === ReportGenerator.REPORT_TYPE_CUSTOM_MONTH) {
		if (!(isCustomMonthDtValid(report.currentDt, report.customMonthEndDt))) {
			canCreate = false;
		}
	} else {
		if (!(isTargetDtValid(report.currentDt))) {
			canCreate = false;
		}
	}

	return canCreate;
}

function updateReportType(targetReportType) {
	if (targetReportType === ReportGenerator.REPORT_TYPE_CUSTOM_MONTH) {
		$("#panel-content").css('height', '723px');

		$(".customize-detail-section .three-column-section").fadeIn();
		$(".customize-detail-section .two-column-section").hide();
	} else {
		if (targetReportType === ReportGenerator.REPORT_TYPE_WEEK) {
			$("#panel-content").css('height', '406px');
			$("#customize-report .two-column-section").addClass('custom-week');
		} else {
			$("#panel-content").css('height', '362px');
			$("#customize-report .two-column-section").removeClass('custom-week');
		}

		$(".customize-detail-section .two-column-section").fadeIn();
		$(".customize-detail-section .three-column-section").hide();

		if (targetReportType === ReportGenerator.REPORT_TYPE_WEEK) {
			$(".two-column-section #week-datepicker").fadeIn();
			$(".two-column-section .year-quarter-calendar").hide();
		} else {
			$(".two-column-section .year-quarter-calendar").fadeIn();
			$(".two-column-section #week-datepicker").hide();
		}
	}

	report.currentReportType = targetReportType;
	updateBoundDt();

	$(".datetime-result .from-date").text('');
	$(".datetime-result .to-date").text('');
	$(".create-report-btn").addClass("btn-disable");

	if (targetReportType === ReportGenerator.REPORT_TYPE_YEAR) {
		timeRangeYearSelected();
	} else if (targetReportType === ReportGenerator.REPORT_TYPE_QUARTER) {
		timeRangeQuarterSelected();
	} else if (targetReportType === ReportGenerator.REPORT_TYPE_CUSTOM_MONTH) {
		timeRangeCustomMonthSelected();
	} else if (targetReportType === ReportGenerator.REPORT_TYPE_WEEK) {
		timeRangeWeekSelected();
	}
}

function timeRangeYearSelected() {
	report.currentDt = moment(report.boundEndDt).subtract('y', 1);

	var targetYearEle = $(".year-quarter-calendar-head .target-year");
	targetYearEle.text(report.currentDt.format('YYYY'));

	$(".year-quarter-calendar-content").addClass("quarter-content-disable");

	$(".year-quarter-calendar-head .prev-btn").off('click').click(function() {
		var targetDt = moment(report.currentDt).subtract('y', 1);
		if (isTargetDtValid(targetDt)) {
			report.currentDt.subtract('y', 1);
			targetYearEle.text(report.currentDt.format('YYYY'));
			updateGenReportSection();
		}
	});
	$(".year-quarter-calendar-head .next-btn").off('click').click(function() {
		var targetDt = moment(report.currentDt).add('y', 1);
		if (isTargetDtValid(targetDt)) {
			report.currentDt.add('y', 1);
			targetYearEle.text(report.currentDt.format('YYYY'));
			updateGenReportSection();
		}
	});

	updateGenReportSection();
}

function updateSelectedQuarter() {
	$(".year-quarter-calendar-content>div").removeClass('selected-quarter');
	var quarterIdx = report.currentDt.month()/3;
	$($(".year-quarter-calendar-content>div")[quarterIdx]).addClass('selected-quarter');
}

function timeRangeQuarterSelected() {
	report.currentDt = moment(report.boundEndDt).subtract('M', 3);

	var targetYearEle = $(".year-quarter-calendar-head .target-year");
	targetYearEle.text(report.currentDt.format('YYYY'));
	updateSelectedQuarter();

	$(".year-quarter-calendar-content").removeClass("quarter-content-disable");

	$(".year-quarter-calendar-head .prev-btn").off('click').click(function() {
		var targetDt = moment(report.currentDt).subtract('y', 1);
		if (targetDt.year() >= report.boundStartDt.year()) {
			report.currentDt.subtract('y', 1);
			while(report.currentDt.isBefore(report.boundStartDt)) {
				report.currentDt.add('M', 3);
			}
			targetYearEle.text(report.currentDt.format('YYYY'));
			updateSelectedQuarter();
			updateGenReportSection();
		}
	});
	$(".year-quarter-calendar-head .next-btn").off('click').click(function() {
		var targetDt = moment(report.currentDt).add('y', 1);
		if (targetDt.year() < report.boundEndDt.year()
			|| (targetDt.year() === report.boundEndDt.year() && report.boundEndDt.month() !== 0) ) {
			report.currentDt.add('y', 1);
			while(!(report.currentDt.isBefore(report.boundEndDt))) {
				report.currentDt.subtract('M', 3);
			}
			targetYearEle.text(report.currentDt.format('YYYY'));
			updateSelectedQuarter();
			updateGenReportSection();
		}
	});

	updateGenReportSection();
}

function timeRangeCustomMonthSelected() {
	$(".three-column-section .report-datepicker").datepicker("destroy");
	var datepickerOptions = {
	};
	$("#month-start-datepicker").datepicker($.extend({
		minDate: report.firstRecord.toDate(),
		maxDate: "-26d",
		onSelect: function(dateText, inst) {
			var selectDt = moment($(this).datepicker('getDate'));
			var boundMinDate = moment(selectDt).add('d', 25);
			if (boundMinDate.isAfter(moment(), 'day')) {
				boundMinDate = moment().startOf('day');
			}
			var boundMaxDate = moment(selectDt).add('d', 35);
			if (boundMaxDate.isAfter(moment(), 'day')) {
				boundMaxDate = moment().startOf('day');
			}
			$("#month-end-datepicker").datepicker("option", "minDate", boundMinDate.toDate());
			$("#month-end-datepicker").datepicker("option", "maxDate", boundMaxDate.toDate());

			report.currentDt = selectDt;
			updateGenReportSection();
		},
	}, datepickerOptions));
	$("#month-end-datepicker").datepicker($.extend({
		minDate: moment(report.firstRecord).add('d', 25).toDate(),
		maxDate: "-0d",
		onSelect: function(dateText, inst) {
			report.customMonthEndDt = moment($(this).datepicker('getDate'));
			updateGenReportSection();
		},
	}, datepickerOptions));
}

function selectWholeWeek() {
	window.setTimeout(function () {
		$('#week-datepicker').find('.ui-datepicker-current-day a').addClass('ui-state-active')
	}, 1);
}

function setWeekHoverEffect() {
	window.setTimeout(function () {
		$('#week-datepicker .ui-datepicker-calendar tr').on("mousemove", function() {
			$(this).find('td a').addClass('ui-state-hover');
		});
		$('#week-datepicker .ui-datepicker-calendar tr').on("mouseleave", function() {
			$(this).find('td a').removeClass('ui-state-hover');
		});
	}, 1);
}

function timeRangeWeekSelected() {
	var weekStartDate, weekEndDate;
	$("#week-datepicker").datepicker('destroy');
	$("#week-datepicker").datepicker({
		showOtherMonths: true,
		selectOtherMonths: true,
		minDate: report.boundStartDt.toDate(),
		maxDate: moment(report.boundEndDt).subtract('d', 1).toDate(),
		onSelect: function(dateText, inst) {
			var selectDt = moment($(this).datepicker('getDate')).startOf('week');
			weekStartDate = selectDt.toDate();
			weekEndDate = moment(selectDt).endOf('week').toDate();
			selectWholeWeek();

			report.currentDt = selectDt;
			updateGenReportSection();
			setWeekHoverEffect();
		},
		beforeShowDay: function(date) {
			var cssClass = '';
			if(date >= weekStartDate && date <= weekEndDate) {
				cssClass = 'ui-datepicker-current-day';
			}
			return [true, cssClass];
		},
		onChangeMonthYear: function(year, month, inst) {
			selectWholeWeek();
			setWeekHoverEffect();
		}
	});

	setWeekHoverEffect();
}

function updateGenReportSection() {
	var fromText, toText;
	if (report.currentReportType === ReportGenerator.REPORT_TYPE_YEAR) {
		fromText = report.currentDt.format('YYYY');
		toText = report.reportGenerator.genEndDt(report.currentDt, report.currentReportType).format('YYYY');
	} else if (report.currentReportType === ReportGenerator.REPORT_TYPE_QUARTER) {
		fromText = report.currentDt.format('YYYY MMMM');
		toText = report.reportGenerator.genEndDt(report.currentDt, report.currentReportType).format('YYYY MMMM');
	} else if (report.currentReportType === ReportGenerator.REPORT_TYPE_CUSTOM_MONTH) {
		fromText = moment($("#month-start-datepicker").datepicker("getDate")).format("D MMM YYYY, ddd");
		toText = moment($("#month-end-datepicker").datepicker("getDate")).format("D MMM YYYY, ddd");
	} else if (report.currentReportType === ReportGenerator.REPORT_TYPE_WEEK) {
		fromText = report.currentDt.format("D MMM YYYY, ddd");
		toText = moment(report.currentDt).add('w', 1).format("D MMM YYYY, ddd");
	}
	$(".datetime-result .from-date").text(fromText);
	$(".datetime-result .to-date").text(toText);

	updateCreateBtnStatus();
}

function updateCreateBtnStatus() {
	var createBtnEnable = canCreateCustomReport();

	if (createBtnEnable) {
		$(".create-report-btn").removeClass("btn-disable");
	} else {
		$(".create-report-btn").addClass("btn-disable");
	}
}

function dlRawDataSelected() {
	$(".datetime-result .from-date").text('');
	$(".datetime-result .to-date").text('');
	$(".create-report-btn").addClass("btn-disable");

	$('.unit-container>span').removeClass('selected-unit')
	$('.unit-container>span:eq(0)').addClass('selected-unit');

	report.dlRawDataStartDt = null;
	report.dlRawDataEndDt = null;
	report.dlRawDataUnit = 'kwh';

	$("#download-raw-data .report-datepicker").datepicker('destroy');
	$("#dl-data-start-datepicker").datepicker({
		minDate: report.firstRecord.toDate(),
		maxDate: '-1d',
		onSelect: function(dateText, inst) {
			var selectDt = moment($(this).datepicker('getDate')).tz(report.timezone);
			var boundMinDate = moment(selectDt).add('d', 1).toDate();
			$("#dl-data-end-datepicker").datepicker("option", "minDate", boundMinDate);

			if (report.dlRawDataEndDt !== null
				&& (selectDt.isSame(report.dlRawDataEndDt)) || selectDt.isAfter(report.dlRawDataEndDt)) {
				var endDt = moment($("#dl-data-end-datepicker").datepicker('getDate')).tz(report.timezone);
				report.dlRawDataEndDt = endDt;
				$(".datetime-result .to-date").text(endDt.format('D MMM YYYY, ddd'));
			}

			report.dlRawDataStartDt = selectDt;
			$(".datetime-result .from-date").text(selectDt.format('D MMM YYYY, ddd'));

			updateDlRawBtnStatus();
		},
	});
	$("#dl-data-end-datepicker").datepicker({
		minDate: report.firstRecord.toDate(),
		maxDate: '0d',
		onSelect: function(dateText, inst) {
			var selectDt = moment($(this).datepicker('getDate')).tz(report.timezone);
			report.dlRawDataEndDt = selectDt;
			$(".datetime-result .to-date").text(selectDt.format('D MMM YYYY, ddd'));

			updateDlRawBtnStatus();
		},
	});
}

function canDlRawData() {
	return (report.dlRawDataStartDt !== null
		&& report.dlRawDataEndDt !== null
		&& report.dlRawDataEndDt.isAfter(report.dlRawDataStartDt))
}

function updateDlRawBtnStatus() {
	if (canDlRawData()) {
		$(".create-report-btn").removeClass("btn-disable");
	} else {
		$(".create-report-btn").addClass("btn-disable");
	}
}

$(function() {
	setupAjaxForCsrf($.cookie('csrftoken'));

	report.entrakSystem = new EntrakSystem();
	report.entrakSystem.assignSystemTree('{{systems|jsonifySystems}}');

	report.currentReportType = ReportGenerator.REPORT_TYPE_MONTH;
	report.timezone = '{{systems.0.timezone}}';
	report.firstRecord = moment.unix(report.entrakSystem.systemTree.data.firstRecord).tz(report.timezone);
	{% if monthly_summary|length >= 1 %}
	report.currentDt =  moment.unix({{monthly_summary.0.timestamp}}).tz(report.timezone);
	{% endif %}

	$(".report-component").css("opacity", 0.0);

	report.reportGenerator = new ReportGenerator(report.entrakSystem.systemTree, report.timezone,
		ReportGenerator.REPORT_TYPE_MONTH);
	if ("currentDt" in report) {
		report.reportGenerator.updateDtInfo(report.currentDt, null);
		updateReportName();

		report.reportGenerator.getReportData(function(data) {
			report.reportGenerator.assignData(data);
			report.reportGenerator.generateFullReport();
			$(".report-component").fadeTo(600, 1.0);
		});
	}

	$(".panel-header-left-menu h3").each(function(btnIdx) {
		$(this).click({btnIdx: btnIdx}, function(event) {
			var btnIdx = event.data.btnIdx;

			$(".panel-header-left-menu h3").removeClass('selected-tab');
			$(this).addClass('selected-tab');

			var panelContentHeight;
			if (btnIdx === 0) {
				panelContentHeight = '162px';
			} else if (btnIdx === 1) {
				panelContentHeight = '362px';
				updateReportType(ReportGenerator.REPORT_TYPE_YEAR);
			} else if (btnIdx === 2) {
				panelContentHeight = '608px';
				dlRawDataSelected();
			}
			$("#panel-content").css("height", panelContentHeight);

			var targetPanel = $($('#panel-content>div')[btnIdx]);
			if (targetPanel.css("display") == 'none') {
				$('#panel-content>div').fadeOut();
				targetPanel.fadeIn();
			}
		});
	});
	$(".panel-header-left-menu h3:eq(1)").click();

	$(".time-range-section span").each(function(btnIdx) {
		$(this).click({btnIdx: btnIdx}, function(event) {
			var btnIdx = event.data.btnIdx;
			var targetReportType;
			if (btnIdx === 0) {
				targetReportType = ReportGenerator.REPORT_TYPE_YEAR;
			} else if(btnIdx === 1) {
				targetReportType = ReportGenerator.REPORT_TYPE_QUARTER;
			} else if(btnIdx === 2) {
				targetReportType = ReportGenerator.REPORT_TYPE_CUSTOM_MONTH;
			} else if(btnIdx===3) {
				targetReportType = ReportGenerator.REPORT_TYPE_WEEK;
			}

			if (targetReportType !== report.currentReportType) {
				updateReportType(targetReportType);
			}
		});
	});

	$(".summary-date-col").click(function() {
		$(".report-component").fadeTo(600, 0.0);
		var targetDt = moment.unix(parseInt($(this).attr("dt_timestamp")));
		report.currentDt = targetDt;
		report.reportGenerator.updateDtInfo(report.currentDt, null);
		report.reportGenerator.getReportData(function(data) {
			report.reportGenerator.assignData(data);
			report.reportGenerator.generateFullReport();
			$(".report-component").fadeTo(600, 1.0);
		});
		updateReportName();
	});

	$(".hide-details-btn").click(function() {
		$(this).toggleClass('btn-down');
		$(this).parent().parent().find(".detail-container").slideToggle();
	})

	$(".pdf-icon, .pdf-text").click(function() {
		var targetTimestamp = $(this).parent().find('.summary-date-col').attr('dt_timestamp');

		$(".download-pdf-form input[name='start_timestamp']").attr("value", targetTimestamp);
		$(".download-pdf-form input[name='report_type']").attr("value", ReportGenerator.REPORT_TYPE_MONTH);
		$(".download-pdf-form input[name='end_timestamp']").attr("value", 0);
		$(".download-pdf-form").submit();
	});

	$(".save-report-btn, .bottom-save-report-btn").click(function() {
		$(".download-pdf-form input[name='start_timestamp']").attr("value", report.currentDt.unix());
		$(".download-pdf-form input[name='report_type']").attr("value", report.currentReportType);
		if (report.currentReportType === ReportGenerator.REPORT_TYPE_CUSTOM_MONTH) {
			$(".download-pdf-form input[name='end_timestamp']").attr("value", report.customMonthEndDt.unix());
		} else {
			$(".download-pdf-form input[name='end_timestamp']").attr("value", 0);
		}
		$(".download-pdf-form").submit();
	});

	$("#customize-report .create-report-btn").click(function() {
		if (!(canCreateCustomReport())) {
			return;
		}

		report.reportGenerator.reportType = report.currentReportType;
		if (report.currentReportType === ReportGenerator.REPORT_TYPE_CUSTOM_MONTH) {
			report.reportGenerator.updateDtInfo(report.currentDt, report.customMonthEndDt);
		} else {
			report.reportGenerator.updateDtInfo(report.currentDt, null);
		}

		$(".report-component").fadeTo(600, 0.0);
		updateReportName();
		report.reportGenerator.getReportData(function(data) {
			report.reportGenerator.assignData(data);
			report.reportGenerator.generateFullReport();
			$(".report-component").fadeTo(600, 1.0);
		});
	});

	$(".year-quarter-calendar-content>div").each(function(btnIdx) {
		$(this).click({btnIdx: btnIdx}, function(event) {
			var btnIdx = event.data.btnIdx;
			var targetDt = moment(report.currentDt).month(btnIdx*3);
			if (isTargetDtValid(targetDt)) {
				$(".year-quarter-calendar-content>div").removeClass('selected-quarter');
				$(this).addClass('selected-quarter');
				report.currentDt = targetDt;
				updateGenReportSection();
			}
		});
	});

	$(".unit-container>span").each(function(btnIdx) {
		$(this).click({btnIdx: btnIdx}, function(event) {
			var btnIdx = event.data.btnIdx;
			if (btnIdx === 0) {
				report.dlRawDataUnit = 'kwh';
			} else if (btnIdx === 1) {
				report.dlRawDataUnit = 'money';
			} else if (btnIdx === 2) {
				report.dlRawDataUnit = 'co2';
			} else if (btnIdx === 3) {
				report.dlRawDataUnit = 'all';
			}

			$(".unit-container>span").removeClass('selected-unit');
			$(this).addClass('selected-unit');
		});
	});

	$("#download-raw-data .create-report-btn").click(function() {
		if (canDlRawData()) {
			$(".download-raw-data-form input[name='start_timestamp']").attr("value", report.dlRawDataStartDt.unix());
			$(".download-raw-data-form input[name='end_timestamp']").attr("value", report.dlRawDataEndDt.unix());
			$(".download-raw-data-form input[name='unit']").attr("value", report.dlRawDataUnit);
			$(".download-raw-data-form").submit();
		}
	});
});
</script>

{% endblock %}

{% block page_content %}

<div class="panel-component">
	<div class="drop-down-panel-header">
		<div class="panel-header-left-menu">
			<h3 panel="monthly-report">
				Monthly Report</h3><h3 panel="customize-report">
				Customize Report</h3><h3 panel="download-data">Download Data</h3>
		</div>
	</div>

	<div id="panel-content">
		<div id="monthly-report">
			<div id="monthly-report-header">
				<span>Monthly Reports</span>
				<span>Energy Consumption (kWh)</span>
				<span>CO<sub>2</sub> Emissions (kg)</span>
				<span>Energy Cost ($)</span>
				<span>Download</span>
			</div>
			<hr>
			<hr>
			<div id="monthly-report-content">
				{% for summary in monthly_summary %}
				<div>
					<span class="summary-date-col" dt_timestamp="{{summary.timestamp}}">{{summary.dt|date:"M Y"}}</span>
					<span>{{summary.energy_usage|floatformat:"0"|intcomma}}</span>
					<span>{{summary.co2_usage|floatformat:"0"|intcomma}}</span>
					<span>{{summary.money_usage|floatformat:"0"|intcomma}}</span>
					<img class="pdf-icon" src="{% static 'images/report/pdf-icon.png' %}">
					<span class="pdf-text">PDF</span>
				</div>
				{% endfor %}
			</div>
		</div>

		<div id="customize-report">
			<div class="customize-section-title"><span>1</span>Select your time range</div>
			<hr>
			<div class="time-range-section">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="customize-detail-section">
				<div class="two-column-section">
					<div>
						<div class="customize-section-title"><span>2</span>Select your time period</div>
						<hr>
						<div class="customize-calendar-section">
							<div class="year-quarter-calendar">
								<div class="year-quarter-calendar-head">
									<span class="prev-btn">◀</span><span class="target-year"></span><span class="next-btn">▶</span>
								</div>
								<div class="year-quarter-calendar-content">
									<div>
										<div class="quarter-idx">Q1</div>
										<div class="quarter-month"><span>Jan</span><span>Feb</span><span>Mar</span></div>
									</div>
									<div>
										<div class="quarter-idx">Q2</div>
										<div class="quarter-month"><span>Apr</span><span>May</span><span>Jun</span></div>
									</div>
									<div>
										<div class="quarter-idx">Q3</div>
										<div class="quarter-month"><span>Jul</span><span>Aug</span><span>Sep</span></div>
									</div>
									<div>
										<div class="quarter-idx">Q4</div>
										<div class="quarter-month"><span>Oct</span><span>Nov</span><span>Dec</span></div>
									</div>
								</div>
							</div>
							<div id="week-datepicker" class="report-datepicker"></div>
						</div>
					</div>
					<div>
						<div class="customize-section-title section-three-title"><span>3</span>Create your report</div>
						<hr>
						<div class="create-report-section">
							<div class="datetime-result">
								<div class="datetime-result-title">Energy data - kWh</div>
								<div class="datetime-result-from-to">
									<div><span>From:</span><span class="from-date"></span></div>
									<div><span>To:</span><span class="to-date"></span></div>
								</div>
								<hr>
								<div class="create-report-btn">Create Report</div>
							</div>
						</div>
					</div>
				</div>
				<div class="three-column-section">
					<div class="customize-section-title"><span>2</span>Select your time period</div>
					<hr>
					<div class="select-time-period-section">
						<div>Select the start and end date of your monthly electricity bill.</div>
						<div>If you wish to view a stardard calendar month, click on the Monthly Report tab at the top of the page</div>
						<hr>
						<div>
							<div class="report-datepicker-container">
								<div>Choose your start date</div>
								<div id="month-start-datepicker" class="report-datepicker"></div>
							</div>
							<div class="report-datepicker-container">
								<div>Choose your end date</div>
								<div id="month-end-datepicker" class="report-datepicker"></div>
							</div>
						</div>
					</div>
					<div class="customize-section-title"><span>3</span>Create your report</div>
					<hr>
					<div class="create-report-section">
						<div class="datetime-result">
							<div class="datetime-result-title">Energy data - kWh</div>
							<div class="datetime-result-from-to">
								<div><span>From:</span><span class="from-date"></span></div>
								<div><span>To:</span><span class="to-date"></span></div>
							</div>
							<hr>
							<div class="create-report-btn">Create Report</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="download-raw-data">
			<div class="dl-data-title">Here you can download your energy use data to files that can be opened in Microsoft Excel (CSV).</div>
			<div class="dl-data-title">Simply select the start date/time, the end date/time, and the units you'd like to see in your data file.</div>
			<div class="customize-section-title"><span>1</span>Choose your date</div>
			<hr>
			<div class="dl-choose-date-section">
				<div class="report-datepicker-container">
					<div>Choose your start date</div>
					<div id="dl-data-start-datepicker" class="report-datepicker"></div>
				</div>
				<div class="report-datepicker-container">
					<div>Choose your end date</div>
					<div id="dl-data-end-datepicker" class="report-datepicker"></div>
				</div>
			</div>
			<div class="two-column-section">
				<div class="choose-unit-section">
					<div class="customize-section-title"><span>2</span>Select your units</div>
					<hr>
					<div class="unit-container">
						<span></span><span></span><span></span><span></span>
					</div>
				</div>
				<div>
					<div class="customize-section-title"><span>3</span>Download your file</div>
					<hr>
					<div class="create-report-section">
						<div class="datetime-result">
							<div class="datetime-result-title">Energy data - kWh</div>
							<div class="datetime-result-from-to">
								<div><span>From:</span><span class="from-date"></span></div>
								<div><span>To:</span><span class="to-date"></span></div>
							</div>
							<hr>
							<div class="create-report-btn">Download File</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="report-head">
	<div class="system-name">{{systems.0.name}}</div>
	<hr class="title-separator">
	<div class="report-name"></div>
	<div class="save-report-btn">Save Report</div>
	<hr class="head-separator">
</div>

{% include "report_main_content.html" %}

<div class="bottom-save-report-btn">Save Report</div>
<div class="bottom-space"></div>

<form class="download-pdf-form" action="{% url 'report_pdf' system_code=systems.0.code %}" method="POST">{% csrf_token %}
	<input name="start_timestamp" value="">
	<input name="end_timestamp" value="">
	<input name="report_type" value="">
</form>

<form class="download-raw-data-form" action="{% url 'export_data' system_code=systems.0.code %}" method="POST">{% csrf_token %}
	<input name="start_timestamp" value="">
	<input name="end_timestamp" value="">
	<input name="unit" value="">
</form>

{% endblock %}
