{% extends "page_base.html" %}

{% load i18n %}
{% load entrak_extras %}
{% load static %}
{% load humanize %}

{% block ga_page_title %}report{% endblock %}

{% block extra_head %}
{{block.super}}
{% get_current_language as LANGUAGE_CODE %}

<link rel="stylesheet" type="text/css" href="{% static 'css/drop-down-panel.css' %}">

<script src="{% static 'js/jquery-cookie-master/jquery.cookie.js' %}"></script>
<script src="{% static 'js/csrf_ajax.js' %}"></script>
<script src="{% static 'js/moment-with-locales.js' %}"></script>
<script src="{% static 'js/moment-timezone-with-data.min.js' %}"></script>
<script src="{% static 'js/entrak-system.js' %}"></script>
<script src="{% static 'js/entrak-utils.js' %}"></script>
<script src="{% static 'js/report-generator.js' %}"></script>

<link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/kendoui/styles/kendo.common.min.css' %}" rel="stylesheet">
<link href="{% static 'css/kendo.entrak.theme.css' %}" rel="stylesheet">

<!-- Because now using jquery v1.11 -->
<!-- <script src="{% static 'assets/kendoui/js/angular.min.js' %}"></script> -->
<!-- <script src="{% static 'assets/kendoui/js/kendo.all.min.js' %}"></script> -->
<script src="{% static 'assets/etkendoui/js/et.datepicker.js' %}"></script>
<script src="{% static 'assets/etkendoui/js/cultures/kendo.culture.zh-TW.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard/widgets.css' %}">


{% endblock %}

{% block selected-menu-link-id %}menu-link-report{% endblock %}
{% block system_menu_target_view %}report{% endblock %}
{% block breadcrumb_target_view %}report{% endblock %}

{% block page_title %}{% trans "THE REPORTS PAGE" %}{% endblock %}
{% block page_subtitle %}{% trans "Get all your information here at the" %}{% endblock %}

{% block page_content %}

<div class="container" ng-app="Entrak">
    <div class="row">
        <div class="col-md-8">
            {% include "companies/dashboard/widgets/_real_time.html" with widget_id=4 %}
        </div>
        <div class="col-md-4">
            {% include "companies/dashboard/widgets/_tips.html" with widget_id=3 %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
          {% include "companies/dashboard/widgets/_tips.html" with widget_id=1 %}
        </div>
        <div class="col-md-4">
          {% include "companies/dashboard/widgets/_so_far.html" with widget_id=2 %}
        </div>
        <div class="col-md-4">
          {% include "companies/dashboard/widgets/_last_week_stats.html" with widget_id=5 %}
        </div>
    </div>
</div>

<script>
    var ngapp = angular.module("Entrak", [ "kendo.directives" ]);
    ngapp.controller("WidgetRealtime", function($scope) {
        var today_measures = [];
        var last_week_measures = [];

        var today_measure_ds = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "{% url 'companies.measures.daily' current_system.code %}",
                    type: 'GET',
                    dataType: "json"
                },
                parameterMap: function(data, type) {
                    if (type == "read") {
                        var d = data.date;
                        if (d === undefined) { d = new Date(); }

                        return {
                            date: kendo.toString(d, 'yyyy-MM-dd')
                        }
                    }
                }
            },
            schema: {
                model: {
                    fields: {
                        datetime: { type: "date"}
                    }
                }
            }
        });

        var hours = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24];
        var per_hour_measures = {};
        $.each(hours, function(i, h) { per_hour_measures[h] = null; });

        $scope.realTimeOptions = {
            transitions: false,
            series: [{
                type: "column",
                name: "Today",
                color: "#ffba00",
                data: today_measures
            }, {
                type: "line",
                name: "Last Wed",
                color: "#565656",
                data: last_week_measures
            }],
            categoryAxis: {
                categories: hours
            }
        }

        // get last week data
        var last_week_date = new Date();
        last_week_date.setDate(last_week_date.getDate()-7);

        today_measure_ds.read({date: kendo.toString(last_week_date, 'yyyy-MM-dd')}).then(function() {
            var data = today_measure_ds.data();
            $.each(data, function(index, m) {
                var hour = m.datetime.getHours();
                last_week_measures[hour-1] = m.value;
            });
        });

        updateTodayMeasure = function () {
            today_measure_ds.read().then(function() {
                var data = today_measure_ds.data();
                $.each(data, function(index, m) {
                    var hour = m.datetime.getHours();
                    if (per_hour_measures[hour] === null) {
                        per_hour_measures[hour] = m.value;
                    }
                });

                today_measures.length = 0;
                $.each(per_hour_measures, function(h, v) { today_measures.push(v); });

                $scope.realTimeChart.refresh();
            });

            //kendo.animationFrame(updateTodayMeasure);
        }

        updateTodayMeasure();
    });

    ngapp.controller("WidgetTips", function($scope){
        var tipsList = [{
            shortDesc: "Put a ribbon on it",
            longDesc: "Tie a ribbon to the vent of each aircon unit so you can easily tell if aircon has actually been turned off.",
            imgPath: "/static/images/dashboard/tips-ribbon.png"
        },
        {
            shortDesc: "Label your plugs",
            longDesc: "Label your plugs so you can unplug appliances without accidentally turning off important things!",
            imgPath: "/static/images/dashboard/tips-button.png"
        },
        {
            shortDesc: "Remove a tube",
            longDesc: "If you have more light than you need in an area, you can remove one light tube to save energy!",
            imgPath: "/static/images/dashboard/tips-lightbulbs.png"
        },
        {
            shortDesc: "Turn off the socket",
            longDesc: "Even if an appliance is off, it can still consume 10% of normal energy. Remember to turn off the socket switch too!",
            imgPath: "/static/images/dashboard/tips-switch-off.png"
        },
        {
            shortDesc: "Adjust aircon tomperature",
            longDesc: "30 minutes after turning on aircon, adjust the temperature to minimize energy wastage.",
            imgPath: "/static/images/dashboard/tips-temperature.png"
        }];

        var update = function(){
            $scope.shortDesc = tipsList[$scope.curTips].shortDesc;
            $scope.longDesc = tipsList[$scope.curTips].longDesc;
            $scope.imgPath = tipsList[$scope.curTips].imgPath;
        };

        $scope.curTips = 0;
        update();

        $scope.showNext = function(goNext){
            $scope.curTips += goNext;
            if ($scope.curTips >= tipsList.length){
                $scope.curTips = 0;
            } else if ($scope.curTips < 0){
                $scope.curTips = tipsList.length - 1;
            }

            update();
        }
    });


    var costs = new kendo.data.DataSource({
        transport: {
            read: {
                url: "{% url 'companies.measures.up-till-now' current_system.code %}",
                type: 'GET',
                dataType: "json"
            },
            parameterMap: function(data, type) {
                if (type == "read") {
                    var d = data["datetime"];
                    var t = data["type"];
                    if (d === undefined) { d = new Date(); }
                    if (t === undefined) { t = "weekly"; }

                    return {
                        datetime: d.toISOString(),
                        type: t
                    }
                }
            }
        }
    });


    ngapp.controller("WidgetSoFar", function($scope){


        $scope.soFarOptions = {
            chartArea: {
                height: 230,
                margin: 15,
                background: '#FCFCFC'
            },
            legend: {
                position: 'bottom'
            },
            seriesDefaults: {
                type: 'column'
            },
            series: [{
                markers: { visible: true },
                field: 'value',
                color: '#354960',
                gap: 0.5,
                labels: {
                    visible: true,
                    format: "$ ##,#"
                }
            }],
            dataSource: costs
        }
    });

    ngapp.controller("WidgetLastWeekStats", function($scope){
    });
</script>

{% endblock %}
