{% load static %}{% load url_params %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Audit trails</title>

    <link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/kendoui/styles/kendo.common-bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/kendoui/styles/kendo.common.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/kendoui/styles/kendo.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/forms.css' %}" rel="stylesheet">

    <script src="{% static 'assets/kendoui/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/kendoui/js/angular.min.js' %}"></script>
    <script src="{% static 'assets/kendoui/js/kendo.all.min.js' %}"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
<h1>{{ company_system.name }} audit trails</h1>
<div class="bs-action">
    <form action="" method="get">

        {{ filter.form.user }}
        <input kendo-date-picker
               k-format="'yyyy-MM-dd'"
               name="{{ filter.form.created_time__gte.name }}"
               value="{{ filter.form.created_time__gte.value|default_if_none:'' }}"
               placeholder="From"
        >

        <input kendo-date-picker
               k-format="'yyyy-MM-dd'"
               name="{{ filter.form.created_time__lte.name }}"
               value="{{ filter.form.created_time__lte.value|default_if_none:'' }}"
               placeholder="To"
        >
        <button class="btn btn-default" type="submit">Update</button>
        <button class="btn btn-default" name="download_csv" type="submit">Download CSV (limited to 10000 records)</button>

    </form>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead><tr><th>Account name</th><th>Username</th><th>Action</th><th>Date time</th></tr></thead>
      <tbody>
        {% for trail in object_list %}
        <tr><td>{{ trail.user }}</td><td>{{ trail.user.first_name }} {{ trail.user.last_name }}</td><td>{{ trail.action_name }}</td><td>{{ trail.created_time }}</td></tr>
        {% empty %}
        No trail yet.
        {% endfor %}
      </tbody>
    </table>

{% if is_paginated %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{% url_params 'page' page_obj.previous_page_number %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?{% url_params 'page' page_obj.next_page_number %}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}

    <div ng-app="Entrak">
    <div ng-controller="MyCtrl">
        <kendo-grid options="mainGridOptions">
        </kendo-grid>
    </div>
</div>

  </div>
</div>

<script>
    angular.module("Entrak", [ "kendo.directives" ])
        .controller("MyCtrl", function($scope){
            $scope.mainGridOptions = {
                dataSource: {
                    transport: {
                        read: {
                            url: "/adidas/apis/audit/trails/",
                            type: 'GET',
                            dataType: "json"
                        }
                    },
                    schema: {
                        data: "results"
                    }
                },
                scrollable: false,
                columns: [{
                    field: "action_type",
                    title: "Action type",
                },{
                    field: "user",
                    title: "User",
                },{
                    field: "created_time",
                    title: "Created time"
                }]
            };
        })
</script>
    </div>
  </body>
</html>
