{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Audit trails</title>

    <link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/kendoui/styles/kendo.common-bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/kendoui/styles/kendo.common.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/kendoui/styles/kendo.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/forms.css' %}" rel="stylesheet">

    <script src="{% static 'assets/kendoui/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/kendoui/js/angular.min.js' %}"></script>
    <script src="{% static 'assets/kendoui/js/kendo.all.min.js' %}"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
<h1>{{ company_system.name }} audit trails</h1>
    <div ng-app="Entrak">
    <div ng-controller="MyCtrl">
<div class="bs-action">
    <form ng-submit="refreshGrid()" class="pull-left">
        <select kendo-drop-down-list="userFilter" ng-model="user">
          <option value="">All user</option>
        {% for u in users %}
          <option value="{{ u.id }}">{{ u.username }}</option>
        {% endfor %}
        </select>
        <input kendo-date-picker="dateFromFilter"
               k-format="'yyyy-MM-dd'"
               k-parse-format="'yyyy-MM-dd'"
               name="{{ filter.form.created_time__gte.name }}"
               value="{{ filter.form.created_time__gte.value|default_if_none:'' }}"
               placeholder="From"
               ng-model="dateFrom"
        >

        <input kendo-date-picker="dateToFilter"
               k-format="'yyyy-MM-dd'"
               name="{{ filter.form.created_time__lte.name }}"
               value="{{ filter.form.created_time__lte.value|default_if_none:'' }}"
               placeholder="To"
               ng-model="dateTo"
        >
        <button class="btn btn-default" type="submit">Update</button>
    </form>
    <form action="." method="get" class="pull-left">
      <input type="hidden" name="{{ filter.form.user.name }}" value="{% templatetag openvariable %} user {% templatetag closevariable %}">
      <input type="hidden" name="{{ filter.form.created_time__gte.name }}" value="{% templatetag openvariable %} dateFrom {% templatetag closevariable %}">
      <input type="hidden" name="{{ filter.form.created_time__lte.name }}" value="{% templatetag openvariable %} dateTo {% templatetag closevariable %}">
      <button class="btn btn-default" name="download_csv" type="submit">Download CSV (limited to 10000 records)</button>
    </form>
    <div class="clearfix"></div>
</div>
        <div kendo-grid="grid" k-options="mainGridOptions">
        </div>
    </div>
</div>

  </div>
</div
>
<script>
    angular.module("Entrak", [ "kendo.directives" ])
        .controller("MyCtrl", function($scope){
            $scope.mainGridOptions = {
                dataSource: {
                    transport: {
                        read: {
                            url: "{% url 'trail-list' company_system.code %}",
                            type: 'GET',
                            dataType: "json"
                        }
                    },
                    pageSize: 30,
                    serverPaging: true,
                    schema: {
                        data: "results",
                        total: "count"
                    }
                },
                scrollable: false,
                pageable: true,
                columns: [{
                    field: "user.username",
                    title: "Account name",
                },{
                    field: "user.fullname",
                    title: "User name",
                },{
                    field: "action_name",
                    title: "Action name",
                },{
                    field: "created_time",
                    title: "Created time"
                }]
            };

            $scope.refreshGrid = function() {
                var filters = {
                    user: $scope.userFilter.value(),
                    {{ filter.form.created_time__gte.name }}: $scope.dateFromFilter._oldText,
                    {{ filter.form.created_time__lte.name }}: $scope.dateToFilter._oldText
                };
                $scope.mainGridOptions.dataSource.transport.read['data'] = filters;
                $scope.grid.dataSource.page(1);
                $scope.grid.dataSource.read();
            }
        })
</script>
    </div>
  </body>
</html>
