.conversational-confirm-btn, .conversational-cancel-btn,
.info-btn, .info-tooltip-close-btn, .normal-action-block>img,
.confirm-action-block>img, .choose-alert-btn,
.dialog-cancel-btn, .dialog-confirm-btn{
	cursor: pointer;
	cursor: hand;
}

.panel-header-left-menu {
	position: relative;
	width: 850px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

.main-content-container {
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
	width: 850px;
}

.main-content-container .SumoSelect > .CaptionCont {
	border: none;
	min-height: 0;
	background-color: #F3F3F3; 
}
.main-content-container .SlectBox,
.main-content-container .SlectBoxa {
	height: 20px;
	padding: 5px 0px 10px 5px;
}
.main-content-container .SumoSelect > .CaptionCont > span.placeholder  {
	font-size: 10pt;
}
.main-content-container .SumoSelect {
	margin-right: 10px;
	margin-left: 10px; 
	margin-bottom: 5px;
	margin-left: 5px;
}
.main-content-container .SumoSelect > .CaptionCont > label {
	background-color: #F3F3F3;
	width: 25px;
}
.main-content-container .SumoSelect:hover > .CaptionCont > label {
	background-color: #E0D8D8;
}
.content-table .SumoSelect > .optWrapper.open {
	left: -10px;
	width: 199px;
	padding-left: 8px;
}
.main-content-container .conversational-block > div:first-child .SumoSelect span {
	font-size: 14pt;
	margin-top: 4px;
}
.main-content-container .conversational-block > div:first-child .SumoSelect .SumoSelect{
	width: 245px;
	text-align:center;
}
.main-content-container .conversational-block > div:first-child .SumoSelect label{
	text-align:left;
}
.main-content-container .conversational-block > div:first-child .SumoSelect .SlectBox{
	width: 245px;
}
.summary-alert .alert-content .conversational-block>div:nth-child(2) .SumoSelect,
.still-on-alert .alert-content .conversational-block>div:nth-child(2) .SumoSelect { 
	margin-top: 0px;
}
.summary-alert .alert-content .conversational-block>div:nth-child(2) .SumoSelect:nth-child(2) .CaptionCont,
.summary-alert .alert-content .conversational-block>div:nth-child(2) .SumoSelect:nth-child(3) .CaptionCont,
.still-on-alert .alert-content .conversational-block>div:nth-child(2) .SumoSelect:nth-child(2) .CaptionCont,
.still-on-alert .alert-content .conversational-block>div:nth-child(2) .SumoSelect:nth-child(3) .CaptionCont{
	font-size: 14pt;
	width: 90px;
}
.summary-alert .alert-content .conversational-block>div:nth-child(2) .SumoSelect:nth-child(2) .CaptionCont span,
.summary-alert .alert-content .conversational-block>div:nth-child(2) .SumoSelect:nth-child(3) .CaptionCont span,
.still-on-alert .alert-content .conversational-block>div:nth-child(2) .SumoSelect:nth-child(2) .CaptionCont span,
.still-on-alert .alert-content .conversational-block>div:nth-child(2) .SumoSelect:nth-child(3) .CaptionCont span{
	margin-top: 4px;
}
.summary-alert .alert-content .conversational-block div:nth-child(1) .SumoSelect span,
.still-on-alert .alert-content .conversational-block div:nth-child(1) .SumoSelect span {
	display: block;
	padding-right: 30px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden; 
	font-size: 14pt;
	margin-top: 4px; 
}
.summary-alert .alert-content .conversational-block div:nth-child(2) .SumoSelect:nth-child(4) span,
.still-on-alert .alert-content .conversational-block div:nth-child(2) .SumoSelect:nth-child(4) span {
	display: block;
	padding-right: 30px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden; 
	font-size: 14pt;
	margin-top: 4px; 
}
.summary-alert .alert-content .conversational-block div:nth-child(2) .SumoSelect:nth-child(4) .CaptionCont,
.still-on-alert .alert-content .conversational-block div:nth-child(2) .SumoSelect:nth-child(4) .CaptionCont{
	margin-top: 8px;
}
.summary-alert .alert-content .conversational-block .send-alert-to ul{
	border: 1px solid #4f50a1;
}
.still-on-alert .alert-content .conversational-block .send-alert-to ul{
	border: 1px solid #EB9524;
}
.summary-alert .conversational-confirm-btn,
.still-on-alert .conversational-confirm-btn {
	border: 1px solid #4f50a1;
	color: #4f50a1;
}
.summary-alert .conversational-cancel-btn,
.still-on-alert .conversational-cancel-btn{
	border: 1px solid #4f50a1;
	color: #4f50a1;
}
.summary-alert .table-header-end-use, .still-on-alert .table-header-end-use,
.still-on-alert .table-header-end-use, .still-on-alert .table-header-end-use {
	width: 190px;
}

.create-alert-container {
	display: none;
}

.choose-alert-title {
	font-size: 11pt;
	font-weight: bold;
	color: #354960;
	padding-left: 60px;
	padding-top: 35px; 
	padding-bottom: 25px;
	background-color: #F8F7ED;
}

.choose-alert-container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 25px;
	margin-bottom: 60px;
	background-color: #F8F7ED;
}
.choose-alert-block {
	display: inline-block;
}
.choose-alert-info-block {
	position: relative;
	background: rbga(255,255,255, 0.8);
	width: 185px;
	height: 175px;
	margin-left: 80px;
	border-radius: 8px; 
	border-style: solid;
	border-width: 2px;
}
.choose-alert-block:nth-child(1) .choose-alert-info-block{
    border-color: #35BC99;
}
.choose-alert-block:nth-child(2) .choose-alert-info-block{
    margin-left: 40px;
    border-color: #4F50A1;
}
.choose-alert-block:nth-child(3) .choose-alert-info-block{
    margin-left: 40px;
    border-color: #EB9524;
}
.choose-alert-info-block .alert-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.choose-alert-info-block .info-btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	height: 37px;
	width: 38px;
	border-radius: 100%;
	border-bottom: 2px solid;
}
.choose-alert-block:nth-child(1) .info-btn {
	border-bottom-color: #426E62;
	background-color: #35BC99;
}
.choose-alert-block:nth-child(2) .info-btn {
	border-bottom-color: #0A0A2D;
	background-color: #4F50A1;
}
.choose-alert-block:nth-child(3) .info-btn {
	border-bottom-color: #84510E;
	background-color: #EB9524;
}
.info-tooltip {
	display: none;
	position: absolute;
	width: 300px;
	background-color: rgba(255,255,255, 0.90);
	padding-top:15px;
	padding-left: 15px;
	border-radius: 8px;
	height: 120px;
	border: 2px solid #35bc99;
	z-index: 1000;
}
.info-tooltip-content {
	font-size: 10pt;
	color: #393939;
}
.info-tooltip-close-btn{
	position: absolute;
	font-size: 9pt;
	font-weight: bold;
	display: inline-block;
	right: 10px;
	bottom: 10px;
	color: #393939;
}
.choose-alert-link {
	text-decoration: none;
}
.choose-alert-btn {
	width: 185px;
	height: 23px;
	margin-left: 80px;
	margin-top: 15px;
	border-radius: 8px;
	text-align: center;
	padding-top: 10px;
	font-size: 9pt;
	font-weight: lighter;
	color: #fff;
	letter-spacing: 0.07em;
}
.choose-alert-block:nth-child(1) .choose-alert-btn{
	background-color: #35BC99;
	box-shadow: 0px 2px 1px #1B5B4A;
}
.choose-alert-block:nth-child(2) .choose-alert-btn{
	background-color: #4F50A1;
	box-shadow: 0px 2px 1px #1E1E43;
	margin-left: 40px;
}
.choose-alert-block:nth-child(3) .choose-alert-btn{
	background-color: #EB9524;
	box-shadow: 0px 2px 1px #84510E;
	margin-left: 40px;
}

.alert-container {
	background-color: #F9F9F9;
	margin-top: 80px;
}

.alert-header {
	position: relative;
	text-align: center;
}
.alert-header-img {
	position: absolute;
	left: 12px;
	top: 4px;
}
.alert-header-title {
	display: inline-block;
	font-size: 11pt;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 15px;
	letter-spacing: 0.02em;
}
.peak-demand .alert-header-title {
	color: #35BC99;
}
.peak-demand .alert-header{
	border-bottom: 2px solid #35BC99;
}
.alert-header-info-btn {
	position: absolute;
	right: 15px;
	top: 12px;
	background-color: #FCFCFC;
	border: 1px solid #B7B7B7;
	width: 26px;
	height: 26px;
	border-radius: 80%;
}

.summary-alert .alert-header-title {
	color: #4F50A1;
}
.still-on-alert .alert-header-title {
	color: #EB9524;
}
.summary-alert .alert-header{
    border-bottom: 2px solid #4F50A1;
}
.still-on-alert .alert-header{
	border-bottom: 2px solid #eb9524;
}

.conversational-block {
	font-size: 14pt;
	font-family: 'ITCAvantGardeStd-Bk';
	letter-spacing: 0.02em;
	line-height: 1.7em;
	width: 720px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #35485F;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
	background-color: #fff;
	box-shadow: 0px 0px 2px #c2c2c2;
}
.conversational-block div{
	vertical-align: bottom;
}
.conversational-block > div:nth-child(2) {
	margin-top: 10px;
}
.summary-alert .conversational-block,
.still-on-alert .conversational-block{
	width: 94%;
}

.compare-percent-select + .SlectBox {
	width: 80px;
	text-align: center;
}
.time-select + .SlectBox {
	width: 70px;
	font-size: 11pt;
	text-align: center;
}
.weekday-select + .SlectBox {
	width: 180px;
	text-align: center;
}
.peak-threshold-input {
	font-family:'ITCAvantGardeStd-Bk';
	font-size: 13pt;
	padding-left: 8px;
	text-align: center;
	position: relative;
	padding-top: 10px;
}
.email-input {
	border-radius: 0px !important;
}
.email-input .tagit-label {
	font-size: 13pt;
}
.email-input .ui-state-default,
.email-input .ui-widget-content .ui-state-default,
.email-input .ui-widget-header .ui-state-default {
	border: 1px solid #35BC99;
	color: #35485f;
	background: #D6D6D6;
	border-radius: 8px;
}
.send-alert-to ul.tagit li.tagit-choice-editable {
	padding: .14em 18px .14em .5em;
}
.send-alert-to{
	margin-top: 16px;
}
.email-notes{
	font-size: 8pt;
	font-style: italic;
	line-height: 1.5em;
	margin-top: 8px;
}

.conversational-block .btn-container {
	text-align: right;
}
.conversational-btn{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 11pt;
	font-weight:lighter;
	color: #35bc99;
	text-align: right;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #35bc99;
	border-radius: 8px;
	margin-right: 10px;
}
.still-on-alert .conversational-btn{
	color: #EB9524;
	border: 1px solid #eb9524;
}

.alert-content>hr {
	border: none;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	background-color: #D7D7D7;
	height: 1px;
	border-bottom: 1px solid #F1F1F1;
	margin-top: 10px;
	margin-bottom: 20px;
}

.content-table {
	width: 100%;
}

.table-header{
	border-top: 2px solid #989898;
	height: 35px;
	border-bottom: 2px solid #989898;
	width: 93%;
	margin-left: auto;
	margin-right: auto;
	border-left: 1px solid #aeaeae;
	border-right: 1px solid #aeaeae;
}
.table-header>div {
	display: inline-block;
	font-size: 10pt;
	height: 35px;
	vertical-align: top;
}
.table-header>div:first-child {
	border-left: 0px;
}
.table-header>div{
	position: relative;
	text-align: center;
	border-left: 1px solid #dbdbdb;
	font-weight: bold;
	height: 25px;
	padding-top: 10px;
	color: #35485f;
}
.table-header-end-use{
	width: 206px;
}
.peak-demand .table-header-end-use {
	width: 239px;
}
.table-header-percentage{
	width: 80px;
}
.table-header-threshold{
	width: 130px;
}
.table-header-time-from{
	width: 98px;
}
.table-header-time-to{
	width: 98px;
}
.table-header-weekdays{
	width: 98px;
}
.table-header-send-to{
	width: 110px;
}
.table-header-created{
	width: 98px;
	font-weight: lighter !important;
}
.table-header-action{
	width: 116px;
}

.summary-alert .table-header,
.still-on-alert .table-header {
	width: 97%;
}
.summary-alert .table-header-percentage,
.still-on-alert .table-header-percentage {
	width: 45px;
}
.summary-alert .table-header-time-from,
.summary-alert .table-header-time-to,
.still-on-alert .table-header-time-from,
.still-on-alert .table-header-time-to {
	width: 77px;
}
.summary-alert .table-header-weekdays,
.still-on-alert .table-header-weekdays {
	width: 105px;
}
.summary-alert .table-header-send-to,
.still-on-alert .table-header-send-to {
	width: 120px;
}
.summary-alert .table-header-created,
.still-on-alert .table-header-created {
	width: 95px;
}
.summary-alert .table-header-end-use,
.still-on-alert .table-header-end-use {
	width: 165px;
}
.summary-alert .table-header-action,
.still-on-alert .table-header-action {
	width: 105px;
}

.summary-alert .alert-row {
	width: 97%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid #dbdbdb;
	border-left: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;   
}
.peak-demand .end-use-col {
	width: 238px;
	background-color: #35BC99;
	border-right: 1px solid #DBDBDB;
}
.summary-alert .end-use-col,
.still-on-alert .end-use-col {
	width: 190px;
	border-right: 1px solid #DBDBDB;
	text-align: left;
	font-size: 10pt;
	font-weight: bold;
}
.summary-alert .end-use-col {
	background-color: #4F50A1;
}
.still-on-alert .end-use-col {
	background-color: #EB9524;
}
.peadk-demand .end-use-col .SumoSelect{
	margin-left: auto;
	margin-right: auto;
}
.peak-demand .end-use-col .SumoSelect .CaptionCont {
	background-color: #35BC99;
	font-size: 9pt;
	font-weight: bold;
	padding-top: 13px;
	height: 12px;
	color: #fff;
	width: 205px;
}
.summary-alert .end-use-col .SumoSelect .CaptionCont,
.still-on-alert .end-use-col .SumoSelect .CaptionCont {
	width: 175px;
	height: 10px;
	margin-top: 5px;
	background-color: #4F50A1;
}
.peak-demand .end-use-col .SumoSelect .CaptionCont label {
	background-color: #35BC99;
	right: -15px;
	width: 15px;
}
.summary-alert .end-use-col .SumoSelect .CaptionCont label,
.still-on-alert .end-use-col .SumoSelect .CaptionCont label {
	background-color: #4f50a1;
}
.peak-demand .end-use-col .SumoSelect .SlectBox label > i {
	height: 12px;
	width: 12px;
	background-size: 12px;
}
.summary-alert .end-use-col .SumoSelect .CaptionCont label > i,
.still-on-alert .end-use-col .SumoSelect .CaptionCont label > i {
	width: 13px;
	height: 9px;
	background-size: 13px;
}
.summary-alert .end-use-col .SumoSelect .CaptionCont span,
.still-on-alert .end-use-col .SumoSelect .CaptionCont span {
	font-size: 9pt;
	font-weight: bold;
	padding-top: 2px;
	color: #FFF;
}

.peak-demand .percent-col{
	width: 81px;
	text-align: center;
	border-right: 1px solid #DBDBDB;
}
.summary-alert .percent-col,
.still-on-alert .percent-col {
	width: 45px;
	border-right: 1px solid #DBDBDB;
	text-align: center;
	font-size: 10pt;
}
.peak-demand .percent-col .SumoSelect,
.summary-alert .percent-col .SumoSelect,
.still-on-alert .percent-col .SumoSelect {
	margin-left: auto;
	margin-right: auto;
}
.peak-demand .percent-col .SumoSelect .CaptionCont{
	width: 65px;
	height: 10px;
	font-size: 9pt;
	margin-top: 5px;
	border: 1px solid #35BC99;
}
.summary-alert .percent-col .SumoSelect .CaptionCont,
.still-on-alert .percent-col .SumoSelect .CaptionCont {
	width: 30px;
	height: 10px;
	margin-top: 5px;
	border: 1px solid #6F70B1;
}
.peak-demand .percent-col .SumoSelect .CaptionCont label > i,
.summary-alert .percent-col .SumoSelect .CaptionCont label > i,
.still-on-alert .percent-col .SumoSelect .CaptionCont label > i {
	width: 10px;
	height: 9px;
	background-size: 10px;
}
.peak-demand  .percent-col .SumoSelect .CaptionCont label,
.summary-alert .percent-col .SumoSelect .CaptionCont label,
.still-on-alert .percent-col .SumoSelect .CaptionCont label {
	width: 13px;
}
.peak-demand .percent-col .SumoSelect .CaptionCont span,
.summary-alert .percent-col .SumoSelect .CaptionCont span,
.still-on-alert .percent-col .SumoSelect .CaptionCont span {
	font-size: 9pt;
	padding-top: 2px;
}

.summary-alert .time-from-col,
.summary-alert .time-to-col,
.still-on-alert .time-from-col,
.still-on-alert .time-to-col {
	width: 77px;
	text-align: center;
	border-right: 1px solid #DBDBDB;
	font-size: 10pt;
}
.summary-alert .time-from-col .SumoSelect,
.summary-alert .time-to-col .SumoSelect,
.still-on-alert .time-from-col .SumoSelect,
.still-on-alert .time-to-col .SumoSelect {
	margin-left: auto;
	margin-right: auto;
}
.summary-alert .time-from-col .SumoSelect .CaptionCont,
.summary-alert .time-to-col .SumoSelect .CaptionCont,
.still-on-alert .time-from-col .SumoSelect .CaptionCont,
.still-on-alert .time-to-col .SumoSelect .CaptionCont {
	width: 61px;
	height: 10px;
	margin-top: 5px;
	border: 1px solid #6F70B1;
}
.summary-alert .time-from-col .SumoSelect .CaptionCont label > i,
.summary-alert .time-to-col .SumoSelect .CaptionCont label > i,
.still-on-alert .time-from-col .SumoSelect .CaptionCont label > i,
.still-on-alert .time-to-col .SumoSelect .CaptionCont label > i {
	width: 10px;
	height: 9px;
	background-size: 10px;
}
.summary-alert .time-from-col .SumoSelect .CaptionCont label,
.summary-alert .time-to-col .SumoSelect .CaptionCont label,
.still-on-alert .time-from-col .SumoSelect .CaptionCont label,
.still-on-alert .time-to-col .SumoSelect .CaptionCont label {
	width: 13px;
}
.summary-alert .time-from-col .SumoSelect .CaptionCont span,
.summary-alert .time-to-col .SumoSelect .CaptionCont span,
.still-on-alert .time-from-col .SumoSelect .CaptionCont span,
.still-on-alert .time-to-col .SumoSelect .CaptionCont span {
	font-size: 9pt;
	padding-top: 2px;
}

.summary-alert .weekday-col,
.still-on-alert .weekday-col {
	width: 105px;
	text-align: center;
	border-right: 1px solid #DBDBDB;
	font-size: 10pt;
}
.summary-alert .weekday-col .SumoSelect,
.still-on-alert .weekday-col .SumoSelect {
	margin-left: auto;
	margin-right: auto;
}
.summary-alert .weekday-col .SumoSelect .CaptionCont,
.still-on-alert .weekday-col .SumoSelect .CaptionCont {
	width: 90px;
	margin-top: 5px;
	border: 1px solid #6F70B1;
	height: 10px;
}
.summary-alert .weekday-col .SumoSelect .CaptionCont label > i,
.still-on-alert .weekday-col .SumoSelect .CaptionCont label > i {
	width: 10px;
	height: 9px;
	background-size: 10px;
}
.summary-alert .weekday-col .SumoSelect .CaptionCont label,
.still-on-alert .weekday-col .SumoSelect .CaptionCont label {
	width: 13px;
}
.summary-alert .weekday-col .SumoSelect .CaptionCont span,
.still-on-alert .weekday-col .SumoSelect .CaptionCont span {
	font-size: 9pt;
	padding-top: 2px;
}

.peak-demand .receiver-col {
	width: 110px;
	text-align: center;
	border-right: 1px solid #DBDBDB;
}
.summary-alert .receiver-col,
.still-on-alert .receiver-col {
	width: 120px;
	text-align: center;
	border-right: 1px solid #DBDBDB;
	font-size: 10pt;
}
.peak-demand .receiver-col .SumoSelect,
.summary-alert .receiver-col .SumoSelect,
.still-on-alert .receiver-col .SumoSelect{
	margin-left: auto;
	margin-right: auto;

}
.peak-demand .receiver-col .SumoSelect .CaptionCont{
	width: 95px;
	height: 10px;
	font-size: 9pt;
	margin-top: 5px;
	border: 1px solid #35BC99;
}
.summary-alert .receiver-col .SumoSelect .CaptionCont,
.still-on-alert .receiver-col .SumoSelect .CaptionCont{
	width: 105px;
	height: 10px;
	margin-top: 5px;
	border: 1px solid #6F70B1;
}
.peak-demand .receiver-col .SumoSelect .CaptionCont label > i,
.summary-alert .receiver-col .SumoSelect .CaptionCont label > i,
.still-on-alert .receiver-col .SumoSelect .CaptionCont label > i{
	width: 10px;
	height: 9px;
	background-size: 10px;
}
.peak-demand .receiver-col .SumoSelect .CaptionCont label,
.summary-alert .receiver-col .SumoSelect .CaptionCont label,
.still-on-alert .receiver-col .SumoSelect .CaptionCont label{
	width: 13px;
}
.peak-demand .receiver-col .SumoSelect .CaptionCont span,
.summary-alert .receiver-col .SumoSelect .CaptionCont span,
.still-on-alert .receiver-col .SumoSelect .CaptionCont span{
	font-size: 9pt;
	padding-top: 2px;
}

.peak-demand .peak-threshold-col {
	width: 130px;
	text-align: center;
	border-right: 1px solid #dbdbdb;
	margin-left: auto;
	margin-right: auto;
	height: 37px;
}
.peak-demand .peak-threshold-input {
	width: 110px;
	border: 1px solid #35BC99;
	height: 20px;
	font-size: 9pt;
	padding-top: 4px;
	margin-top: 5px;
}
.alert-content .conversational-block .peak-threshold-input{
	width: 120px;
	border: 1px solid #35BC99;
	height: 20px;
	font-size: 14pt;
	margin-right: 6px;
	margin-left: 3px;
	background-color: #f3f3f3; 
}

.created-col {
	height: 32px;
	padding-top: 5px;
}
.peak-demand .created-col {
	width: 98px;
	text-align: center;
	border-right: 1px solid #DBDBDB;
	margin-left: auto;
	margin-right: auto;
	font-size: 9pt;
	vertical-align: top;
	line-height: 1.1em; 
}
.summary-alert .created-col,
.still-on-alert .created-col {
	width: 95px;
	text-align: center;
	border-right: 1px solid #DBDBDB;
	margin-left: auto;
	margin-right: auto;
	font-size: 9pt;
	vertical-align: middle;
	line-height: 1.1em;
}

.summary-alert .action-col,
.still-on-alert .action-col {
	vertical-align: middle;
}

.display-text{
	height: 23px;
	padding-top: 12px;
	font-size: 9pt;
	text-align: center;
	color: #354960;
}
.display-text.end-use-text {
	height: 23px;
	padding-top: 12px;
	font-size: 9pt;
	font-weight: bold;
	color: #fff;
	text-align: left;
	padding-left: 10px;
}
.peak-demand .display-text.percent-text {
	width: 81px;
	border-right: 1px solid #dbdbdb;
}

.normal-action-block>img {
	margin-left: 18px;
}
.row-edit-btn {
	width: 19px;
	height: 18px;
}
.summary-alert .row-edit-btn,
.still-on-alert .row-edit-btn{
	margin-left: 8px;
}
.row-copy-btn {
	width: 18px;
	height: 18px;
}
.row-delete-btn {
	width: 14px;
	height: 18px;
}
.row-confirm-btn,
.row-cancel-btn {
	margin-left: 25px;
	width: 19px;
	height: 17px;
}

.alert-row>div {
	display: inline-block;
}
.alert-row select {
	display: none;
}
.alert-row input {
	display: none;
}
.peak-demand .alert-row{
	width: 93%;
	margin-left: auto;
	margin-right: auto;
	border-left: 1px solid #DBDBDB;
	border-right: 1px solid #DBDBDB;
}
.peak-demand .alert-row > div {
	vertical-align: middle;
}
.normal-action-block {
	display: block;
}
.on-edit .normal-action-block {
	display: none;
}
.confirm-action-block {
	display: none;
}
.on-edit .confirm-action-block {
	display: block;
}

.alert-history-container {
	display: none;
}

.history-table-header {
	font-family: "helvetica neue light", sans-serif;
	width: 803px;
	background-color: #F8F7ED;
	height: 37px;
	font-size: 11pt;
	font-weight: bold;
	color: #384A61;
	border-top: 2px solid #DDDABA;
	border-bottom: 1px solid #DDDABA;
	margin-top: 15px;
	border-left: 1px solid #DBDBDB;
	border-right: 1px solid #DBDBDB;
}
.history-table-header>div {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}
.history-th-date{
	width: 146px;
	height: 25px;
	padding-top: 12px;
	border-right: 1px solid #E3E1CF;
}
.history-th-source{
	width: 175px;
	height: 25px;
	padding-top: 12px;
	border-right: 1px solid #E3E1CF;
}
.history-th-issue{
	width: 294px;
	height: 25px;
	padding-top: 12px;
	border-right: 1px solid #E3E1CF;
}
.history-th-status{
	width: 183px;
	height: 32px;
	padding-top: 5px;    
}
.history-th-status>div:nth-child(2){
	font-size: 10pt;
	font-weight: lighter;
}
.history-th-unresolve{
    color: #E4606E;
    margin-right:2px;
}

.history-th-resolved{
    color: #76C812;
    margin-left: 2px;
}

.history-content{
	border-bottom: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
	width: 804px;
}

.history-row{
	width: 803px;
	border-left: 1px solid #DBDBDB;
	height: 63px;
	border-bottom: 1px solid #DBDBDB;
	color: #384A61;
}
.history-row:nth-child(even){
	background-color: #EFEFEF;
}
.history-row>div{
	display: inline-block;
	font-size: 10pt;
	vertical-align: middle;
}
.date-col{
	width: 126px;
	padding-left: 20px;
	height: 47px;
	line-height: 1.3em;
	padding-top: 16px;
}
.source-col{
	font-weight: bold;
	width:165px;
	padding-left: 10px;
	height: 37px;
	padding-top: 26px;
}
.issue-col{
	height: 56px;
	line-height: 1.3em;
	padding-top: 7px;
	width: 284px;
	padding-left: 10px;
}
.issue-line-2{
	font-weight:bold;
}
.issue-line-3{
	font-weight:lighter;
	font-size: 9pt;
	padding-top: 2px;
}
.resolved-col{
	width: 184px;
	height: 63px;
	border-left: 1px solid #DBDBDB;
	margin-left: 2px;
}
.resolved-text{
	font-weight: bold;
}
.resolved-dt{
	font-size: 9pt;
	padding-top: 2px;
	color: #76c812; 
}
.resolved-dt-container{
	padding-top: 24px;
	line-height: 1.3em;
	margin-left: 25px;
}
.history-row.resolved-history .resolved-text{
	display: block;
	color: #76C812;
	letter-spacing: 0.02em;
}
.history-row.unresolve-history .resolved-text{
	display: none;
}
.resolved-dot {
	position: absolute;
	width: 10px;
	height: 10px;
	margin-right: 3px;
	margin-left: 8px;
	margin-top: 27px;
	border-radius: 50%;
}
.history-row.resolved-history .resolved-dot{
	background-color: #76C812;
}
.history-row.unresolve-history .resolved-dot{
	background-color: #E4606E;
}

.remove-dialog {
	display: none;
	background-color: #FFF;
	width: 300px;
	height: 180px;
	border-radius: 10px;
	box-shadow: 0px 0px 4px #fff; 
	border: 1px solid #989898;
}
.dialog-title{
	text-align: center;
	margin-top: 30px;
	font-size: 13pt;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	width: 170px;
	line-height: 1.5em;
	font-weight: bold;
	color: #4b4b4b;
	margin-left: auto;
	margin-right: auto;
}
.dialog-btn-container>div {
	display: inline-block;
	font-size: 11pt;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	width: 100px;
	text-align: center;
	height: 21px;
	padding-top: 4px;
	border-radius: 8px;
	border: 2px solid #989898;
	margin-left: 30px;
	margin-top: 40px;
	background-color: #f7f7f7;
	color: #545454;
}

.duplicate-popup {
	display: none;
	background-color: #FFF;
	width: 850px;
	height: 400px;
}
.duplicate-container {
	position: relative;
}
.duplicate-container-autocomplete {
	z-index: 10000;
}