.shortcut-form-container {
	background-color: #FFF;
	display: none;
	width: 650px;
	height: 500px;
	border: 0px solid;
	border-radius: 15px;
	box-shadow: 10px 10px 5px #888888;
	padding: 15px;
}

.shortcut-form-save-btn {
	margin-left: 0px;
	margin-top: 20px;
	width: auto;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 4px;
	color: rgb(119, 182, 137);
}