.chart {
	width:915px;
	height:318px;
}

ul.slimmenu, ul.slimmenu ul { padding-left:0; }
.slimmenu  i { font-style: normal;}
ul.slimmenu a {text-decoration: none;}

#selection-summary-chart {
	width: 180px;
	height: 180px;
}