.system-info-container {
	position: absolute;
	width: 100%;
	z-index: 99;
	height: 116px;
	background-color: rgba(99,149,160,0.65);
	border-top: 5px solid rgba(144,199,213,0.65);
	border-bottom: 5px solid rgba(144,199,213,0.65);
}
.system-title {
	color: #FFF;
	font-size: 19pt;
	font-weight: bold;
	text-align: center;
	font-family: 'ITCAvantGardeStd-Bk', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.system-logo {
	position: absolute;
	width: 90px;
	height: 90px;
	top: 13px;
	left: 30px;
}
.logo-circle-bound {
	position: absolute;
	width: 80px;
	height: 80px;
	top: 5px;
	left: 5px;
	background-size: 80px 80px;
}
.system-logo>img {
	width: 100%;
	height: 100%;
}

.display-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.slider-container {
	width: 100%;
	height: 100%;
}

.tips-block {
	display: inline-block;
	position: absolute;
	width: 328px;
	height: 328px;
	background-size: 328px;
	background-image: url(../images/display/circle-bg.png);
	text-align: center;
}
.tips-block>img {
	width: 39px;
	height: 39px;
	margin-top: 26px;
}
.tips-block>div {
	text-align: left;
	margin-left: 26px;
	margin-right: 26px;
}
.tips-title {
	margin-top: 24px;
}
.tips-desc {
	margin-top: 18px;
}

.graph-info {
	background-color: #FFFFFF;
}
.header-empty-block {
	height: 126px;
}

.chart {
	width: 920px;
	height: 312px;
	margin-left: auto;
	margin-right: auto;
}

.progress-info {
	background-color: #FFF;
}
.factory-background {
	text-align: center;
}
.last-12-month-block {
	display: inline-block;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
}
.last-12-month-percent-change {
	color: #71CC1E;
}
.progress-detail-container {
	text-align: center;
	margin-top: 200px;
}
.progress-detail {
	display: inline-block;
	text-align: center;
}
.progress-detail>div:nth-of-type(1) {
	margin-top: 10px;
	color: #354960;
}

.progress-positive-saving .last-12-month-percent-change,
.progress-positive-saving .progress-co2-val,
.progress-positive-saving .money-saving-val {
	color: #81D51D;
}
.progress-negative-saving .progress-co2-val,
.progress-negative-saving .money-saving-val {
	color: #D72335;
}
.progress-negative-saving .last-12-month-percent-change {
	color: #354960;
}

.progress-co2-val,
.money-saving-val {
	font-weight: bold;
	font-size: 23pt;
	line-height: 1.3em;
}

.progress-medal>img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.progress-target-detail .progress-medal>div {
	position: relative;
	text-align: center;
	top: -190px;
	font-size: 42px;
	color: #81d51d;
	font-weight: bold;
}
.progress-target-detail .next-target-text {
	margin-top: -38px;
	font-weight: bold;
	font-size: 16pt;
	color: #354960;
}
.progress-target-detail .next-target-percent {
	padding-top: 8px;
	font-weight: bold;
	font-size: 20pt;
	color: #81d51d;
	width: 230px;
	margin-left: -5px;
}

.powered-by-img {
	position: absolute;
	right: 0px;
	bottom: 20px;
	z-index: 99;
}