.add-account-btn, .ar-apply-btn, .ar-cancel-btn{
	cursor: pointer;
	cursor: hand;
}

.account-th>div {
	display: inline-block;
}

.add-account-btn-container {
	text-align: right;
}
.add-account-btn {
	display: inline-block;
	background-color: blue;
}

.account-row > div {
	display: inline-block;
}

.ar-action-col > div {
	display: inline-block;
}