.add-account-btn, .ar-apply-btn, .ar-cancel-btn,
.change-pwd-btn, .pwd-apply-btn, .pwd-cancel-btn,
.set-pwd-btn, .warning-btn, .ar-delete-btn,
.delete-cancel-btn, .delete-confirm-btn{
	cursor: pointer;
	cursor: hand;
}

.account-th>div {
	display: inline-block;
}

.add-account-btn-container {
	text-align: right;
}
.add-account-btn {
	display: inline-block;
	background-color: blue;
}

.account-row > div {
	display: inline-block;
}

.ar-action-col > div {
	display: inline-block;
}

.pwd-dialog {
	display: none;
}

.warning-dialog {
	display: none;
	z-index: 99999;
}

.delete-dialog {
	display: none;
}
