#breadcrumbs p, #calendar, .dt-navigate-panel div,
#clear-graph, .source-label, .choice-clear,
.compare-choice-block label, #compare-calendar-icon {
	cursor: pointer;
	cursor: hand;
}

.right-content{
	padding-bottom: 70px;
}

.chart-legend-container {
	margin-top: -25px;
	text-align: right;
}
.chart-legend-container>table {
	display: inline-block;
}
.chart-legend-container .legendColorBox>div {
	border: 0px !important;
}

#chart {
	width:920px;
	height:312px;
	margin-top: 5px;
	left: 52px;
	position: relative;
}

#y-axis-slider .ui-slider-handle, #x-axis-slider .ui-slider-handle {
	outline: none;
}

#y-axis-slider {
	width: 13px;
	height: 324px;
	top: -320px;
	left: 20px;
	background: url(../images/line.png) no-repeat #fff;
	border-color: #e6e7e8;

	-moz-box-shadow:    inset 0 0 3px #d5d5d5;
    -webkit-box-shadow: inset 0 0 3px #d5d5d5;
    box-shadow:         inset 0 0 3px #d5d5d5;
	
	-moz-border-radius: 10px !important;
	-webkit-border-radius: 10px !important;
	border-radius: 10px !important;
}
#y-axis-slider div {
	position: relative;
	width: 100%;
	height: 290px;
	margin-top: 17px;
	margin-bottom: 17px;
}
#y-axis-slider a{
	background: #9bceda;
	width: 11px;
	height: 25px;
	border: none !important;
	left: 0.1em !important;
	
	-moz-border-radius: 10px !important;
	-webkit-border-radius: 10px !important;
	border-radius: 10px !important;
	
}

#x-axis-slider {
	width: 856px;
	height: 12px;
	top: -296px;
	left: 96px;
	background: url(../images/x-line.png) no-repeat #fff;
	border-color: #e6e7e8;
	
	-moz-box-shadow:    inset 0 0 3px #d5d5d5;
    -webkit-box-shadow: inset 0 0 3px #d5d5d5;
    box-shadow:         inset 0 0 3px #d5d5d5;
}
#x-axis-slider a{
	border: none;
	width: 1em;
	height: 1em;
	background: url(../images/x-slider-grabber.png) no-repeat;
	top: -0.1em;
	border-radius: 20px;

	
	-moz-box-shadow: 1px 1px 3px #888888;
	-webkit-box-shadow: 1px 1px 3px #888888;
	box-shadow: 1px 1px 3px #888888;
}
#x-axis-slider .ui-widget-header{
	background: linear-gradient(#b5e952, #53be0c) !important;
	height: 8px;
	top: 2px;
}

#selection-summary-chart {
	width: 172px;
	height: 172px;
}

#selection-summary{
	position: relative;
	top: -590px;
	left: 120px;
	width: 400px;
	height: 195px;
	color: #354960;
	background-color: #fff;
	
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;

	border-style: solid;
	border-width: 2px;
	border-color: #9bceda;
	
	box-shadow: -3px 2px 7px #cfcfcf;
	-moz-box-shadow: -3px 2px 7px #cfcfcf;
	-webkit-box-shadow: -3px 2px 7px #cfcfcf;
	display: none;
}

#selection-summary-left{
	width: 210px;
	height: 175px;
	margin-left: 28px;
	font-size: 14px;
	margin-top: 10px;
}

#selection-summary-at{
	line-height: 23px;
}
#selection-summary-at span{
	font-size: 16px;
	font-weight: bold;
}
#selection-summary-from{				
	margin-top: 4px;
}
#selection-summary-from span:first-child{
	display: inline-block;
	width: 36px;
}
#selection-summary-from .summary-content-span {
	font-size: 16px;
	font-weight: bold;
}
#selection-summary-to {
	margin-top: 8px;
}
#selection-summary-to span:first-child{
	display: inline-block;
	width: 36px;
}
#selection-summary-to .summary-content-span {
	font-size: 16px;
	font-weight: bold;
}
#selection-summary-line{
	width: 185px;
	height: 2px;
	background-color: #9bceda;
	margin-top: 11px;
	margin-bottom: 8px;
}
#selection-summary-value-container {
	margin-top: 7px;
}
#selection-summary-value{
	font-size: 37px;
	font-weight: bolder;
}
#selection-summary-unit-prefix, #selection-summary-unit-suffix{
	font-size: 18px;
}

#selection-summary-right {
	position: absolute;
	top: -4px;
	right: -4px;
}
#selection-summary-right p {
	width: 175px;
	font-size: 12px;
	font-weight: bolder;
	color: #ef7c56;
	line-height: 1.3em;
	letter-spacing: 0.4px;
	margin-top: -7px;
	margin-right: 5px;
	text-align: center;
}

#graph-panel{
	background-color: #FCFCFC;
	height: 380px;
	margin-top: 0px;
	padding-top: 40px;
}

#breadcrumbs{
	float: left;
	width: 597px;
	height: 32px;
	background-color: #9bceda;
	color: white;
	font-size: 13px;
	padding-left: 10px;
}
#breadcrumbs p{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}
#breadcrumbs p:last-child{
	color: -webkit-link;
}
.next{
	float: left;
	margin-top: 12px;
	padding-left: 10px;
}
#level3:hover{
	color: #18515f;
}

/*-- Sub Menu --*/

#dt-panel{
	position: relative;
	width: 100%;
	height: 32px;
	font-size: 12pt;
	background-color: #F4F4F4;
	border-bottom: 1px solid #FFF;
	text-align: center;
}
#current-dt{
	color: #354960;
	font-weight: bold;
	padding: 7px;
	display: inline-block;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	vertical-align: middle;
}
#dt-panel>div {
	height: 18px;
	display: inline-block;
}
.dt-navigate-panel {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	height: 32px;
	text-align: center;
}
#dt-prev-icon{
	background-image: url(../images/prev-day.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 32px;
	display: inline-block;
	border-left: 1px solid #e1e1e1;
	vertical-align: middle;
}
#dt-prev-icon:hover{
	background-image: url(../images/prev-day-hover.png);	
}
#dt-now-icon{
	background-image: url(../images/today.png);
}
#dt-now-icon:hover{
	background-image: url(../images/today-hover.png);	
}
#dt-next-icon {
	background-image: url(../images/next-day.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 32px;
	border-right: 1px solid #e1e1e1;
	display: inline-block;
	vertical-align: middle;
}
#dt-next-icon:hover {
	background-image: url(../images/next-day-hover.png);	
}
#dt-panel + hr {
	height: 2px;
	border: none;
	background-color: #e6e6e6;
	border-bottom: 1px solid #fff;
}

#dt-panel #clear-graph{
	position: absolute;
	height: 23px;
	width: auto;
	font-weight: bold;
	font-size: 10pt;
	color: #354960;
	margin-top: 0px;
	right: 10px;
	padding-top: 10px;
	padding-left: 10px;
	border-left: 1px solid #d6d6d6;
}
#dt-panel #clear-graph:hover{
	color: #528E9B;
}

.legendLabel {
	font-size: 10pt;
	color: #2e3e52;
	padding-left: 4px;
	padding-right: 16px;
	vertical-align: middle;
}
.legend>table {
	top: 0px !important;
}
.legend>div {
	background-color: transparent !important;
}

.choice-panel{
	font-size: 13px;
	padding: 8px 14px 18px 14px;
}
.choice-header{
	font-weight: bolder;
	font-size: 11pt;	
	height: 18px;
	color: #354960;
}
.choice-clear{
	position: absolute;
	right: 8px;
	font-weight: lighter;
	padding-right: 10px;
	font-size: 10pt;
	margin-top: 3px;
}
.choice-panel hr{
	width: 100%;
	height: 1px;
	background-color: #E8E5C4;
	border-style: none;
	margin-top: 5px;
	margin-bottom: 7px;
}

#source-choice > div {
	width: 900px;
}
#source-choice-container {
	overflow-y: auto;
	height: 85px;
}
#source-choice-container > div{
	float: left;
	width: 190px;
	height: 26px;
	position: relative;
	background-color: #E1EBED;
	margin-left: 20px;
	padding-left: 11px;
	padding-top: 5px;
	border-radius: 8px;
	font-size: 10pt;
	font-weight: bold;
	color: #354960;
}
#source-choice .choice-header span:nth-child(1) {
	font-size: 13px;
	font-weight: lighter;
	margin-left: 5px;
}
#source-choice-container>div:nth-child(1),
#source-choice-container>div:nth-child(4n+1){
	margin-left: 0px;
}
#source-choice-container > div:nth-child(n+5) {
	margin-top: 12px;
}
.source-label{
	position: absolute;
	top: 8px;
	left: 40px;
	color: #354960;
}
.disabled-source-choice{
	opacity: 0.4;
}

.circle-checkbox{
	display: inline-block;
	width: 17px;
	height: 17px;
	background: #F1F1F1;
	border-radius: 25%;
	border: 1px solid #9B9B9B;
	position: relative;
}
.circle-checkbox input[type=checkbox]{
	visibility: hidden;
}
.circle-checkbox label {
	display: block;
	width: 17px;
	height: 17px;
	border-radius: 25%;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	background: #F1F1F1;
}
.circle-checkbox input:checked + label {
	background: #B3E850;
}

#day-choice > div {
	width: 890px;
	height: 72px;
}
.compare-choice-block{
	display: inline-block;
	width: 160px;
	height: 26px;
	position: absolute;
	margin-top: 0px;
	font-size:10pt;
	font-weight: bold;
	color: #354960;
	background-color: #E1EBED;
	padding-left: 11px;
	padding-top: 5px;
	border-radius: 8px;
}
.compare-choice-block:last-child {
	width: 220px;
}
.compare-choice-block > div:last-child{
	margin-top: 0px;
	color: #354960;
}
.compare-choice-block > div > label{
	margin-left: 7px;
	margin-top: 4px;
	position: absolute;
}
.compare-choice-block #compare-prev-date,
.compare-choice-block #compare-highest-date,
.compare-choice-block #compare-lowest-date,
.compare-choice-block #compare-custom-date {
	display: inline-block;
	margin-left: 26px;
	margin-top: 15px;
	font-weight: lighter;
}
.choice-panel .compare-choice-block:nth-child(6) > div > label  {
	width: 150px;
}
#compare-prev-checkbox:checked + label {
	background: #F7AF25;
}
#compare-highest-checkbox:checked + label {
	background: #ED6D43;
}
#compare-lowest-checkbox:checked + label {
	background: #35BC99;
}
#compare-custom-checkbox:checked + label {
	background: #587EFF;
}
.compare-disabled label{
	color: #999999 !important;
}
#compare-dt-picker {
	position: absolute;
	display: inline-block;
	visibility: hidden;
}
#compare-prev-date{
	vertical-align: text-top;
}

#compare-calendar-icon {
	position: absolute;
	margin-left: 155px;
	margin-top: -2px;
	width: 22px;
	height: 24px;
}
#compare-choice-clear{
	font-size: 10pt;
}

#unit-label {
	position: absolute;
	top: 10px;
	left: 10px;
	font-weight: bold;
	font-size: 10pt;
	color: #354960;
}
#unit-bg {
	position: absolute;
	top: 35px;
	right: 50px;
	width: 31%;
}

.last-summary-block {
	position: absolute;
	left: 120px;
	top: 60px;
	width: 155px;
	color: #354960;
}
.this-summary-block{
	position: absolute;
	left: 350px;
	top: 60px;
	width: 155px;
	color: #354960;
}
.summary-percentage-block {
	position: absolute;
	top: 84px;
	left: 642px;
	color: #373737;
}