
.manage-acc.chinese, .k-window-title.chinese {
	font-family: "Helvetica Neue Light",
 	"Helvetica Neue", Helvetica, Arial, "Lucida Grande", "Microsoft YaHei New",
 	"Microsoft Yahei", "微软雅黑", 宋体, SimSun , STXihei, "华文细黑", sans-serif;
 	-webkit-font-smoothing: antialiased;
	font-size: 14px;
}

.manage-acc, .k-window-title {
	font-family: 'ITCAvantGardeStd', "Helvetica Neue Light",
	"Helvetica Neue", Helvetica, Arial, "Lucida Grande", "Microsoft YaHei New",
	"Microsoft Yahei", "微软雅黑", 宋体, SimSun , STXihei, "华文细黑", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
}

.manage-acc {
	box-shadow: -2px 4px 5px 0 #e8e8e8;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 50px;
	width: 1002px;
	padding: 0;
	border-radius: 8px;
	background-color: #FCFCFC;
}

.manage-acc div.k-header {
	border-radius: 8px 8px 0 0;
    background-color: #9BCEDA;
    color: #FFFFFF;
    font-size: 1em;
    height: 40px;
    line-height: 40px;
    border: none;
}

.manage-acc .k-header .header-tab {
    border-right: 1px solid #FFFFFF;
    padding: 0 10px;
    display: inline-block;
}

.manage-acc .k-header .header-tab:first-child {
	border-radius: 8px 0 0 0;
}

.manage-acc .k-header .header-tab:hover,
.manage-acc .k-header .header-tab.selected-tab{
	background: linear-gradient(to bottom, #aee428, #67cd18);
}

.manage-acc .k-button.userAcc {
	margin-top: 26px;
	margin-bottom: 17px;
	margin-left: 26px;
}

.manage-acc .k-button.sharedAcc {
	margin-top: 54px;
	margin-bottom: 17px;
	margin-left: 26px;
}

.manage-acc .k-grid-header {
    padding: 0 !important;

}
.manage-acc .k-grid-content {
	overflow-y: visible;
}

.manage-acc .k-grid {
	margin: 0 10px 0 10px;
	padding: 0 0 10px 0;

	border: none;
	background-color: transparent;
}

.manage-acc .k-grid-header,
.manage-acc .k-grid-header .k-grid-header-wrap {
	border: none;
}

.manage-acc .k-grid-header .k-grid-header-wrap th {
	height: 40px;
	line-height: 40px;
	padding: 0;
	text-align: center;
	background-color: #354960;
	vertical-align: middle;
	border: 1px solid #354960;
}

.manage-acc .k-grid-header .k-grid-header-wrap th:first-child {
	padding-left: 23px;
	text-align: left;
}

.manage-acc .k-grid-header .k-grid-header-wrap th .k-link, 
.manage-acc .k-grid-header .k-grid-header-wrap th.k-header {
	font-size: 0.929em;
	font-weight: 600;
	color: #ffffff;
}

.manage-acc .k-grid-content tr {
	height: 40px;
}

.manage-acc .k-grid-content tr td {
	border-color: #dbdbdb;
	font-size: 0.929em;
	font-weight: 300;
	color: #4a4a4a;
	text-align: center;
}

.manage-acc .k-grid-content tr td .k-button {
	height: 23px;
}

.manage-acc .k-grid-content tr td:first-child {
	font-size: 0.929em;
	font-weight: 600;
	color: #354960;
	padding-left: 0;
	text-align: left;
}

.manage-acc .k-grid-content tr td.empty-img {
	padding-left: 23px;
}

.manage-acc .k-grid-content tr:nth-child(even) {
	background-color: #e2e2e2;
}

.manage-acc .k-grid-content tr:nth-child(odd) {
	background-color: #ececec;
}

.manage-acc .k-grid-content img.delete-icon {
	width: 14px;
	height: 16px;
}

.manage-acc .k-grid-content img.delete-icon:hover {
	cursor: pointer;
}

.manage-acc .k-grid-content img.attention-icon {
	width: 13px;
	height: 13px;
	margin: 0 5px;
}

.manage-acc img.info-icon {
	margin-left: 10px;
	width: 19px;
	height: 27px;
	padding-top:8px;
}

.manage-acc .k-grid.sharedAcc tr td:first-child {
	padding-left: 23px;
}

/* popup -----*/
.popup-window.k-content {
	padding: 0;
}

.popup-window .k-content .popup-text {
	margin-top: 30px;
	margin-bottom: 12px;
	text-align: center;
}

.popup-window .k-content #userEmail {
	text-align: center;
}

.popup-window .k-content .buttons-wrap {
	text-align: center;
	margin: 30px 0;
}

.popup-window .k-content .buttons-wrap .k-button{
	min-width: 70px;
}
/* ----- popup */