
.profile {
	font-family: 'ITCAvantGardeStd', "Helvetica Neue Light",
 	"Helvetica Neue", Helvetica, Arial, "Lucida Grande", "Microsoft YaHei New",
 	"Microsoft Yahei", "微软雅黑", 宋体, SimSun , STXihei, "华文细黑", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;

	box-shadow: -2px 4px 5px 0 #e8e8e8;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 50px;
	width: 1002px;
	padding: 0 15px;
	border-radius: 8px;
}

.profile.chinese {
	font-family: "Helvetica Neue Light",
 	"Helvetica Neue", Helvetica, Arial, "Lucida Grande", "Microsoft YaHei New",
 	"Microsoft Yahei", "微软雅黑", 宋体, SimSun , STXihei, "华文细黑", sans-serif;
}

.profile .k-textbox {
	
	font-weight: 300;
	font-size: 1.071em;
	color: #354960;
}