#saving-container {
	width: 1041px;
	height: 729px;
}

#saving-block {
	position: relative;
	width: 840px;
	top: 380px;
	left: 100px;
}

.saving-info {
	display: inline-block;
	text-align: center;
	width: 180px;
}

.saving-info > div {
	margin-top: 10px;
}

#co2-saving-info {
	margin-left: 40px;
}

.separate-line {
	width: 1px;
	height: 200px;
	display: inline-block;
	position: relative;
}

#saving-container .separate-line{
	background-color: blue;
	margin-left: 30px;
}

#target-block {
	width: 300px;
	top: -20px;
	display: inline-block;
	position: relative;
}

#target-block > div > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#archived_percentage {
	position: relative;
	text-align: center;
	top: -180px;
}

#target-block > div {
	text-align: center;
}

#money-saving-info {
	margin-left: 40px;
}

#carbon-footprint-container {
	width: 100%;
	height: 400px;
	background-color: #FFF1CD;
}

#carbon-footprint-bar {
	height: 50px;
}

#carbon-footprint-bar > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#carbon-footprint-bar > div {
	text-align: center;
	top: -30px;
	position: relative;
}

#carbon-footprint-desc {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	text-align: center;
}

.footprint-info {
	display: inline-block;
	text-align: center;
	width: 240px;
}

#tennis-courts-info {
	margin-left: 100px;
}

#carbon-footprint-block .separate-line{
	background-color: brown;
	margin-left: 10px;
}
