#page-container {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.main-saving-container {
	width: 100%;
	position: relative;
}

.saving-header {
	position: absolute;
	width: 100%;
	font-size: 0px;
}
.saving-header>div {
	display: inline-block;
	width: 50%;
	height: 120px;
	vertical-align: top;
}
.saving-consumption {
	background-color: rgba(242, 249, 251, 0.8);
}
.saving-consumption>h2 {
	padding-left: 30px;
	padding-top: 55px;
	font-size: 16pt;
	color: #354960;
	font-weight: lighter;
}
.saving-consumption>div {
	font-size: 30pt;
	font-weight: bold;
}

.saving-percent-symbol {
	font-size: 20pt;
}

.saving-consumption .positive-saving {
	color: #81D51D;
}
.saving-consumption .negative-saving {
	color: #D72335;
}

#target-block {
	position: relative;
	background-color: rgba(212, 111, 192, 0.8);
}
#target-block > div {
	display: inline-block;
}
.medal-block {
	position: absolute;
	top: -10px;
	left: 30px;
}
.medal-block > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#archived_percentage {
	position: absolute;
	width: 100%;
	top: 25px;
	text-align: center;
	font-size: 42px;
	color: #81D51D;
	font-weight: bold;
}
#archived_percentage span{
	font-size: 16pt;
}
.medal-text {
	position: absolute;
	width: 100%;
	top: 70px;
	color: #81D51D;
	font-size: 13pt;
	text-align: center;
}
.target-text-container {
	margin-left: 200px;
	margin-top: 30px;
}
.next-target-text{
	font-weight: bold;
	font-size: 16pt;
	color: #354960;
}
.next-target-percent{
	padding-top: 8px;
	font-weight: bold;
	font-size:20pt;
	color: #81d51d;
	width: 230px;
	margin-left: -5px;
}

.cumulative-saving-container {
	width: 100%;
	height: 346px;
	background-image: url(../images/progress/factory-bg-bottom.png);
}
.cumulative-saving-info {
	font-size: 0pt;
	height: 260px;
	text-align: center;
}
.cumulative-saving-title {
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 3px solid #FF0000;
}
.cumulative-saving-block {
	display: inline-block;
	width: 206px;
	text-align: center;
	vertical-align: top;
}
.cumulative-text {
	font-weight: bold;
	font-size: 16pt;
	line-height: 1.3em;
}
.cumulative-val {
	font-size: 21pt;
}

.positive-saving .cumulative-text {
	color: #81D51D;
}
.negative-saving .cumulative-text {
	color: #D72335;
}

.equal-symbol {
	width: 20px;
	height: 20px;
	vertical-align: top;
	margin-top: 50px;
}

.cumulative-separator {
	display: inline-block;
	vertical-align: top;
	width: 2px;
	height: 120px;
	background-color: #FFFF00;
	margin-top: 30px;
}

.taxi-desc {
	width: 300px;
	font-size: 10pt;
	color: #354960;
	margin-left: -25%;
}