#page-container {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.saving-header {
	height: 100px;
    background-color: #f2f9fb;
}
.saving-header h2 {
	padding-left: 30px;
    padding-top: 55px;
    font-size: 16pt;
    color: #354960;
    font-weight: lighter;
}
.saving-header span {
	font-size: 30pt;
    font-weight: bold;
}
.saving-header span span {
	font-size: 20pt;
}
.saving-header span.positive-saving {
	color: #81d51d;
}

#saving-container {
	width: 1058px;
	height: 729px;
}

#saving-block {
	position: relative;
	width: 1058px;
	height: 312px;
	top: 417px;
	background-color: rgba(255, 255, 255, 0.8);
	/*left: 100px;*/
}

.saving-info {
	display: inline-block;
	text-align: center;
	width: 200px;
}

.saving-info > div {
	margin-top: 10px;
	color: #354960;
}
.saving-info.positive-saving span {
	color: #81D51D;
}
.saving-info.negative-saving span {
	color: #D72335;
}

#co2-saving-info {
	margin-left: 140px;
	margin-top: 20px;
	font-weight: lighter;
	line-height: 1.3em;
	vertical-align: top;
}
#co2-saving-info span{
	font-weight: bold;
	font-size: 23pt;
	line-height: 1.3em;
}

.separate-line {
	width: 2px;
	height: 220px;
	display: inline-block;
	position: relative;
}

#saving-container .separate-line{
	background-color: #c5ebfa;
	margin-left: 30px;
	opacity: 0.6;
}

#target-block {
	width: 215px;
	top: -67px;
	margin-left: 30px;
	display: inline-block;
	position: relative;
}
#target-block > div {
	text-align: center;
}
#target-block > div > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#archived_percentage {
	position: relative;
	text-align: center;
	top: -190px;
	font-size: 42px;
	color: #81d51d;
	font-weight: bold;
}
#archived_percentage span{
	font-size: 16pt;
}
.next-target-text{
	margin-top: -38px;
	font-weight: bold;
	font-size: 16pt;
	color: #354960;
}
.next-target-percent{
	padding-top: 8px;
	font-weight: bold;
	font-size:20pt;
	color: #81d51d;
	width: 230px;
	margin-left: -5px;
}

#money-saving-info {
	margin-left: 40px;
	vertical-align: top;
	margin-top: 20px;
	font-weight: lighter;
	line-height: 1.3em;
	color: #354960;
}
#money-saving-info span{
	font-weight: bold;
	font-size: 21pt;
	line-height: 1.3em;
}

#carbon-footprint-container {
	width: 100%;
	height: 400px;
	background-color: #FFF1CD;
}

#carbon-footprint-bar {
	height: 50px;
}

#carbon-footprint-bar > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#carbon-footprint-bar > div {
	text-align: center;
	top: -35px;
	position: relative;
	color: #a97840;
	font-weight: bold;
	margin-left: -10px;
	font-size: 16pt;
}

#carbon-footprint-desc {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	text-align: center;
	height: 40px;
	color: #354960;
	font-size: 14pt;
	border-bottom: 1px solid #462d2d;
	border-top: 1px solid #462d2d;
}
#carbon-footprint-desc p{
	padding-top: 10px;
}
#carbon-footprint-desc span{
	color: #a97840;
	font-weight: bold;
}

.footprint-info {
	display: inline-block;
	text-align: center;
	width: 240px;
	margin-left: 18px;
	margin-top: 5px;
	height: 229px;
	vertical-align: top;
	line-height: 1.3em;
	color: #354960;
}

#tennis-courts-info {
	margin-left: 120px;
}
#tennis-courts-info span{
	font-weight: bold;
	font-size: 16pt;
	color: #b28650;
}

#elephants-info span{
	font-weight: bold;
	font-size: 16pt;
	color: #b28650;
	line-height: 1.3em;
}

#taxi-info span{
	font-weight: bold;
	font-size: 16pt;
	color: #b28650;
	color: #b28650;
	line-height: 1.1em;
}

#carbon-footprint-block .separate-line{
	background-color: #f8dd99;
	opacity: 0.7;
	margin-left: 14px;
	width: 2px;
	height: 215px;
	margin-top: 20px;
}
