.panel-header-right-menu h3, .sort-menu li {
	cursor: pointer;
	cursor: hand;
}

.panel-header-left-menu{
	width: 65% !important;
	font-size: 11pt;
}
#current-dt {
	top: 8px;
	right: 0px;
	padding-right: 10px;
	position: absolute;
	color: white;
}

.panel-header-right-menu {
	position: absolute;
	right: 0px;
	height: 100%;
	background-color: #699eab;
	border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}
.panel-header-right-menu h3 {
	float: right;
	height: 26px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	border-left: solid 1px #fff;
	color: #fff;
	font-size: 11pt;
}
.panel-header-right-menu h3:first-child {
	border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}
.panel-header-right-menu .sort-by-btn {
	padding-left: 10px;
	padding-right: 10px;
}
.panel-header-right-menu h3.selected-submenu {
	background-color: #7fd51e;
}

.sort-menu {
	display: none;
	position: absolute;
	width: 100px;
	height: 60px;
	z-index: 100;
	top: 33px;
	left: 1px;
	background-color: #FF00FF;
}

#ranking-item-container {
	margin-top: 0px !important;
}
.ranking-item {
	position: absolute;
	height: 122px;
	width: 100%;
	border-bottom: 2px solid #f7f7f7;
	background-color: #fcfcfc;
}
.rank-name{
	position: absolute;
	font-size: 10pt;
	width: 180px;
	height: 11px;
	margin-left: 100px;
	margin-top: 30px;
	padding-left: 30px;
	padding-top: 4px;
	padding-bottom: 5px;
	background-color: #699eab;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #fff;
	font-weight: bold;
}
.ranking-total-or-person .rank-separate-line {
	position: absolute;
	top: 97px;
	left: 80px;
	width: 892px;
	height: 2px;
	background-color: #fbac1c;
}
.ranking-percent .rank-separate-line {
	position: absolute;
	top: 59px;
	left: 80px;
	width: 229px;
	height: 2px;
	background-color: #fbac1c;
}
.rank-img {
	position: absolute;
	width: 86px;
	height: 86px;
	margin-left: 40px;
	margin-top: 15px;
	border-radius: 50px;
	background-size: 86px 86px;
	z-index: 800;
}
.rank-cover-img {
	position: absolute;
	width: 117px;
	height: 90px;
	margin-top: 15px;
	margin-left: 10px;
	z-index: 1000;
}
.rank-digit {
	position: absolute;
	top: 29px;
	left: 18px;
	width: 24px;
	font-size: 11pt;
	color: #fff;
	text-align: center;
	z-index: 1200;
}
.rank-detail-value {
	position: absolute;
	right: 0px;
	width: 204px;
	height: 32px;
	margin-top: 50px;
	background-color: #699eab;
	color: #fff;
	padding-top: 13px;
	padding-left: 54px;
	font-size: 14pt;
	font-weight: bolder;
	letter-spacing: 0.02em;
}
.ranking-total-or-person .rank-meter-bar {
	position: absolute;
	top: 68px;
	height: 27px;
	width: 580px;
	left: 100px;
	background-image: url(../images/ranking/rank-meter-bar-bg.png);
}
.ranking-total-or-person .rank-meter-bar-inner {
	height: 100%;
	background-color: #04B73A;
	opacity: 0.6;
}
.ranking-percent .rank-meter-bar-container {
	position: absolute;
	top: 26px;
	right: 45px;
	width: 575px;
	height: 80px;
}
.ranking-percent .rank-meter-bar {
	position: absolute;
	width: 573px;
	height: 35px;
	left: 1px;
	background-color: #f8f8f8;
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
}
.ranking-percent .rank-meter-bar>div {
	position: relative;
	top: 4px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../images/ranking/rank-meter-bar-bg.png);
	width: 565px;
	height: 27px;
}
.ranking-percent .rank-meter-bar-inner {
	position: absolute;
	height: 100%;
	opacity: 0.6;
}
.ranking-percent .rank-positive .rank-meter-bar-inner {
	background-color: #C00000;
	left: 286px;
}
.ranking-percent .rank-negative .rank-meter-bar-inner {
	background-color: #04B73A;
	right: 287px;
}
.meter-indicator {
	position: absolute;
	width: 48px;
	height: 32px;
	top: 40px;
}
.meter-indicator>div{
	font-size: 10pt;
	font-weight: bold;
	color: #fff;
	margin-top: 14px;
	margin-left: 2px;
	margin-right: 2px;
	text-align: center;
}
.ranking-percent .rank-positive .meter-indicator {
	background-image: url(../images/ranking/meter-indicator-red.png);
}
.ranking-percent .rank-negative .meter-indicator {
	background-image: url(../images/ranking/meter-indicator-green.png);
}
.rank-meter-bar-middle {
	position: absolute;
	top: 0px;
	left: 281px;
	width: 2px;
	height: 27px;
	background-color: #bdbdbd;
	z-index: 10;
}