.panel-header-right-menu h3, .sort-menu li {
	cursor: pointer;
	cursor: hand;
}

.panel-header-left-menu{
	width: 62.5% !important;
	font-size: 11pt;
}
#current-dt {
	top: 8px;
	right: 0px;
	padding-right: 10px;
	position: absolute;
	color: white;
}

.panel-header-right-menu {
	position: absolute;
	right: 0px;
	height: 100%;
	background-color: #699eab;
	border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}
.panel-header-right-menu h3 {
	float: right;
	height: 26px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	border-left: solid 1px #fff;
	color: #fff;
	font-size: 11pt;
}
.panel-header-right-menu h3:first-child {
	border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}
.panel-header-right-menu .sort-by-btn {
	padding-left: 10px;
	padding-right: 14px;
}
.panel-header-right-menu h3.selected-submenu {
	background-color: #7fd51e;
}
.panel-header-right-menu h3:hover{
	background: -webkit-linear-gradient(top, #aee428, #67cd18);
	background: -o-linear-gradient(top, #aee428, #67cd18);
	background: -moz-linear-gradient(top, #aee428, #67cd18);
	background: linear-gradient(to bottom, #aee428, #67cd18);
}

.drop-down-panel-content>p{
	position: absolute;
	font-size: 11pt;
	line-height: 1.3em;
	color: #354960;
	top: 19px;
	left: 750px;
	right: 15px;
}

.sort-menu {
	display: none;
	position: absolute;
	width: 100px;
	height: 95px;
	z-index: 100;
	top: 33px;
	left: 1px;
	background-color: #354960;
	color: white;
	font-size: 11pt;
}
.sort-menu li{
	padding: 8px 2px 8px 11px;
	border-bottom: 1px solid #ffffff;
}
.sort-menu li:hover{
	background: -webkit-linear-gradient(right, #aee428, #67cd18);
	background: -o-linear-gradient(left, #aee428, #67cd18);
	background: -moz-linear-gradient(left, #aee428, #67cd18);
	background: linear-gradient(to left, #aee428, #67cd18);
}

#ranking-item-container {
	height: 490px;
	overflow: scroll;
	margin-top: 0px !important;
}
.ranking-item {
	position: absolute;
	height: 120px;
	width: 100%;
	border-bottom: 3px solid #F7F7F7;
	background-color: #F5F5F5;
}
.rank-name{
	position: absolute;
	font-size: 10pt;
	width: 300px;
	height: 11px;
	margin-left: 105px;
	margin-top: 30px;
	padding-left: 30px;
	padding-top: 4px;
	padding-bottom: 5px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #354960;
	font-weight: bold;
}
.ranking-total-or-person .rank-separate-line {
	position: absolute;
	top: 94px;
	left: 80px;
	width: 875px;
	height: 1px;
	background-color: #D5D5D5;
}
.ranking-total-or-person .rank-separate-line-top {
	position: absolute;
	top: 57px;
	left: 80px;
	width: 875px;
	height: 1px;
	background-color: #D5D5D5;
}
.ranking-percent .rank-separate-line {
	position: absolute;
	top: 52px;
	left: 80px;
	width: 248px;
	height: 2px;
	background-color: #DEDEDE;
}
.rank-img {
	position: absolute;
	width: 86px;
	height: 86px;
	margin-left: 40px;
	margin-top: 15px;
	border-radius: 50px;
	background-size: 86px 86px;
	z-index: 800;
}
.rank-cover-img {
	position: absolute;
	width: 117px;
	height: 90px;
	margin-top: 15px;
	margin-left: 10px;
	z-index: 1000;
}
.rank-digit {
	position: absolute;
	top: 29px;
	left: 18px;
	width: 24px;
	font-size: 11pt;
	color: #fff;
	text-align: center;
	z-index: 1200;
}
.rank-detail-value {
	position: absolute;
	right: 0px;
	width: 200px;
	height: 29px;
	margin-top: 57px;
	padding-top: 8px;
	padding-right: 18px;
	font-size: 16pt;
	font-weight: bolder;
	letter-spacing: 0.02em;
	color: #354960;
	text-align: right;
}
.rank-detail-value>span {
	font-size: 10pt;
}
.ranking-total-or-person .rank-meter-bar {
	position: absolute;
	top: 62px;
	height: 27px;
	width: 580px;
	left: 100px;
	background-image: url(../images/ranking/rank-meter-bar-bg.png);
	border-right: 3px solid #C7C7C7;
}
.ranking-total-or-person .rank-meter-bar-inner {
	height: 100%;
	background: linear-gradient(to right, #7dd790 , #01a65a);
	opacity: 0.7;
	border-top-right-radius: 15px; 
	border-bottom-right-radius: 15px;
	box-shadow: 1px 1px 1px #888888;
}
.ranking-percent .rank-meter-bar-container {
	position: absolute;
	top: 65px;
	right: 35px;
	width: 620px;
	height: 34px;
}
.ranking-percent .rank-meter-bar {
	position: absolute;
	width: 620px;
	height: 34px;
	background-color: #F8F8F8;
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
}
.ranking-percent .rank-meter-bar>div {
	position: relative;
	top: 4px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../images/ranking/rank-meter-bar-bg.png);
	width: 610px;
	height: 26px;
}
.ranking-percent .rank-meter-bar-inner {
	position: absolute;
	height: 100%;
	opacity: 0.8;
	box-shadow: 1px 1px 1px #888888;
}
.ranking-percent .rank-positive .rank-meter-bar-inner {
	background: linear-gradient(to right, #F3AE9B , #ED6D4A);
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
.ranking-percent .rank-negative .rank-meter-bar-inner {
	background-color: #04B73A;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
.meter-indicator {
	font-size: 8pt;
	position: absolute;
	width: 48px;
	height: 32px;
	top: 0px;
}
.meter-indicator>div{
	font-size: 12pt;
	font-weight: bold;
	color: #FFF;
	margin-top: 9px;
	margin-left: 2px;
	margin-right: 25px;
	text-align: center;
	text-shadow: 0px 0px 4px #000000;
}
.ranking-percent .rank-positive .meter-indicator {
}
.ranking-percent .rank-negative .meter-indicator {
}
.rank-meter-bar-middle {
	position: absolute;
	top: 0px;
	width: 2px;
	height: 27px;
	background-color: #bdbdbd;
	z-index: 10;
}