.report-component {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 972px;
	margin-top: 25px;
	-moz-box-shadow: -6px 6px 10px 0px #e8e8e8;
	-webkit-box-shadow: -6px 6px 10px 0px #e8e8e8;
	box-shadow: -6px 6px 10px 0px #e8e8e8;
}

.basic-info-container {
	width: 100%;
}

.basic-info-col {
	width: 33%;
	display: inline-block;
}

.report-component-footer {
	position: relative;
	width: 100%;
	height: 30px;
}

.report-component-footer button {
	position: absolute;
	top: 8px;
	right: 0px;
}
