.conversational-confirm-btn, .conversational-cancel-btn,
.info-btn, .info-tooltip-close-btn, .normal-action-block>img,
.confirm-action-block>img{
	cursor: pointer;
	cursor: hand;
}

.panel-header-left-menu {
	position: relative;
	width: auto;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

.main-content-container {
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
}

.create-alert-container {
}

.choose-alert-title {
}

.choose-alert-container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.choose-alert-block {
	display: inline-block;
}
.choose-alert-info-block {
	border-color: #000;
	position: relative;
}
.choose-alert-info-block .info-btn {
	width: 30px;
	height: 30px;
	background-color: #ff00ff;
}
.info-tooltip {
	display: none;
	position: absolute;
}
.choose-alert-btn {
}

.alert-header {
	position: relative;
	border-bottom: solid 2px #99FF99;
	text-align: center;
}
.alert-header-img {
	position: absolute;
	left: 0px;
}
.alert-header-title {
}
.alert-header-info-btn {
	position: absolute;
	right: 0px;
}

.content-table {
	width: 100%;
}
.table-header>div {
	display: inline-block;
	font-size: 9pt;
}
.alert-row>div {
	display: inline-block;
}
.confirm-action-block {
	display: none;
}