{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load entrak_extras %}

{% block extra_head %}
{{block.super}}

<link rel="shortcut icon" href="{% static 'images/entrak-favicon.png' %}">
<!-- v4 side menu and header css -->
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<!-- v3 side menu and header css -->
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{% static 'js/superfish-master/dist/css/superfish.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'js/superfish-master/dist/css/superfish-vertical.css' %}">

<script src="{% static 'assets/jquery/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'assets/jquery/jquery-ui.js' %}"></script>
<script src="{% static 'js/arboreal-customized.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/superfish-master/dist/js/superfish.min.js' %}"></script>

<script src="{% static 'js/jquery-cookie-master/jquery.cookie.js' %}"></script>
<script src="{% static 'js/csrf_ajax.js' %}"></script>

<link href="{% static 'assets/kendoui/styles/kendo.common.min.css' %}" rel="stylesheet">
<link href="{% static 'css/kendo.entrak.theme.css' %}" rel="stylesheet">
<script src="{% static 'assets/kendoui/js/angular.min.js' %}"></script>
<script src="{% static 'assets/kendoui/js/kendo.all.min.js' %}"></script>

<!-- copied from bootstrap -->
<style>
.text-center {
    text-align: center;
}
</style>
{% endblock %}

{% block extra_script %}

<script type="text/javascript">
{% get_current_language as LANGUAGE_CODE %}

var page = {};
var noti_datasource;

$(function() {
    setupAjaxForCsrf($.cookie('csrftoken'));
    {% for system in user_systems %}
        var system = {};
        system.code = '{{system.code}}';
        system.name = '{{system|get_system_name:LANGUAGE_CODE}}';
        system.path = '{{system.path}}';
        system.sources = {};

        {% if forloop.first %}
        page.userSystemTree = new Arboreal(null, system);
        {% else %}
        parentCodes = $(system.path.split(',')).filter(function(){
            return this != "";
        });
        parentCode = parentCodes[parentCodes.length - 1];
        parentNode = page.userSystemTree.find(function (node) {
            return node.data.code == parentCode;
        });
        parentNode.appendChild(system);
        {% endif %}
    {% endfor %}





    var menuTreeDom = null;
    page.userSystemTree.traverseDown(function (node) {
        var aDom = $('<a href="#" onclick="return false;">' + node.data.name +'</a>');
        aDom.click({node: node}, function(event) {
            if (page.userSystemTree.data.node !== event.data.node) {
                window.location.href = "/" + event.data.node.data.code + "/{% block system_menu_target_view %}{% endblock %}/";
            }
        });
        var appendDom = $('<li system_code="' + node.data.code + '">');
        appendDom.append(aDom);

        var parentNode = node.parent;
        if (parentNode !== null) {
            var targetDom = null;
            var parentDom = menuTreeDom.find('*').andSelf().filter("li[system_code='" + parentNode.data.code + "']");
            var ulDoms = parentDom.find("> ul");
            if (ulDoms.length === 0) {
                targetDom = $("<ul></ul>");
                parentDom.append(targetDom);
            } else {
                targetDom = ulDoms;
            }

            targetDom.append(appendDom);
        } else {
            menuTreeDom = appendDom;
        }
    });


    $("#system-menu ul").append(menuTreeDom);

    $('#system-menu').superfish({
    });

    $("#{% block selected-menu-link-id %}menu-link-home{% endblock %}").addClass('menu-links-selected');

    $(".change-lang-block > a").click(function(event) {
        event.preventDefault();
        $('.change-lang-form input[name=language]').val($(this).attr('lang_code'));
        $('.change-lang-form').submit();
    });

    // notifications
    $('#notifications').kendoWindow(
        {
            width: "600px",
            title: false,
            modal: true,
            visible: false
        }
    );
    $('#notifications').parent().addClass("notification-wrapper");

    var notiwin = $('#notifications').data('kendoWindow');

    // create datasource for notifications api
    noti_datasource = new kendo.data.DataSource({
        transport: {
            read: {
                url: "{% url 'companies.notifications.messages' system_code=systems.0.code %}",
                dataType: "json"
            }
        },
        change: function() {
            var data = this.view();
            if (this.total() != 0) {
                var tpl = kendo.template($('#notificationsTemplate').html());
                notiwin.content(tpl(data[0]));
                notiwin.open().center();
            }
        }
    });

    noti_datasource.read();


    //v4 menu hide/show 
    $("#menuIcon").click(function(){
      $("#menu").toggleClass("animate");
      $("#subPage").toggleClass("animate");
    });

});

function readMeesage(id) {
    $.ajax({
        url: "{% url 'notifications.read_message' 999999 %}".replace(999999, id),
        method: "PUT"
    }).done(function(data) {
        $('#notifications').data('kendoWindow').close();
        if (data["unread_messages"] >= 1) {
            setTimeout(function() {
                noti_datasource.read();
            }, 1000);
        }
    })
}
</script>



{% endblock %}

{% block content %}
{% get_current_language as LANGUAGE_CODE %}
<div class="grey_layer">
    <div class="loadingInfo">
        <div class="loadingIconBig"></div>
        <div class="loadingText"></div>
    </div>
</div>

<!-- v4 page header -->
<div class="pageHeader">
  <div class="headerLogo">
  </div><div class="headerBtns">
    <div class="settingIcon"></div>
    <div class="fxIcon"></div>
    <div id="menuIcon" class="btnIcon">
    </div><div id="energyIcon" class="btnIcon selected">
      <div class="energyImg"></div>
      <div>Energy</div>
    </div><div id="paperIcon" class="btnIcon">
      <div class="paperImg"></div>
      <div>Paper</div>
    </div><div id="waterIcon" class="btnIcon">
      <div class="waterImg"></div>
      <div>Water</div>
    </div><div class="greyText companyName">
      Sears Holding Global Sourcing
    </div>
  </div>
</div>
<!-- v4 page content -->
<div id="content">
  <div id="menu">
    <a class="menuItem selected">
      <div class="itemColor"></div>
      <div class="itemContent dashboardIcon">Dashboard</div>
    </a>
    <a class="menuItem">
      <div class="itemColor"></div>
      <div class="itemContent exploreIcon">Explore</div>
    </a>
    <a href="{% url 'companies.report' system_code=systems.0.code %}" class="menuItem">
      <div class="itemColor"></div>
      <div class="itemContent reportsIcon">Reports</div>
    </a>
    <a class="menuItem">
      <div class="itemColor"></div>
      <div class="itemContent alertsIcon">Alerts</div>
    </a>
    <a class="menuItem">
      <div class="itemColor"></div>
      <div class="itemContent downloadIcon">Download</div>
    </a>
  </div><div id="subPage"><!-- update height later-->
     {% block page_content %}{% endblock %}
  </div>
</div>



{% block footer %}
{% get_current_language as LANGUAGE_CODE %}
<footer class="site-footer">
    <!-- <p style="clear: both;"></p>
    <p id="copyright">Copyright © En-trak Hong Kong Ltd 2015. All rights reserved. </p>
    <a><img id="entrak-logo" src="{% static 'images/powered-by-logo.png' %}"></a>
    <p class="footer-main"><a class="footer-link" href="{% url 'faq' system_code=systems.0.code %}">FAQ </a> -->
    <!-- <a class="footer-link" href="{% url 'profile' system_code=systems.0.code %}"> |  Settings</a> -->
    <!-- <a class="footer-link" href="{% url 'disclaimer' system_code=systems.0.code %}"> |  Legal </a></p>
    <p style="clear: both;"></p> -->
</footer>
{% endblock %}

<style>
    .notification-wrapper p {
        margin-bottom: 0px !important;
        font-weight: lighter;
        width: 90%;
        font-size: 0.9em;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 0.03em;
        color: #354960;
        line-height: 1.32em;
    }

    .notification-wrapper {
        background: transparent !important;
        -webkit-box-shadow: none !important;
        bow-shadow: none !important;
        border: 0 !important;
    }

    #notifications {
        padding: 0;
        border-radius: 8px;
        background: transparent !important;
    }

    .notification-wrapper .body {
        background-color: #f4f4f4;
        color: #8c94a2 !important;
        padding: 20px;
        font-size: 2.2rem;
    }

    .notification-wrapper .body img {
        padding-bottom: 20px;
        width: 141px;
        height: 150px;
    }

    .notification-wrapper .title-bar {
        text-align: right;
    }

    .notification-wrapper .actions {
        background: url("{% static 'images/notifications/notification-arrow.png' %}") no-repeat scroll center top #4a8c9b;
    }

    .notification-wrapper .actions button {
        color: #ffffff;
        border: 0;
        background-color: #9bceda;
        padding: 8px 27px;
        box-shadow: 0px 2px 0px #6b9aa5 !important;
        border-radius: 5px;
        margin: 25px 0px 22px 0px;
    }

    .notification-wrapper .actions button:hover {
        color: #ffffff;
        border-color: rgba(0, 0, 0, 0);
        background-color: #74c62b;
    }

</style>

<script type="text/x-kendo-template" id="notificationsTemplate">
    <div class="text-center">
    <div class="body">
      <div class="title-bar">
          <!--<button onclick="$('\\#notifications').data('kendoWindow').close();">X</button>-->
      </div>
      <img alt="good news" src="{% static 'images/notifications/good_news.png' %}">
      <p>#:body#</p>
    </div>
    <div class="actions">
    <button class="xk-button" onclick="readMeesage(#:id#);">OK</button>
    </div>
</script>
<div id="notifications"></div>

{% endblock %}
